.bestseller_block .item {  margin: 0 5px; float:left;padding:0; position:relative;}
.bestseller_block .item .block {}
.bestseller_block .end { display: none;}
.bestseller_block .item .right_line { display:block;}