html, body {height: 100%}
*, html, body {margin: 0px; padding: 0px}
body {background-color: #fff; height: 100%; width: 100%}
img {border: 0}
.clear {clear: both; height: 0px}
h1 {font: bold 18px Verdana, sans-serif; color: #333131}
a {color: #8a8a8a; text-decoration: none}
a:hover {color: #bbb6b6; text-decoration: none}


/*intro*/
#main_center_int {height: 624px; width: 800px; position: relative; margin: 0 auto; min-width: 800px; background-color: #fff}
#main_bg {background: url(/images/main_center_bg.gif) no-repeat; height: 494px; width: 800px;  text-align: top}
#intro_content {padding: 170px 0 0 138px}
#intro_content form  {font: 12px Verdana, sans-serif; color: #fff; padding: 46px 0 0 150px}
#intro_content form p {font: 12px Verdana, sans-serif; color: #ff1717; width: 220px; text-align: center}
#intro_content .txt {width: 222px; padding: 1px 1px 1px 8px; background: url(/images/h.gif) no-repeat; height: 17px; border: solid 2px #fff; margin-top: 1px; font: 12px Arial, Tahoma, sans-serif; color: #fff}
#intro_content #login {margin-bottom: 8px}
.btn {background: url(/images/hm_button_normal.gif) no-repeat; height: 17px; width: 106px; margin: 12px 277px 0 18px; float: right; text-decoration: none}
#footer_intro {padding: 160px 0 0 0; width: 100%}
#robo_img {background: url(/images/intro_robo_img.jpg) no-repeat; width: 100%; height: 80px; background-position: 230px 0}
#text {text-align: center; margin: 16px 100px 0 0; font: 12px Arial, Tahoma, sans-serif; color: #000}

#text a {font: 12px Arial, Verdana, sans-serif; color: #000}
#text a:hover {font: 12px Verdana, sans-serif; color: #000; text-decoration: none}
#intro_content span.btn a, #intro_main_img span.btn a:visited {background: url(/images/hm_button_normal.gif) no-repeat ;height: 19px; width: 108px; padding-top: 2px; margin: 12px 277px 0 18px; float: right; text-align: center; font: 12px Arial, Tahoma, sans-serif; color: #000; text-decoration: none}
#intro_content span.btn a:hover {background: url(/images/hm_button_active.gif) no-repeat}
/*intro*/
/*index*/


#menu {padding-top: 1px}
#menu li ul {margin: 0; padding: 0; left: 8px}
.isIE6 #menu li{
	unicode-bidi: expression(
		runtimeStyle.unicodeBidi='normal',
		(this==parentNode.firstChild)?className+=' first-child':'',
		onmouseover=function(){className+=' hover'},
		onmouseout=function(){className=className.replace(' hover','')}
		);
	}



/*index*/
/*help*/
#content_help {font: 11px Verdana, sans-serif; color: #676767; float: right; height: 100%; position: relative; padding: 2px; background: url(/images/redactor_headbg_longer.gif) repeat-x; border: 1px solid #e7e7e7}
#help_head {width: 100%; font: bold 12px Verdana, sans-serif; color: #343434; height: 25px}
table.help_title {margin-top: 4px}
table.help_title td {padding-right: 8px}
.help_footerbg_longer {width: 100%; height: 31px; background: url(/images/redactor_footer_longer.gif) repeat-x; float: left}
#help_text p {padding: 6px 0 8px 4px}
/*help*/

#head_menu_left table td a, #head_menu_right table td a {font: bold 12px Arial, Tahoma, sans-serif; color: #8a8a8a; text-decoration: none}
#head_menu_left table td a:hover, #head_menu_right table td a:hover {font: bold 12px Arial, Tahoma, sans-serif; color: #bbb6b6}
.blue a {color: #5dd5e3}
a.blue {color: #5dd5e3}
/*index*/

/*basket*/
#basket_main_head, #basket_main_head a {width: 100%; font: bold 12px Verdana, sans-serif; color: #343434; margin-top: 0px}
.basketbg_longer {width: 97%; height: 25px; background: url(/images/basketbg_longer.gif) repeat-x; float: left}
.basketbg_longer div {float: left; text-align: center; margin-top: 4px}
.basket_head .left_y {width: 9px; height: 25px; float: left; background: url(/images/left_y.gif) no-repeat}
.basket_head .right_y {width: 9px; height: 25px; float: left; background: url(/images/right_y.gif) no-repeat}
.delel_span {width: 40%}
.date_span {width: 20%}
.re_span {width: 25%}
.del_span {width: 15%}
td.delel_span {width: 40%}
td.date_span {width: 20%}
td.re_span {width: 25%}
td.del_span {width: 12%}
#basket_table {float: left; width: 100%; padding-right: 6px}
#basket_table td {border: 1px solid #dfdfdf; border-left: none; height: 34px; text-align: center; font: 12px Verdana, sans-serif; color: #343434}
/*basket*/

/*redactor*/
#redactor_main_head {width: 100%; height: 100%; font: bold 12px Verdana, sans-serif; color: #343434}
.redactor_headbg_longer {width: 96%; height: 31px; background: url(/images/redactor_headbg_longer.gif) repeat-x; float: left}
.redactor_head .left_y {width: 15px; height: 31px; float: left; background: url(/images/redactor_head_left.gif) no-repeat}
.redactor_head .right_y {width: 15px; height: 31px; float: left; background: url(/images/redactor_head_right.gif) no-repeat}
table.red_title {margin-top: 8px}
table.red_title td {padding-right: 8px}
.redactor_img {background: url(/images/redactor_head_img.gif) no-repeat; width: 18px; height: 18px}
#redactor_content {height: 100%%; background: url(/images/redactor_longer.gif) repeat-y; width: 100%}
.redactor_footerbg_longer {width: 96%; height: 31px; background: url(/images/redactor_footer_longer.gif) repeat-x; float: left}
.redactor_footer .left_y {width: 15px; height: 31px; float: left; background: url(/images/redactor_footer_left.gif) no-repeat}
.redactor_footer .right_y {width: 15px; height: 31px; float: left; background: url(/images/redactor_footer_right.gif) no-repeat}
/*redactor*/

/*news*/
#newsr_content {height: 100%%; background: url(/images/redactor_longer.gif) repeat-y; width: 100%}
.head_change_table {text-align: center; margin-left: 3px; font: 12px Verdana, sans-serif; color: #5dd5e3}
.head_change_table td.normal {width: 116px; height: 26px; background: url(/images/news_head_btn_norm.gif) no-repeat; padding-bottom: 6px}
.head_change_table td.active {width: 116px; height: 26px; background: url(/images/news_head_btn_active.gif) no-repeat; padding-top: 2px}
.head_adding {margin: 0 0 20px 37px; width: 46%}
#news_main_head {width: 100%; height: 100%}
.news_headbg_longer {width: 96%; height: 28px; background: url(/images/news_headbg_longer.gif) repeat-x; float: left}
.news_head .left_y {width: 17px; height: 28px; float: left; background: url(/images/news_head_left.gif) no-repeat}
.news_head .right_y {width: 15px; height: 28px; float: left; background: url(/images/news_head_right.gif) no-repeat}
#news_table {width: 90%; margin-left: 36px; border-left: 1px solid #dfdfdf}
#news_table a {font: 12px Verdana, sans-serif; color: #5dd5e3}
#news_table td {border: 1px solid #dfdfdf; border-left: none; height: 34px; text-align: center; font: 12px Verdana, sans-serif; color: #343434}
#news_table .head td {background: url(/images/bg_th_news.gif) repeat-x; border: 1px solid #dfdfdf; border-left: none; height: 18px; text-align: center; font: 12px Verdana, sans-serif; color: #343434}
td.le_news {width: 50%}
td.active_news {width: 17%}
td.corr_news {width: 17%}
td.del_news {width: 16%}
.btn_app {margin: 20px 0 0 636px}

.head_adding td a {font: bold 12px Verdana, sans-serif; color: #2a7ca5}
.head_adding td a:hover {font: bold 12px Verdana, sans-serif; color: #5dd5e3}
.head_change_table  a {font: 12px Verdana, sans-serif; color: #343434}
.head_change_table a:hover {font: 12px Verdana, sans-serif; color: #343434}
/*news*/

/*config*/
#config_table {width: 90%; margin-left: 36px; border-left: 1px solid #dfdfdf}
#config_table a {font: 12px Verdana, sans-serif; color: #343434}
#config_table a:hover {font: 12px Verdana, sans-serif; color: #5dd5e3}
#config_table td {border: 1px solid #dfdfdf; border-left: none; height: 34px; text-align: center; font: 12px Verdana, sans-serif; color: #343434}
#config_table .head td {background: url(/images/bg_th_news.gif) repeat-x; border: 1px solid #dfdfdf; border-left: none; height: 18px; text-align: center; font: 12px Verdana, sans-serif; color: #343434}
td.le_config {width: 38%}
td.active_config {width: 20%}
td.edit_config {width: 17%}
td.corr_config {width: 15%}
td.del_config {width: 10%}
.btn_app {margin: 20px 0 0 636px}
.edit_page {margin: 15px 0 0 7px}
.edit_page select  {width: 138px; height: 20px}
/*config*/

/*footer*/
#footer {width: 100%; height: 39px; height: "39px"; background: url(/images/footer_bg.gif) repeat-x; font: 12px Tahoma, sans-serif; color: #000; text-align: bottom; position: absolute; margin-top: 30px; bottom: 0}
#footer_left {width: 233px; height: 39px; background: url(/images/footer_leftbg.gif) no-repeat; float: left; text-align: center}
#footer_left p {margin-top: 10px}
#footer_right {width: 767px; height: 39px; background: url(/images/footer_rightbg.gif) no-repeat; float: right}
#footer_right p {float: right; margin: 10px 30px 0 0}
#footer_right a {font: 11px Verdana, sans-serif; color: #0fb1c4; margin-left: 4px}
#footer_right a:hover {color: #0a8c9b}
/*footer*/

/*new blocks*/
#menu_fly_block {font: 12px Verdana, sans-serif; color: #5dd5e3; line-height: 15px; background-color: #1a4566; width: 120px; padding: 8px}
#menu_fly_block li {border-bottom: 1px solid }#56c5e9

.btn_cool {height: 25px; text-align: center}
.btn_cool a {font: 12px Verdana, sans-serif; color: #fff}
.btn_cool p {padding-top: 4px}
.btn_cool_left {background: url(../images/btn_cool_left.gif) no-repeat; float: left; height: 25px; width: 15px}
.btn_cool_longer {background: url(../images/btn_cool_longer.gif) repeat-x; float: left; height: 25px; width: 95px}
.btn_cool_right {background: url(../images/btn_cool_right.gif) no-repeat; float: left; height: 25px; width: 15px}
/*new blocks*/

 table.item {border: solid 1px #CCCCCC; width:700px; border-collapse:collapse; }
	.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
	.item td.main {text-align:left;}
	.sel {width:95%;}
	.text {width:95%;}
	.tab {
		
		display:none;
		
		padding-bottom: 15px;
	}
	.link {width: 90%; text-align: right;}