
.ddheader a { width:50px; height:30px; display:block; line-height:30px; padding-right:45px; font-size:14px; color:#f26522; text-decoration:underline; padding-left:10px; background:url(/img/ico_cart.gif) no-repeat 71px 4px; margin:0px;}
.ddheader a.on { background:url(/img/ico_cart_on.gif) no-repeat 70px 3px; }
.ddheader a.hover { background:url(/img/cart_hover.gif) no-repeat left; color:#fff;}
.ddcontent {position:absolute; right:0px; overflow:hidden;  display:none; background:#fff; z-index:200; width:255px;}
.ddinner {width:255px; background:#b2bd1f;}
.ddinner .in { padding:5px;}
.ddinner .in .conts { border-bottom:1px solid #e0e3ed; padding-bottom:5px; margin-bottom:5px;}
.ddinner .in .no_bordr { border:none;}
.ddinner .in .left { float:left; width:140px; font-size:13px;}
.ddinner .in .left small { display:block; font-size:11px; color:#555;}
.ddinner .in .right { float:right; width:85px; font-size:13px; color:#fff;}
.ddinner .in .right a { font-size:11px; display:block; color:#0076a3; background:url(/img/ico_del.gif) no-repeat 42px 3px; text-decoration:underline;}
.ddinner .in .carts { background:url(/img/bg_carts.gif) no-repeat center; height:35px; overflow:hidden; padding-top:5px; text-align:center;}
.ddinner .in .carts input { cursor:pointer;}
.box { border:4px solid #D5D4D4; background:#FFFFFF none repeat scroll 0 0; width: 200px; padding:5px; z-index:10; margin-bottom:10px;}