	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 12:42
  	*/

@font-face {
  font-family: 'Flaticon';
  src: url('../fonts/Flaticon.eot');
  src: url('../fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Flaticon.woff') format('woff'),
       url('../fonts/Flaticon.ttf') format('truetype'),
       url('../fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows-2:before { content: "\f102"; }
.flaticon-interface:before { content: "\f103"; }
.flaticon-mountain:before { content: "\f104"; }
.flaticon-ribbon:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }
.flaticon-shapes:before { content: "\f107"; }
.flaticon-silhouette:before { content: "\f108"; }
.flaticon-social:before { content: "\f109"; }
.flaticon-social-media:before { content: "\f10a"; }
.flaticon-social-media-1:before { content: "\f10b"; }
.flaticon-sport:before { content: "\f10c"; }
.flaticon-telephone:before { content: "\f10d"; }
.flaticon-tool:before { content: "\f10e"; }
.flaticon-transport:before { content: "\f10f"; }
.flaticon-transport-1:before { content: "\f110"; }
.flaticon-travel:before { content: "\f111"; }
.flaticon-woman:before { content: "\f112"; }
  /*
Font generated by <a href="http://www.flaticon.com">flaticon.com</a>. <p>Under <a href="http://creativecommons.org/licenses/by/3.0/">CC</a>: <a data-file="social-media" href="http://www.flaticon.com/authors/icomoon">Icomoon</a>, <a data-file="search" href="http://www.flaticon.com/authors/dave-gandy">Dave Gandy</a>, <a data-file="arrows-1" href="http://www.flaticon.com/authors/google">Google</a>, <a data-file="woman" href="http://www.freepik.com">Freepik</a></p>  
    */