/**
 * Checkator jQuery Plugin
 * A plugin for radio and checkbox elements
 * version 1.1, Dec 20th, 2013
 * by Ingi P. Jacobsen
 */

/* RESET */
input[type=radio],
input[type=checkbox] {
	margin-bottom: 0;
}

/* SOURCE ELEMENT (when checkator is enabled on an element) */
.checkator_source {
	position: relative;
	z-index: 2;
	display: block;
}

/* SHARED SETTING */
.checkator_holder { /* Holder for the new element */
	display: inline-block;
	position: relative;
}
.checkator_element { /* New element */
	border: 2px solid #abadb3;
	background-color: #fff;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.checkator_source:checked+.checkator_element:after { /* Checked element dot */
	background-color: #666666;
	display: block;
	content: ' ';
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	position: absolute; /* Checked element dot */
	border-radius: 2px;
}
.checkator_source:focus+.checkator_element { /* Focused element */
	/*border: 2px solid #cc0;*/
}
.checkator_source:hover+.checkator_element {
	/*border: 2px solid #79b;*/
	/*background-color: #def;*/
}


/* RADIO SETTINGS */
.checkator_element.radio {
	border-radius: 50% !important;
}
.checkator_element.radio:after {
	border-radius: 50% !important;
}

/* CHECKBOX SETTINGS */
.checkator_element.checkbox {;
	border-radius: 2px;;
	border: 1px solid #b8ced1;;
}
