@media (max-width:767px) {

	h1 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 18px;
		padding-top: 0;
	}

	h4 {
		font-size: 16px;
		padding-bottom: 10px;
	}

	#content .inner {
		font-size: 12px;
	}

	.breadcrumb {
		padding-bottom: 10px;
	}

	.inner ul {
		padding-left: 15px;
		padding-bottom: 10px;
	}

	.adress,
	.typeprod,
	.sl .catalogSubitem,
	.news div,
	.articles > a,
	.articles div,
	.block.podbor,
	.sidebar:after,
	.services,
	.tringle-wall,
	.h-slider {
		display: none;
	}

	.header {
		background: #3c3c3c;
	}

	.top_menu {
		background: #fff;
	}
	.header-menu {
		background: inherit;
	}

	.f-bottom-contact,
	.sl .catalog_menu h3 a,
	.sl .news h3 a,
	.sl .articles h3 a,
	.mobile-button {
		display: block;
		position: relative;
		border-width: 1px;
		border-color: rgb(106, 206, 220);
		border-style: solid;
		background-color: rgb(94, 93, 93);
		width: 277px;
		height: 29px;
		line-height: 29px;
		text-align: center;
		font-size: 14px;
		color: rgb(255, 255, 255);
		margin: 0 auto;
	}

	.sl .news h3 a,
	.sl .articles h3 a {
		/*width: 133px;*/
	}

	.sl .catalog_menu h3 a,
	.sl .news h3 a,
	.sl .articles h3 a {
		padding: 0;
	}
	.all_news {
		display: none;
	}
	.articles,
	.news {
		margin-top: 10px;
		display: inline-block;
	}

	.catalog_menu {
		margin-top: 10px;
	}

	.articles {
		margin-right: 6px;
	}

	.f-bottom-contact:hover,
	.sl .catalog_menu h3 a:hover,
	.sl .news h3 a:hover,
	.sl .articles h3 a:hover {
		text-decoration: none;
		background-color: rgb(65, 159, 195);
	}

	.mobile-button.active {

		/*border-bottom-width: 0;*/
		border-bottom-width: 0;
	}

	.mobile-button:after {
		content: "";
		position: absolute;
		right: 10px;
		top: 10px;
		display: inline-block;
		border: 9px solid;
		border-color: rgb(0, 140, 175) transparent;
		border-bottom-width: 0;
	}

	.mobile-button.active:after {
		border-bottom-width: 9px;
		border-top-width: 0;
	}
	#header ul.catalogSubitem a{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		        align-items: center;

	}

	.header-menu ul.catalogSubitem {
		display: none;
		background-color: rgb(94, 93, 93);
		width: 277px;
		margin: 0 auto;
		border-width: 1px;
		border-color: rgb(106, 206, 220);
		border-style: solid;
		background-color: rgba(255,255,255,1);
		border-top-width: 0;
	}

	.mobile-button.active + ul.catalogSubitem {
		display: block;
	}

	li.subitem.open.current {
		float: none !important;
		display: block;
		text-align: center;
		width: 275px !important;
	}

	a.subitem.clicklink.common {
		display: block;
		padding: 5px 0;
		height: 30px;
	}

	/* a.subitem.clicklink.common img {
		width: auto;
		height: 100%;
	} */

	.header-menu .catalogLastitem {

		/*display: none;*/
		position: static;
	}

	.sidebar.sl {
		background: #3c3c3c;
		width: auto;
		float: none;
	}

	.sl .inner {
		text-align: center;
	}

	.sidebar {
		padding: 10px 0 20px;
		margin-bottom: 0;
	}

	.podbor_velo {
		display: block;
		position: relative;
		border-width: 1px;
		border-color: rgb(106, 206, 220);
		border-style: solid;
		background-color: rgb(94, 93, 93);
		width: 277px;
		height: 29px;
		line-height: 29px;
		text-align: center;
		font-size: 14px;
		margin: 0 auto;
	}

	.podbor_velo span {
		color: rgb(255, 255, 255);
		font-size: 14px;
		text-transform: none;
	}

	.podbor_velo.active {
		border-bottom-width: 0;
	}

	.podbor_velo.active + .block.podbor {
		display: block;
	}

	.podbor_velo:after {
		content: "";
		position: absolute;
		right: 10px;
		top: 10px;
		display: inline-block;
		border: 9px solid;
		border-color: rgb(0, 140, 175) transparent;
		border-bottom-width: 0;
	}

	.podbor_velo.active:after {
		border-bottom-width: 9px;
		border-top-width: 0;
	}

	.podbor .in {
		background-color: rgb(94, 93, 93);
		width: 277px;
		margin: 0 auto;
		border-width: 1px;
		border-color: rgb(106, 206, 220);
		border-style: solid;
		background-color: rgb(94, 93, 93);
		border-top-width: 0;
		text-align: left;
	}

	.podbor .in h5 {
		font-size: 15px;
		text-align: center;
		padding: 10px 0;
	}

	.podbor .podboritem:nth-child(4) {
		text-align: center;
	}

	.podbor .podboritem .toright,
	.podbor .podboritem .toleft {
		float: none;
		display: inline-block;
	}

	.podbor .podboritem label {
		margin-left: 20px;
	}

	.checkator_source:checked+.checkator_element:after {
		background-color: #6acedc;
	}

	.podbor .button input {
		margin-bottom: 10px;
		background: #419fc3;
	}

	.podbor .button input:hover {
		margin-bottom: 10px;
		background: #666666;
	}

	#middle {
		margin-left: 0;
	}

	h3.bestseller {
		font-size: 20px;
		padding: 0;
		text-align: center;
	}

	.product_list {
		padding: 10px 0 0;
		text-align: center;
	}

	.product_list .item {
		margin-bottom: 10px;
	}

	.f-bottom {
		background: #3c3c3c;
	}

	.f-bottom-c {
		display: none;
	}

	.f-bottom-r {
		float: none;
		width: auto;
		margin-left: 0;
		margin-bottom: 10px;
	}

	.f-bottom-l {
		float: none;
		padding-right: 0;
		width: auto;
		text-align: center;
	}

	.social {
		text-align: center;
	}

	.f-bottom-contact {
		display: block;
		margin-bottom: 10px;
	}

	.text_page {

		/* font-size: 20px; */
		padding: 0;
	}

	ul.sitemap_inner,
	ul.models {
		padding: 0;
	}

	.models_item {
		width: 150px;
	}

	.models_link {
		height: 55px;
		margin: 0 5px 10px;
		padding: 0 5px;
	}

	ul.accessory_inner {
		border: 0;
		padding: 0;
		margin: 0;
	}

	.accessory_item {
		text-align: center;
	}

	.accessory_item > a:after {
		content: "";
		position: absolute;
		right: 5px;
		top: 5px;
		display: inline-block;
		border-top: 8px solid transparent;
		border-left: 8px solid rgb(65, 159, 195);
		border-bottom: 8px solid transparent;
	}

	.accessory_item > a {
		position: relative;
		border-width: 2px;
		border-color: rgb(215, 215, 215);
		border-style: solid;
		height: 29px;
		line-height: 27px;
		text-align: center;
		padding: 0;
		margin-bottom: 10px;
		font-size: 14px;
		color: rgb(65, 159, 195);  /*width: 275px;*/
		display: block;
	}

	.accessory_item > a:hover {
		background: #666666;
	}

	.bestseller_block.tovar_3d {
		margin-bottom: 10px;
	}

	.cart_page {
		padding: 0 0 10px;
	}

	.imgprod_3d {
		top: -8px;
	}

	.cart_page .button_bike .r {
		width: 55px;
		line-height: 1;
	}

	.cart_page .button_bike .r a {
		padding: 2px 0 0;
		font-size: 10px;
		height: 100%;
	}

	.cart_page .button_bike .l {
		padding-right: 0;
		font-size: 10px;
	}

	.cart_page .button_bike .l span {
		font-size: 12px;
	}

	.imgprod_3d i:before {
		font-size: 40px;
	}
.imgprod_3d {
	display: none;
}
	.tab {
		font-size: 14px;
		padding: 5px 0;
	}

	.tab_content {
		padding: 10px;
	}

	.cart_page table {
		font-size: 12px;
	}

	.sort_wrap {
	}

	ul.sort_list {
		padding: 0;
		margin-bottom: 10px;
	}

	.sort_item {
	}

	.paging {
		text-align: center;
		margin-bottom: 10px;
	}

	.block_info {
		padding: 10px 10px 0px;
		margin: 0 0px 10px;
	}

	ul.parts_list {
		padding-left: 0;
	}

	.parts_item {
		width: 205px;
		padding: 0 10px 5px 10px;
	}

	.parts_link:before {
		top: 3px;
	}

	.news_page .items {
		padding-bottom: 5px;
	}

	.serv_bg {
		padding: 10px;
		padding-bottom: 0px;
		margin: 0 0px 10px;
	}

	.serv_text1 {
		font-size: 14px;
	}

	.serv_text2 {
		font-size: 12px;
		color: #6acedc;
		text-decoration: underline;
	}

	.serv_text3 {
		font-size: 13px;
	}

	.about_bg {
		padding: 10px 10px 0px;
		margin: 0 0px 10px;
	}

	.bestseller_block {
		margin-bottom: 10px;
	}

	.slider {
		display: none;
	}

	ul.catalogSubitem .subitem:nth-child(3){
		display: none;
	}

}

/*coins*/

.price_listing_all {
	width: auto;
}
.product_list .price_new {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	margin: 0 5px;
	padding-bottom: 0;
}
.product_list .price_old {
	display: inline-block;
	font-size: 15px;
	margin: 0 5px 0 0;
	padding-bottom: 0;
}

.price_product_title {
	display: inline-block;
	vertical-align: middle;

}
.price_product_wrap {
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
}
.price_listing_coin,
.price_listing_rub {
	line-height: initial;
	white-space: nowrap;
}
@media only screen and (max-width: 1199px) {
	.product_list .price_title {
		display: none;
	}
	.cart_page .button_bike {
	    height: auto;
	}
	.cart_page .button_bike > div {
	    line-height: 38px;
	}
}
@media only screen and (max-width: 767px) {
	.cart_page .button_bike > div {
	    line-height: 28px;
	}
	.cart_page .button_bike .r {
	    width: 55px;
	    line-height: initial;
	    height: 28px;
	}	
    .sitemap_inner li{
        max-width: 50%;
	}
	.container.internal #header .logo{
		width: 220px;
	}
}

@media only screen and (max-width: 539px) {
	.price_title {
		display: none;
	}
	.price_listing_all {
		float: none;
		margin: auto;
	}
    #header .header-phone{
        display: none;
    }
}