* {
	margin: 0;
	padding: 0;
}
body {
	font: 13px/18px Verdana, Arial, Helvetica, sans-serif;
}
a {
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {margin: 0 0 18px}
img {
	border: none;
}
input {vertical-align: middle}
.clear { clear:both; font-size:0px; line-height:0px; height:0px;}