/* Shared styles */
.x-slider {
	zoom:1;
}
.x-slider-inner {
	position:relative;
	left:0;
	top:0;
	overflow:visible;
	zoom:1;
}
.x-slider-focus {
	position:absolute;
	left:0;
	top:0;
	width:1px;
	height:1px;
	line-height:1px;
	font-size:1px;
	-moz-outline:0 none;
	outline:0 none;
	-moz-user-select: text;
	-khtml-user-select: text;
}
/* Horizontal styles */
.x-slider-horz {
	padding-left:10px;
}
.x-slider-horz .x-slider-end {
	padding-right:7px;
	zoom:1;
}
.x-slider-horz .x-slider-inner {
	height:25px;
}
.x-slider-horz .x-slider-thumb {
	width:19px;
	height:18px;
	position:absolute;
	left:0;
	top:9px;
	background:url(/img/slider/slider-thumb.png) no-repeat 0 0;
//background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/slider/slider-thumb.png, sizingMethod=crop);
}
.x-slider-horz .x-slider-thumb-over {
	background-position: -18px -17px;
}
.x-slider-horz .x-slider-thumb-drag {
	background-position: -35px -33px;
}


.x-tip{position:absolute;top:0;left:0;visibility:hidden;z-index:20000;border:0 none;}
.x-tip .x-tip-tc{padding-top:3px;overflow:hidden;zoom:1;}
.x-tip .x-tip-tl{padding-left:6px;overflow:hidden;zoom:1;}
.x-tip .x-tip-tr{padding-right:6px;overflow:hidden;zoom:1;}
.x-tip .x-tip-bc{height:3px;overflow:hidden;}
.x-tip .x-tip-bl{padding-left:6px;zoom:1;}
.x-tip .x-tip-br{padding-right:6px;zoom:1;}
.x-tip .x-tip-mc{border:0 none;font:normal 11px tahoma,arial,helvetica,sans-serif;}
.x-tip .x-tip-ml{background:padding-left:6px;zoom:1;}
.x-tip .x-tip-mr{background:padding-right:6px;zoom:1;}
.ext-ie .x-tip .x-tip-header,.ext-ie .x-tip .x-tip-tc{font-size:0;line-height:0;}
.x-tip .x-tip-header-text{font:bold 11px tahoma,arial,helvetica,sans-serif;padding:0;margin:0 0 2px 0;color:#444;}
.x-tip .x-tip-body{font:normal 14px tahoma,arial,helvetica,sans-serif;margin:0!important;line-height:14px;color:#444;padding:0;}
.x-tip .x-tip-body .loading-indicator{margin:0;}

