* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Trebuchet MS', "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}

body#inner {
  background-position: 0 172px;
}

.clear {
  font-size: 0px;
  line-height: 0px;
  clear: both;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
  color: #419fc3;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(65, 159, 195);
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  color: #111111;
}

a {
  transition: all 0.3s;
  text-decoration: none;
  color: #419fc3;
}

a:hover {
  ;
}

p {
  margin: 0;
  padding: 0px;
}

img {
  max-width: 100%;
  border: none;
}

:focus {
  outline: 0;
}

/*
.container {
  
  background: url(../img/background.jpg);
}
*/

#inner .container {
  background: url(../img/header_inner.jpg) no-repeat center top;
}

#wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 35px;
  border-right: 1px solid #b4b4b4;
  border-left: 1px solid #b4b4b4;
  background: #fff;
}

#inner #header {
  height: 184px;
  background: url(../img/bg_line_header.png) no-repeat center top;
}

#header {
  position: relative;
}

#header .logo {
    display: inline-block;
}

.container.internal #header .logo {
  top: 46px;
  left: 51%;
  width: 290px;
}

#header .logo{
  width: 290px;
}

#header .header-phone{
    display: inline-block;
    position: relative;
    top: -8px;
    color: black;
    margin-left: 15px;
    font-weight: 800;
    font-size: 20px;
}

#header .logo .ten {
  position: relative;
}

#header .logo h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #0d1113;
}

#header .logo p {
  font-size: 12px;
  color: #6b777a;
}

#header .logo p span {
  font-size: 16px;
  color: #0d1113;
}

#header .logo .shadow {
  position: absolute;
  top: 1px;
  left: 1px;
}

#header .logo .shadow h3, #header .logo .shadow p span, #header .logo .shadow p {
  color: #def3f5;
}

#header .logo .text {
  position: relative;
  z-index: 1;
}

#header .sitemap {
  position: absolute;
  bottom: 59px;
  left: 75%;
}

#inner #header .sitemap {
  position: absolute;
  bottom: 59px;
  left: 94%;
}

#header .search {
    display: none;
  font-size: 0;
  position: absolute;
  top: 9px;
  right: 9px;
}

#inner #header .search {
  position: absolute;
  top: 40px;
  left: 65%;
}

#header .search input {
  float: left;
  height: 34px;
  border: 2px solid #666;
}

#header .search input[type="submit"] {
  width: 34px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #6acedc url(../img/loupe.png) no-repeat 50%;
}

#header .search input[type="submit"]:hover {
  background-color: #419fc3;
}

#header .search input.text {
  font-size: 16px;
  width: 189px;
  padding-left: 10px;
  border-right-width: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#inner #header .inner_phone {
  position: absolute;
  top: 20px;
  left: 405px;
}

#inner #header .inner_phone .ten {
  position: relative;
}

#inner #header .inner_phone p {
  font-size: 11px;
  color: #000;
}

#inner #header .inner_phone p span {
  font-size: 14px;
  color: #0d1113;
}

#inner #header .inner_phone .shadow {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 300px;
}

#inner #header .inner_phone .shadow h3, #inner #header .inner_phone .shadow p span, #inner #header .inner_phone .shadow p {
  color: #def3f5;
}

#inner #header .inner_phone .text {
  position: relative;
  z-index: 1;
}

.slider {
  font-size: 0;
  overflow: hidden;
  margin-bottom: 180px;
}

.h-slider {
  position: relative;
  display: inline-block;
  /*z-index: 0 !important;*/
  max-width: 1130px !important;
}

.tringle-wall img, .h-slider_img img {
  width: 100%;
}

.tringle-wall img {
  height: 250px;
}

.h-slider-title {
  font-family: "Arial";
  font-size: 45px;
  font-weight: 600;
  position: absolute;
  top: 25%;
  right: 0;
  width: 567px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #eaeee9;
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}

.h-slider-title span:nth-child(1) {
  color: #85ced3;
}

.h-slider-title span:nth-child(2) {
  color: #cee0df;
}

#middle {
  ;
  margin-left: 200px;
}

#middle:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}

#container {}

#content {
  padding-top: 15px;
}

.inner {
  font-size: 16px;
  position: relative;
  padding: 0 15px;
  color: #666666;
}

.inner p {
  ;
  padding-bottom: 10px;
}

.inner ul {
  padding-bottom: 20px;
  padding-left: 30px;
}

.sidebar {
  position: relative;
  margin-bottom: 45px;
  padding: 20px 10px;
}

.sidebar:after {
  position: absolute;
  bottom: -44px;
  left: 0;
  display: block;
  content: '';
  border-top: 45px solid #6acedc;
  border-left: 200px solid transparent;
}

.sidebar.sl {
  float: left;
  width: 200px;
  color: #fff;
  background: #6acedc;
}

.sl .inner {
  ;
  padding: 0px;
}

.sl .inner h3 a {
  font-size: 20px;
  display: inline-block;
  padding: 15px 0;
  color: rgb(102, 102, 102);
}

.sr {
  float: left;
  width: 230px;
  margin-right: -3px;
  margin-left: -230px;
}

.sr h3 {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #111;
}

.map_inner {
  font-size: 0;
  position: relative;
  display: block;
  text-align: center;
}

.map_bg {
  position: absolute;
  top: 0;
    display: none;
}

.map_bg img {
  width: 100%;
}

.map {
  display: inline-block;
  width: 100%;
}

.map.map-1 {
  margin-left: 0;
    margin-top: 20px;
}

.map_link {
  display: block;
}

.map_img {
  width: 100%;
}

.adress {
  font-size: 0;
  text-align: center;
  background: #6acedc;
}

.adress_block {
  font-size: 16px;
  display: inline-block;
  width: 32%;
  margin-left: 2%;
  padding: 30px;
  padding-bottom: 20px;
  vertical-align: top;
  color: #fff;
}

.adress_block:first-child {
  margin-left: 0;
}

.adress_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.adress_phones {
  margin-bottom: 10px;
}

.adress_text {
  ;
}

.adress_delivery {
  margin-bottom: 10px;
}

.adress_owner {
  font-size: 14px;
  margin-bottom: 10px;
}

#footer {
  padding: 0;
}

.f-bottom {
  font-size: 14px;
  padding: 20px 30px;
  color: #c3c3c3;
  background: #666666;
}

.f-bottom-contact {
  display: none;
}

.f-bottom-l {
  float: left;
  padding-right: 20px;
}

.f-bottom-c {}

.f-bottom-r {
  display: none;
    position: absolute;
    top: 12px;
    right: 250px;
    
}

.copyright {
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

.copyright-info {
  font-size: 12px;
  text-align: center;
}

.awagro {}

.awagro-title {
  display: block;
  color: #70afe1;
}

.awagro-text {
  color: #c3c3c3;
}

.social {}

.social a {
  line-height: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.social a i:before {
  font-size: 18px;
}

.social a:first-child {
  margin-left: 0;
}

.social-fb {
  background: #004e96;
}

.social-vk {
  background: #487eac;
}

.social-tw {
  background: #37aae1;
}

.social-fb:hover {
  background: #00305c;
}

.social-vk:hover {
  background: #32597a;
}

.social-tw:hover {
  background: #2b7ba2;
}

.home h3 {
  font-size: 24px;
  padding-bottom: 15px;
}

.block {
  ;
}

.block .left_bg {
  ;
}

.block .right_bg {
  ;
}

.block .top_l {
  ;
}

.block .bottom_l {
  ;
}

.block .top_r {
  ;
}

.block .bottom_r {
  position: relative;
}

.block_blue {
  ;
}

.block_blue .left_bg {
  width: 100%;
  background: url(../img/round_bg_blue.gif) repeat-y left;
}

.block_blue .right_bg {
  background: url(../img/round_bg_blue.gif) repeat-y right;
}

.block_blue .top_l {
  background: url(../img/round_top_left_blue.gif) no-repeat left top;
}

.block_blue .bottom_l {
  padding-left: 6px;
  background: url(../img/round_bottom_left_blue.gif) no-repeat left bottom;
}

.block_blue .top_r {
  background: url(../img/round_top_right_blue.gif) no-repeat right top;
}

.block_blue .bottom_r {
  background: url(../img/round_bottom_right_blue.gif) no-repeat right bottom;
}

.block_blue .in {}

.bestseller_block {
  margin-bottom: 20px;
}

.bestseller_block .item .photo {
  height: auto;
}

.bestseller_block .item .photo a {
  display: inline-block;
  width: auto;
  height: auto;
}

.bestseller_block .item .photo a img {
  width: 100%;
}

.action {
  width: 100%;
  background: #fff url(../img/bablo.gif) no-repeat right top;
}

.action .in {
  padding: 20px;
  padding-bottom: 15px;
}

.action .left_line {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -12px;
  width: 6px;
  height: 108px;
  background: url(../img/action_left_line.gif) no-repeat;
}

.action .right_line {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: -6px;
  width: 6px;
  height: 108px;
  background: url(../img/action_right_line.gif) no-repeat;
}

.action li {
  padding-bottom: 10px;
  list-style: none;
}

.action li a {
  font-size: 16px;
  color: #f97900;
}

.action li a:hover {
  text-decoration: none;
  color: #f97900;
}

h3.bestseller {
  font-size: 24px;
  padding: 20px 0 0;
  padding-left: 25px;
  color: rgb(65, 159, 195);
}

.burger {
  line-height: 52px;
  display: none;
  width: 52px;
  height: 52px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(65, 159, 195);
}

.burger i {
  vertical-align: middle;
}

.burger i:before {
  font-size: 30px;
  color: #fff;
}

.top_menu {
  float: left;
    padding-top: 20px;
}

.top_menu ul {
    display: inline-block;
    position: relative;
    top: -8px;
    margin-left: 15px;
}

.top_menu ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

.top_menu ul li.active span {
  display: block;
}

.top_menu ul li a {
  font-size: 16px;
  line-height: 31px;
  display: block;
  padding: 10px 9px;
  text-decoration: none;
  color: #666666;
}

.top_menu ul li a:hover {
  color: rgb(106, 206, 220);
}

.top_menu ul li.active {
  ;
}

.top_menu ul li.active span {
  ;
}

.top_menu ul li.active span a {
  text-decoration: none;
  color: rgb(106, 206, 220);
}

.top_menu ul li.active span a:hover {
  text-decoration: none;
  color: #4c5458;
}

.header-menu {
  position: relative;
}

ul.catalogSubitem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 35px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
}

#header ul.catalogSubitem a{
    height: 60px;
}

ul.catalogSubitem img {
  /*width: 100%;*/
  max-height: 50px;
    max-width: 100%;
  transition: all .2s;
}

ul.catalogSubitem .subitem:nth-child(3){
	display: none;
}

ul.catalogSubitem li:hover img {
  filter: grayscale(0);
     opacity: 1;
}

ul.catalogSubitem li:hover a{
  position: relative;
  z-index: 10;
    opacity: 1;
}

#content .text_page.sitemap .sitemap_inner{
  display: none;
}

.catalog_menu {}

div.catalog_menu ul {
  display: block;
  padding: 0;
}

.catalog_menu li {
  list-style: none;
}

.catalog_menu li .common {
  display: block;
  width: 215px;
  height: 55px;
  padding-top: 10px;
  list-style: none;
  text-align: center;
  background: url(../img/brand.gif) no-repeat;
}

.catalog_menu li li a {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0 4px;
  padding-top: 0px;
  text-align: left;
  color: #fff;
  background: none;
}

.catalog_menu li li a:hover:before {
  position: absolute;
  top: 4px;
  left: -10px;
  display: block;
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #fff;
}

.catalog_menu li li a.link {
  font-size: 14px;
  display: block;
  width: 170px;
  height: inherit;
  padding: 0 4px;
  padding-top: 0px;
  text-align: left;
  color: #000;
  background: none;
}

.catalog_menu li li a.link:hover {
  color: #fff !important;
  background: #000 !important;
}

.catalog_menu li li {
  height: inherit;
  padding-top: 3px;
  padding-bottom: 0;
  padding-left: 0px;
  background: none;
}

.catalog_menu ul ul {
  ;
}

h3.deatli_and_aksesuar ul li {
  margin-left: 40px !important;
  background: red !important;
}

.detandacc {
  font-size: 14px;
  display: block;
  width: 170px;
  height: inherit;
  padding: 0 4px;
  padding-top: 0px;
  text-align: left;
  color: #000;
  background: none;
}

.detandacc:hover {
  text-decoration: none;
  color: #fff;
  background: #000;
}

.sl .inner h3.deatli_and_aksesuar {
  font-size: 18px !important;
  padding: 0 !important;
  text-decoration: none !important;
  color: #fff !important;
}

.podbor_velo {
  margin-bottom: 0;
  text-align: center;
}

.podbor_velo span {
  font-size: 15px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #666666;
}

.deatli_and_aksesuar {
  line-height: 54px;
  width: 215px;
  height: 54px;
  text-align: center;
  background: url(../img/detali_and_aksesuari.gif) no-repeat;
}

.deatli_and_aksesuar a, .sl .inner .deatli_and_aksesuar h3 {
  font-size: 18px !important;
  padding: 0 !important;
  text-decoration: none !important;
  color: #fff !important;
}

.deatli_and_aksesuar a:hover, .sl .inner .deatli_and_aksesuar h3:hover {
  text-decoration: underline;
  color: #fff;
}

.banner {
  width: 215px;
  padding: 20px 0;
  text-align: center;
}

.banner .item {
  padding-bottom: 15px;
}

.detnaccatalog {
  padding-left: 35px;
}

.lastitem_link:hover .flaticon-folding {
  background-image: url(../img/blue-vel.png);
}

.news {
  ;
}

.news .newsitem {
  padding-bottom: 10px;
}

.news .newsitem p {
  padding-bottom: 0;
}

.news .newsitem b {
  font-size: 14px;
  display: block;
  text-decoration: underline;
  color: #fff;
}

.news .newsitem .link {
  ;
}

.news .newsitem .link a {
  font-size: 14px;
  position: relative;
  color: #fff;
}

.news .newsitem .link a:hover:before {
  position: absolute;
  top: 4px;
  left: -10px;
  display: block;
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #fff;
}

.footer_bg {
  ;
}

.bestseller_block .item .left_line {
  position: absolute;
  top: 15px;
  left: -8px;
  width: 5px;
  height: 75px;
  background: url(../img/velo_home_left_line.gif);
}

.bestseller_block .item .right_line {
  position: absolute;
  top: 15px;
  right: -5px;
  display: none;
  width: 5px;
  height: 75px;
  background: url(../img/velo_home_right_line.gif);
}

.bestseller_block .end .right_line {
  display: block;
}

.bestseller_block .item {
  position: relative;
}

.bestseller_block .item .block {
  ;
}

.text_bl {
  ;
}

.text_bl a.head {
  font-size: 15px;
  display: block;
  padding-bottom: 10px;
  color: #88f0ff;
    font-weight: 800;
}

.text_bl .price {
  font-size: 12px;
  display: block;
  color: #f97900;
}

.text_bl .price i {
  font-size: 14px;
  font-style: normal;
  margin-left: 35px;
  padding-left: 1px;
}

.text_bl .price .oldprice {
  text-decoration: line-through;
}

.oldprice {
  color: #000;
}

#content .inner .text_bl p {
  font-size: 14px;
  line-height: 1.1;
  overflow: hidden;
/*  height: 110px;*/
  padding-bottom: 0;
  text-align: left;
  color: #fff;
}

.text_bl a.read_more {
  font-size: 18px;
    font-weight: 800;
  display: block;
  margin-top: 5px;
  text-align: left;
  text-decoration: underline;
  color: #88f0ff;
}

.text_bl .read_more_icon {
  display: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  color: rgb(106, 206, 220);
  background: #fff;
}

.read_more_icon .flaticon-arrows-1:before {
  font-size: 15px;
  position: relative;
  display: inline-block;
  margin-top: 3px;
  margin-right: 1px;
}

.product_list .text_bl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  transition: all 0.8s 0.1s;
  opacity: 0;
  background-color: rgba(102, 102, 102, 0.9);
}

.cart_block .cart {
  width: 210px;
  background: #d5dedb url(../img/cart_simvol.gif) no-repeat left top;
}

.cart_block .cart .top {
  position: absolute;
  top: -42px;
  right: 20px;
  width: 44px;
  height: 43px;
  background: url(../img/cart_top.gif);
}

.cart_block .cart .in {
  padding: 10px;
}

.cart_block {
  position: relative;
  margin-bottom: 30px;
  padding-top: 45px;
}

.cart_block h4 {
  padding-bottom: 5px;
}

.cart_block .cartitem {
  font-size: 14px;
  border-bottom: 1px solid #bebebe;
}

.cart_block .cartitem span {
  font-size: 18px;
}

.cart_block .button {
  padding-top: 15px;
  text-align: center;
}

.cart_block .button input {
  cursor: pointer;
}

.podbor {
  position: relative;
  color: #fff;
}

.podbor .top {
  position: absolute;
  z-index: 100;
  top: -11px;
  left: -6px;
  width: 210px;
  height: 11px;
  background: url(../img/podbor_top.gif) no-repeat;
}

.podbor .button {
  font-size: 0px;
  line-height: 0px;
  padding-top: 15px;
  text-align: right;
}

.podbor .button input {
  font-size: 14px;
  display: inline-block;
  height: 22px;
  margin-right: 16px;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: 0;
  background: #666666;
}

.podbor .button input:hover {
  background: #419fc3;
}

#hiddencats #cat {
  ;
}

.podbor .in {
  ;
}

.podbor .in h5 {
  font-size: 16px;
  padding: 15px 0;
}

.podbor .podboritem label {
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}

.podbor .podboritem label input {
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: middle;
}

.podbor .podboritem input.price_form_bg {
  width: 55px;
  height: 21px;
  margin-right: 20px;
  padding: 0 5px;
  border: none;
}

.podbor .podboritem input.price_form_bg_r {
  width: 55px;
  height: 21px;
  padding: 0 5px;
  border: none;
}

#inner #content .inner div.head {
  background: url(../img/head_bg.jpg);
}

#inner #content .inner {
  padding-top: 13px;
}

#inner #content .inner .head h1 {
  font-size: 18px;
  line-height: 22px;
  margin: 0px;
  padding: 4px 20px;
  color: #111111;
}

.text_page .text_cont_top {
  font-size: 17px;
  color: #111111;
}

.text_page {
  ;
  padding: 0 20px 5px;
}

.sitemap ul {
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.action_page {
  ;
}

.action_page a {
  color: #383838;
}

.sitemap ul ul {
  ;
}

.sitemap li {
  list-style: none;
  /*background: url(../img/pic_big_blue.gif) no-repeat left 6px;*/
}

.sitemap li li {
  ;
}

.sitemap h4 a {
      color: #383838;
        padding-left: 30px;
  position: relative;
  /* width: 275px; */
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 40px 10px 20px;
  text-align: center;
}

.sitemap_inner li{
    display: inline-block;
    max-width: 25%;
    padding-bottom: 120px;
    text-align: center;
}

.sitemap_inner h4 a{
    position: relative;
    text-align: center;
    padding: 20px 30px;
}

.sitemap_inner h4 a::after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateY(100%) translateX(-50%);
        -ms-transform: translateY(100%) translateX(-50%);
            transform: translateY(100%) translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.sitemap_inner h4 a:hover::after{
    -webkit-box-shadow: 0px 0px 21px 0 rgba(0,0,0,0.5);
            box-shadow: 0px 0px 21px 0 rgba(0,0,0,0.5)
}

.sitemap_inner li:nth-of-type(1) a::after{
    background: url(/img/bycycle.png) no-repeat 50%;
    background-size: 70px;
    background-color: #6acedc;
}

.sitemap_inner li:nth-of-type(2) a::after{
    background: url(/img/helmet.png) no-repeat 50%;
    background-size: 55px;
    background-color: #6acedc;
}

.sitemap_inner li:nth-of-type(3) a::after{
    background: url(/img/sleigh.png) no-repeat 55%;
    background-size: 70px;
    background-color: #6acedc;
}

.sitemap_inner li:nth-of-type(4) a::after{
    background: url(/img/gift-box.png) no-repeat center;
    background-size: 60px;
    background-color: #6acedc;
}

/*
.sitemap h4 a:after {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  content: ">>";
}
*/

ul.models {
    display: none;
  font-size: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.models_item {
  display: inline-block;
  width: 33.33333333%;
  vertical-align: middle;
}

.models_link:hover {
  background: #666666;
}

.models_link {
  display: block;
  height: 100px;
  margin: 0 10px 20px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #d7d7d7;
}

.models_link img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.models_link:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.accessory {}

ul.accessory_inner {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #d7d7d7;
}

.accessory_item>a {
  font-size: 16px;
  display: inline-block;
  padding: 10px 0;
  color: #419fc3;
}

.accessory_item>a:after {
  content: " >>";
}

.accessory_item.active>a:after {
  content: " <<";
}

.accessory_sub {
  display: none;
  margin: 0 0 10px 10px;
}

.accessory_sub>li {}

.accessory_sub>li a {
  color: #3c3c3c;
}

.accessory_sub>li a:hover {
  text-decoration: underline;
}

.paging {
  font-size: 14px;
  margin-right: 20px;
  text-align: right;
}

.paging b {
  font-weight: normal;
  padding-right: 5px;
}

.paging a {
  height: 19px;
  margin: 0 4px;
  color: #666666;
}

.paging a:hover {
  color: #fff;
  background: #6acedc;
}

.paging a span {
  line-height: 19px;
  height: 19px;
  padding: 0 3px;
  cursor: pointer;
  text-align: center;
}

.paging a:hover span {
  color: #fff;
}

.paging a.active {
  text-decoration: none;
  color: #fff;
  background: #6acedc;
}

.paging a.active span {
  color: #fff;
}

.breadcrumb {
  padding-bottom: 20px;
}

.breadcrumb a {
  ;
  color: #9b9b9b;
}

.breadcrumb span {
  ;
  color: #666666;
}

.news_page {
  ;
}

.news_page .items {
  padding-bottom: 15px;
}

.news_page .items b.dates {
  font-weight: normal;
  display: inline;
  margin-right: 10px;
  text-decoration: underline;
  color: #419fc3;
}

.news_page .items>a {
  position: relative;
  color: #666666;
}

.news_page .items>a:hover:before {
  top: 4px;
  left: -10px;
  display: inline-block;
  margin-left: 10px;
  content: "";
  /*position: absolute;*/
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #419fc3;
}

.news_page .items a p {
  display: inline;
}

.news_page .items a p:hover {
  text-decoration: none;
}

.news_page .items img {
  margin: 10px 15px;
}

.descr a {
  text-decoration: underline;
}

.descr a:hover {
  text-decoration: none;
  color: #419fc3;
}

.series {
  background: #fff;
}

.series .in {
  padding: 15px;
}

.series li {
  display: block;
  float: left;
  width: 33%;
  padding-bottom: 5px;
  list-style: none;
}

.series li a {
  color: #383838;
}

.series li a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #f97900;
}

.series li a.active {
  font-weight: bold;
  text-decoration: none;
  color: #f97900;
}

.product_list {
  font-size: 0;
  width: 100%;
  padding: 30px 0 0;
}

.product_list .photo img {
  ;
  max-width: 100%;
  max-height: 100%;
}

.product_list .item {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  vertical-align: top;
}

.product_list .item .block {
  position: relative;
  width: 267px;
  height: 265px;
  margin: 0 15px;
  border: 2px solid #d7d7d7;
}

.prod_name {
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 38px;
  left: 0;
  height: 38px;
  text-align: center;
  /*color: rgb(102, 102, 102);*/
}

.item_3d {
  position: absolute;
  top: -9px;
  right: 0;
}

.item_3d i {}

.item_3d i:before {
  font-size: 46px;
  color: #888888;
}

.item_new, .item_hit {
  position: absolute;
  top: -10px;
  left: -10px;
}

.product_list .block:hover .text_bl {
  opacity: 1;
}

.product_list .price {
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 38px;
  text-align: center;
  color: rgb(102, 102, 102);
  background: #70d0dd;
}

.product_list .price:after {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.product_list .price_title {
  display: inline-block;
  vertical-align: middle;
}

.product_list .price_listing_all {
  display: inline-block;
  vertical-align: middle;
}

.product_list .price_old {
  display: block;
  text-decoration: line-through;
}

.product_list .price_new {
  font-weight: bold;
  display: block;
}

.cart_page {
  padding: 15px 10px;
}

.cart_page h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  text-indent: 0px;
  color: #383838;
}

.cart_page table {
  font-size: 14px;
  width: 100%;
  color: #666666;
}

.cart_page table th {
  font-weight: normal;
  padding: 5px 10px;
  text-align: left;
  background: #d5dedb;
}

.cart_page table td {
  font-weight: normal;
  padding: 5px 10px;
  text-align: left;
}

.cart_page table td a {
  color: #383838;
}

.cart_page table td input.col {
  width: 45px;
  padding: 3px;
}

.cart_page table td a.delete {
  display: block;
  width: 11px;
  margin: auto;
  text-align: center;
}

.cart_page .itogo {
  font-size: 13px;
  padding-bottom: 5px;
  text-align: right;
  color: #f97900;
  border-bottom: solid 1px #f97900;
}

.button_cart {
  padding-bottom: 25px;
}

.button_cart input {
  display: block;
  float: left;
  margin-right: 15px;
  padding: 5px 0;
  cursor: pointer;
  text-align: center;
  color: #1b2123;
  border: none;
}

.button_cart input.pereschet {
  width: 135px;
  background: url(../img/button_pereschet.gif) no-repeat;
}

.button_cart input.next_zakaz {
  width: 187px;
  background: url(../img/button_next_zakaz.gif) no-repeat;
}

.form .send_button {
  width: 135px;
  background: url(../img/button_pereschet.gif) no-repeat;
}

.form {
  position: relative;
}

.form .item {
  padding-bottom: 10px;
}

.form .input, .form .textarea {
  width: 100%;
  padding: 5px;
}

input.focusField, textarea.focusField {
  border: 1px solid #CC0000;
}

.form .textarea {
  height: 100px;
}

.idleField {
  border: 1px solid #bebebe;
}

.contact_page {
  ;
}

.cart_page {
  position: relative;
}

.cart_page .bestseller_block .item {
  position: relative;
  margin: auto;
  border: 2px solid #d7d7d7;
}

.cart_page .bestseller_block .item .block {
  width: 100%;
  margin: auto;
  margin-bottom: 45px;
}

.cart_page .bestseller_block .block .bottom_r {
  margin: 0px;
  padding: 0px;
  background: url(../img/big_tovar_bottom_r.gif) no-repeat right bottom;
}

.cart_page .bestseller_block .block .bottom_l {
  margin: 0px;
  padding: 0px;
  padding-left: 8px;
  background: url(../img/big_tovar_bottom_l.gif) no-repeat left bottom;
}

.cart_page .button_bike {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 45px;
}

.cart_page .button_bike>div {
  line-height: 45px;
  height: 100%;
}

.cart_page .button_bike .l {
  font-size: 16px;
  padding-right: 230px;
  text-align: center;
  color: #fff;
  background: #70d0dd;
}

.cart_page .button_bike .l span {
  font-size: 18px;
  color: #000;
}

.cart_page .button_bike .l .old {
  color: #666666;
}

.cart_page .button_bike .r {
  float: right;
  width: 230px;
  text-align: center;
  background: #43a1c4;
}

.cart_page .button_bike .r button {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  color: #fff;
  border: none;
  background: none;
}

.cart_page .button_bike .l span .old {
  font-size: 14px;
  text-decoration: line-through;
}

.item .photo {
  height: 153px;
  text-align: center;
}

.item .photo a {
  display: table-cell;
  width: 263px;
  height: 180px;
  padding-top: 15px;
  vertical-align: top;
}

.old {
  text-decoration: line-through;
}

.zoom_image {
  position: relative;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.detnacc {
  padding: 5px 20px 20px 40px;
}

.detnacc li a {
  font-size: 14px;
  display: block;
  width: 170px;
  height: inherit;
  padding: 0 4px;
  padding-top: 0px;
  text-align: left;
  color: #000;
  background: none;
}

.detnacc li a:hover {
  text-decoration: none;
  color: #fff;
  background: #000;
}

.deatli_and_aksesuar, .subitem {
  cursor: pointer;
}

.inputitem {
  margin: 10px 0;
}

.toleft {
  float: left;
}

.toright {
  float: left;
}

.relative {
  position: relative;
}

.deliveryInfo {
  font-size: 10px;
  padding-top: 10px;
}

.cartDelInfo {
  text-align: right;
}

.cart_page table {
  background-color: transparent;
}

.sl .inner .articles div a {
  font-size: 14px;
  position: relative;
  display: block;
  padding-bottom: 7px;
  color: #fff;
}

.sl .inner .articles p {
  padding-bottom: 0;
}

.sl .inner .articles div a:hover {
  ;
}

.sl .inner .articles div a:hover:before {
  position: absolute;
  top: 4px;
  left: -10px;
  display: block;
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #fff;
}

.all_news, .all_articles {
  font-size: 16px;
  display: block;
  text-align: right;
  color: rgb(102, 102, 102);
}

.all_news:hover, .all_articles:hover {
  text-decoration: underline;
}

.mobile-button {
  display: none;
}

.catalogLastitem {
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  display: none;
  padding: 0;
  list-style: none;
/*  border: 2px solid  #6acedc;*/
  background-color: rgba(255, 255, 255, 0.95);
}


/*@media (min-width: 1200px) {
  ul.catalogSubitem li:nth-last-child(1) .catalogLastitem {left: -94px;}
}*/

.lastitem {}

.lastitem_link {
  display: block;
  padding: 10px 20px;
  text-align: left;
  white-space: nowrap;
  color: #000;
}

.lastitem_link:hover {
  color: #6acedc;
}

.lastitem_link i:before {
  font-size: 33px;
  margin-right: 10px;
  vertical-align: middle;
}

.lastitem_link span {
  vertical-align: middle;
}

.catalog_menu li.subitem a[currentDivTovar], .catalog_menu li.subitem a.currentDivTovar {
  font-size: 14px !important;
  text-decoration: none !important;
  color: #fff !important;
  background: #000;
}

.catalog_menu li.subitem a.link:hover, .catalog_menu li.subitem a.link:hover {
  font-size: 14px !important;
  text-decoration: none !important;
  color: #fff !important;
  background: #000 !important;
}

ul.catalogSubitem {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  list-style: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.catalogSubitem li {
  text-align: center;
  text-align: -webkit-center;
  -webkit-flex-basis: 18%;
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%;
	margin-right: 2%;

}

ul.catalogSubitem li:last-child{
	margin-right: 0;
}


#header ul.catalogSubitem li{
    -webkit-box-shadow: 0px 0px 13px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 13px 0 rgba(0,0,0,0.4);
    box-shadow: 0px 0px 13px 0 rgba(0,0,0,0.4);
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.catalogSubitem li:hover ul{
  display: block;
}

/*
@media screen and (min-width: 768px) {
  ul.catalogSubitem>li:nth-last-child(2) {
    margin-right: auto;
    margin-left: 10px;
  }
  ul.catalogSubitem>li:nth-last-child(1) {
    margin-right: 10px;
    margin-left: auto
  }
  ul.catalogSubitem>li:nth-last-child(3) {
    margin-left: 10px;
  }
}
*/

ul.catalogSubitem li:nth-last-child(1) .catalogLastitem {
  /*left: -30px;*/
}

a#detandacc {
  font-size: 14px;
}

a#detandacc:hover, a#detandacc[currentdivtovar] {
  ;
}

.catalogItem {
  cursor: pointer;
}

li.subitem.open.current {
  position: relative;
}

li.subitem.open.current:hover .catalogLastitem {
  /*display: block;*/
}

/*
li.subitem.open.current:nth-child(1), li.subitem.open.current:nth-child(2), li.subitem.open.current:nth-child(3) {
  float: left;
}
*/

/*
li.subitem.open.current:nth-child(4), li.subitem.open.current:nth-child(5), li.subitem.open.current:nth-child(6) {
  float: right;
}
*/

li.subitem.open.current:nth-child(4) .catalogLastitem, li.subitem.open.current:nth-child(5) .catalogLastitem, li.subitem.open.current:nth-child(6) .catalogLastitem {
  right: 0;
}

li.subitem.open.current:nth-child(4), li.s .product_list .item .block {
  ;
}

.cart_block {
  margin-bottom: 20px;
}

.first_block {
  padding-bottom: 10px;
}

.first_block a {
  font-size: 14px;
  padding: 0 5px;
}

.second_block a {
  font-size: 14px;
  padding: 0 5px;
}

.catalog_menu li .common[href="/katalog/div_id/408000"] {
  padding: 7px 13px;
  text-align: left;
}

.cart_page .button_bike .r a {
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.cart_page .button_bike .r a:hover {
  background: #666666;
}

.imgprod_3d {
  position: absolute;
  top: -12px;
  right: 0;
  width: auto;
  cursor: pointer;
  text-align: center;
}

.imgprod_3d i {
  display: inline-block;
}

.imgprod_3d i:before {
  font-size: 60px;
}

.imgprod_3d i:hover:before {
  color: #43a1c4;
}

.bestseller_block.tovar_3d {
  margin-bottom: 20px;
  padding-bottom: 0;
}

#popup_3d {
  position: relative;
}

.icon-left {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(../img/3d/left.png);
}

.icon-right {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(../img/3d/right.png);
}

.icon-rotate {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 75px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(../img/3d/auto_rotate.png);
}

.develop {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  color: #000;
}

.develop a {
  color: #000;
}

.photo.list_3d .icon-list-3d, .hit_img.list_3d .icon-list-3d {
  position: absolute;
  z-index: 1;
  top: -26px;
  right: -13px;
  width: 78px;
  height: 72px;
  cursor: pointer;
  background-image: url(../img/3d/icon-list-3d.png);
}

.services {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -160px;
  left: 0;
  text-align: center;
  /* padding-bottom: 100px; */
  ;
}

.services_item {
  display: inline-block;
  margin-left: 25px;
  text-align: center;
  vertical-align: top;
}

.services_item:first-child {
  margin-left: 0;
}

.services_title {
  font-family: "Arial";
  font-size: 18px;
  line-height: 1.2;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.services_img {
  display: inline-block;
  width: 115px;
  height: 115px;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(106, 206, 220);
}

.services_img:hover {
/*  background-color: #419fc3;*/
    -webkit-box-shadow: 0px 0px 21px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 21px 0 rgba(0,0,0,0.5);
    box-shadow: 0px 0px 21px 0 rgba(0,0,0,0.5);
}

.services_item [class^="flaticon-"]:before {
  font-size: 65px;
  font-style: normal;
  line-height: 115px;
  display: inline-block;
  margin-left: 0;
  color: #fff;
}

.services_item .flaticon-transport:before {
  font-size: 80px;
}


/* winter cards */

.services_item:nth-child(3) .flaticon-sport:before {
  width: 68px;
  height: 68px;
  padding-top: 44px;
  content: "";
  background: url(../img/flake.png) center no-repeat;
  background-size: contain;
}

.tringle-wall {
  position: absolute;
  bottom: -180px;
  height: 250px;
}

.typeprod {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  -ms-flex-pack: center;
  padding: 30px 0;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.typeprod_item {
  position: relative;
  display: inline-block;
  margin: 0 35px 20px;
  text-align: center;
  vertical-align: top;
}

.typeprod_item:nth-child(n+4) {
  margin: 0 25px 20px;
}

.typeprod_title {
  font-family: "Arial";
  font-size: 18px;
  line-height: 1.2;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.typeprod_img {
  position: relative;
  display: block;
  width: 166px;
  height: 166px;
  text-decoration: none;
  border-radius: 50%;
}

.typeprod_img img {
  width: 100%;
}

.typeprod_img:hover:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.sort_title h4 {
  padding-bottom: 0;
}

.panels {}

.tabs {
  font-size: 0;
}

.tab {
  font-size: 18px;
  display: inline-block;
  width: 50%;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #43a1c4;
}

.tab:hover {
  background: #666666;
}

.tab.active {
  background: #70d0dd;
}

.tab_content {
  padding: 20px;
  border: 2px solid #d7d7d7;
  border-top-width: 0;
}

.tab_item {
  display: none;
}

.tab_item:first-child {
  display: block;
}

ul.sort_list {
  font-size: 0;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
}

.sort_item {
  display: inline-block;
  width: 25%;
  /*margin-right: 25px;*/
  text-align: center;
}

.sort_link {
  font-size: 14px;
  white-space: nowrap;
  color: #b1b1b1;
}

.sort_link.active, .sort_link:hover {
  color: #6acedc;
}

.sort_link i {
  position: relative;
  top: 5px;
  display: inline-block;
  margin-right: 5px;
}

.sort_link span {
  margin-top: 0;
}

.sort_link i:before {
  font-size: 30px;
}

.block_info {
  margin: 0 20px 20px;
  padding: 20px 20px 10px;
  border: 2px solid #d7d7d7;
}

ul.parts_list {
  padding-left: 0;
  list-style: none;
}

.parts_item {
  display: inline-block;
  width: 268px;
  padding: 0 15px 10px 13px;
}

.parts_link {
  position: relative;
  color: #666666;
}

.parts_link:hover {
  position: relative;
  color: #6acedc;
}

.parts_link:before {
  position: absolute;
  top: 4px;
  left: -15px;
  display: block;
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #419fc3;
}

.expo {
  height: 405px;
  margin-bottom: 20px;
  border: 2px solid #d7d7d7;
}

.expo h4 {
  color: #6acedc;
}

.expo_right {
  float: right;
  width: 400px;
}

.expo_map {
  height: 361px;
}


/*.expo_map ymaps {top: -9px;}*/

.expo_left {
  padding: 20px 20px 10px;
}

.container.contacts .sidebar {
  margin-bottom: 0;
}

.container.contacts .adress, .container.contacts .map_inner, .container.contacts .sidebar:after {
  display: none;
}

.serv_bg {
  padding: 50px;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
  background: url(../img/bg-service.jpg) 50%;
  background-size: cover;
}

.serv_text1 {
  font-size: 18px;
}

.serv_text2 {
  font-size: 16px;
  text-decoration: underline;
  color: #6acedc;
}

.serv_text3 {
  font-size: 17px;
}

.paylate {
  position: absolute;
  top: -0;
  right: 0;
  width: 358px;
  height: 194px;
  background-image: url(../img/paylate.png);
  /*background-size: cover;*/
}

.paylate_padding {
  float: right;
  width: 305px;
  height: 115px;
}

.about_bg {
  margin: 0 20px 20px;
  padding: 20px 20px 10px;
  color: #fff;
  background: url(../img/about_bg.jpg) 50%;
  background-size: cover;
}

.about_bg h2 {
  color: #fff;
}

.container.internal .services, .container.internal .tringle-wall, .container.internal .slider {
  display: none;
}

.see_more, .read-more {
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: #fff;
  background: #70d0dd;
}

.see_more:hover, .read-more:hover {
  background: #666666;
}

.more_info {
  display: none;
}

.testDivClass {
  display: none;
}

#testdiv0 {
  display: block !important;
}

.flaticon-tool:before {
  display: none;
}

.flaticon-tool {
  font-size: 33px;
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../img/white-gor.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.lastitem_link:hover .flaticon-tool {
  background-image: url("../img/blue-gor.png");
}

.flaticon-folding {
  font-size: 33px;
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../img/white-vel.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.sort_link .flaticon-folding {
  width: 30px;
  height: 25px;
  vertical-align: baseline;
  background-image: url("../img/grey-vel.png");
}

.sort_link:hover .flaticon-folding {
  background-image: url("../img/blue-vel.png");
}

.sort_link .flaticon-tool {
  width: 25px;
  height: 25px;
  vertical-align: baseline;
  background-image: url("../img/grey-gor.png");
}

.sort_link:hover .flaticon-tool {
  background-image: url("../img/blue-gor.png");
}


/*.description1 table:nth-child(2n) {
    display: none;
}
.description2 table:nth-child(2n+1) {
    display: none;
}*/

/*FIXIED BG*/

.fixied-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: url(/img/fixied-bg.jpg) no-repeat center;
    background-size: cover;
}

/*Стили для новых статичных пунктов подменю*/

.submenu-accessories a, .submenu-stock a{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    opacity: .5;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.submenu-accessories a:hover, .submenu-stock a:hover{
    opacity: 1;
}

.map_link img{
    filter: grayscale(100%);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.map_link img:hover{
    filter: grayscale(0);
}

a.contacts-phone{
    color: #666666;
}

@media screen and (max-width: 920px){
    .text_bl a.head{
        font-size: 14px;
        padding-bottom: 5px;
        text-align: left;
    }
    #content .inner .text_bl p{
        font-size: 13px;
        line-height: 1;
    }
}


/* Icons styles */
.sort_item{
  padding-top: 25px;
}
.sort_link{
  padding-left: 40px;
  position: relative;
}

.sort_link-baby{
  padding-left: 30px;
}

.sort_link-icon{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px;
  height:  auto;
  stroke: #000;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
}

.sort_link-icon-baby{
  width: 27px;
}

.sort_link:hover .sort_link-icon{
  fill: #6acedc;
  stroke: #6acedc;
}


.sort_link.active .sort_link-icon{
  fill: #6acedc;
  stroke: #6acedc;
}

ul.catalogSubitem .lastitem_link{
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 65px;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
}

ul.catalogSubitem .lastitem_link.mountain-icon{
  background: url(/images/icons/mountain-min.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.mountain-icon:hover{
  background: url(/images/icons/mountain-min-hov.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.city-icon{
  background: url(/images/icons/comfort-min.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.city-icon:hover{
  background: url(/images/icons/comfort-min-hov.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.man-icon{
  background: url(/images/icons/man-min.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.man-icon:hover{
  background: url(/images/icons/man-min-hov.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.woman-icon{
  background: url(/images/icons/woman-min.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.woman-icon:hover{
  background: url(/images/icons/woman-min-hov.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.kids-icon{
  background: url(/images/icons/kids-min.png) no-repeat 20px;
  background-size: 25px;
}
ul.catalogSubitem .lastitem_link.kids-icon:hover{
  background: url(/images/icons/kids-min-hov.png) no-repeat 20px;
  background-size: 25px;
}
ul.catalogSubitem .lastitem_link.comfort-icon{
  background: url(/images/icons/city-min.png) no-repeat 15px;
  background-size: 35px;
}
ul.catalogSubitem .lastitem_link.comfort-icon:hover{
  background: url(/images/icons/city-min-hover.png) no-repeat 15px;
  background-size: 35px;
}

ul.catalogSubitem li.lastitem{
  margin-right: 0;
}

.sort_linkactive{
  padding-left: 40px;
  position: relative;
  font-size: 14px;
  white-space: nowrap;
  color: #b1b1b1;
}