@media (max-width:1199px) {
	h1 {
		font-size: 26px;
		margin-bottom: 15px;
	}
	h2 {
	    font-size: 22px;
	    margin-bottom: 15px;
	}
	h3 {
		font-size: 20px;
		padding-top: 0;
	}
	h3 {
		font-size: 18px;
		padding-top: 0;
	}
	h4 {
	    font-size: 16px;
	    padding-bottom: 12px;
	}

	.inner ul {
	    padding-left: 20px;
	    padding-bottom: 15px;
	}

	.sitemap ul {
	    padding-left: 0;
	    padding-bottom: 0;
	}

	ul.accessory_inner {
	    padding: 5px 15px;
	    margin: 0 10px;
	}

	.breadcrumb {
	    padding-bottom: 15px;
	}
	.burger {
        display: inline-block;
		float: right;
	}
	.top_menu {
		width: 100%;
	}
	.top_menu ul {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 72px;
		z-index: 3;
		background: #419fc3;
        margin-left: 0;
	}
	.top_menu ul li {
		display: block;
	}
	.top_menu ul li.active span {
	}
	.top_menu ul li a {
		color: #fff;
		font-size: 16px;
		line-height: normal;
	}
	.top_menu ul li a:hover {
	}
	.top_menu ul li.active {
		;
	}
	.top_menu ul li.active span {
		;
	}
	.top_menu ul li.active span a {
	}
	.top_menu ul li.active span a:hover {
	}
    #header .header-phone{
        position: absolute;
        top: 35px;
        right: 80px;
    }
/*
	#header .logo {
		width: 215px;
		transform: translateX(-38%);
		top: 140px !important;
	}
*/  
    #header .logo{
        margin-left: 15px;
    }

	#header .logo img {
		width: 100%;
	}
	a.subitem.clicklink.common {
		padding: 0 5px;
		height: 60px;
	}
	/*li.subitem.open.current:nth-child(1) {
		width: 85px;
	}
	li.subitem.open.current:nth-child(2) {
		width: 120px;
	}
	li.subitem.open.current:nth-child(3) {
		width: 105px;
	}
	li.subitem.open.current:nth-child(4) {
		width: 65px;
	}
	li.subitem.open.current:nth-child(5) {
		width: 105px;
	}
	li.subitem.open.current:nth-child(6) {
		width: 90px;
	}*/
	.services_img {
		width: 115px;
		height: 115px;
		display: inline-block;
		text-decoration: none;
	}
	.services {
	}
	.services_item [class^="flaticon-"]:before {
		font-size: 65px;
		line-height: 115px;
	}
	.services_item .flaticon-transport:before {
		font-size: 80px;
	}
	.services_title {
		margin-bottom: 10px;
		font-size: 16px;
	}
	#content {
		padding-top: 10px;
	}
	.inner {
			font-size: 14px;
			padding: 0 10px;
	}
	.typeprod {
		padding: 20px 0;
	}
  .typeprod_item {
		margin: 0px 45px 15px;
	}
  .typeprod_item:nth-child(n+4) {
    margin: 0 32px 20px;
  }
	.typeprod_title {
    	font-size: 16px;
	}
	.typeprod_img {
		width: 140px;
		height: 140px;
	}
	.product_list {
		padding: 20px 0 0;
	}
	.product_list .item .block {
		margin: 0 10px;
		width: 275px;
	}
	.adress_block {
		font-size: 14px;
		padding: 11px;
		padding-bottom: 1px;
	}
	.f-bottom {
		padding: 10px 15px;
	}
	.f-bottom-l {
		padding-right: 10px;
		width: 130px;
	}
	.f-bottom-r {
		width: 110px;
		margin-left: 10px;
	}
	.f-bottom-c {
		padding: 0 120px 0 140px;
	}
	.lastitem_link {
		font-size: 14px;
		padding: 5px 10px;
	}
	.lastitem_link i:before {
		font-size: 26px;
	}
	.models_link {
		height: 70px;
	}

	.text_page {
	    padding: 0 10px 5px;
	}


.bestseller_block.tovar_3d {
    margin-bottom: 15px;
}

.cart_page .button_bike {
    height: 25px;
}

.cart_page .button_bike > div {
    line-height: 25px;
}
.cart_page .button_bike .r {
    width: 150px;
}

.cart_page .button_bike .r a {
	padding: 0 10px;
    font-size: 14px;
}
.cart_page .button_bike .l {
    padding-right: 150px;
    font-size: 14px;
}

.cart_page .button_bike .l span {
    font-size: 16px;
}

.tab {
    font-size: 16px;
    padding: 7px 0;
}
.tab_content {
    padding: 15px;
}
.cart_page table {
    font-size: 13px;
}

.paging {
    margin-right: 0;
    text-align: left;
}

.sort_item {
    width: 25%;
    /*margin-right: 10px;*/
}
ul.sort_list {
    padding: 0;
}
.block_info {
    padding: 15px 15px 5px;
    margin: 0 10px 15px;
}

ul.parts_list {
    padding-left: 0;
}

.parts_item {
    width: 233px;
    padding: 0 10px 7px 10px;
}
.parts_link:before {
content: "";
    display: block;
    position: absolute;
    border-top: 4px solid transparent;
    border-left: 8px solid #419fc3;
    border-bottom: 4px solid transparent;
    left: -12px;
    top: 4px;
}
.news_page .items {
    padding-bottom: 10px;
}
.expo {
    margin-bottom: 15px;
    height: auto;
}
.expo_right {
    float: none;
    width: auto;
}
.expo_map {
    height: 200px;
}
.expo_map > ymaps{
	height: 200px !important;
}
.expo_left {
	padding: 15px 15px 5px;
}
.serv_bg {
	padding: 20px;
	padding-bottom: 10px;
	margin: 0 10px 15px;
}
.serv_text1 {
	font-size: 16px;
	overflow-x: scroll;
}
.serv_text2 {
	font-size: 14px;
	color: #6acedc;
	text-decoration: underline;
}
.serv_text3 {
	font-size: 15px;
}
.paylate_padding,
.paylate {
	display: none;
}

.about_bg {
		padding: 15px 15px 5px;
		margin: 0 10px 15px;
}

.bestseller_block {
    margin-bottom: 15px;
}
.h-slider-title {
    top: 15%;

}
.slick-dots {
    padding-right: 60px;
}
.prod_name {
	padding: 0;
}

}
@media (max-width:1129px) {
	#wrapper {
		padding: 0;
		border: 0;
	}
}
