<?
$count = count($this->items);
?>
<?if ($count >0) {?>
    <?$sum_price=0; ?>
    <?foreach ($this->items as $item) {
        $sum_price=$sum_price+ $item['price']*$item['count'];
    } ?>
<div class="cart_block">
    <div class="block cart">
        <div class="left_bg">
            <div class="right_bg">
                <div class="top_l">
                    <div class="bottom_l">
                        <div class="top_r">
                            <div class="bottom_r">
                                <div class="top"></div>
                                <div class="in">
                                    <h4>Ваша корзина:</h4>
                                    <div class="cartitem" id="total_prod_cart">Товаров: <?=$count?></div>
                                    <div class="cartitem" id="total_cost_cart">Сумма, руб.: <?=$sum_price;?></div>
                                    <div class="deliveryInfo">
                                          <?php echo $this->action('custompage', 'page', 'default', array('pageid' => 204));?>
                                    </div>
                                    <div class="button"><a href="<?//=$this->baseUrl()?>/cart"><input name="" type="image" src="/img/button_zakaz.gif" /></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<? } else {?>
<div class="cart_block">
    <div class="block cart">
         <div class="left_bg">
            <div class="right_bg">
                <div class="top_l">
                    <div class="bottom_l">
                        <div class="top_r">
                            <div class="bottom_r">
                                <div class="top"></div>
        <div class="in">
            <h4>Ваша корзина:</h4>
            <div class="cartitem">Товаров: 0</div>
            <div class="cartitem">Сумма, руб.: 0</div>
            <div class="deliveryInfo">
                                          <?php echo $this->action('custompage', 'page', 'default', array('pageid' => 204));?>
                                    </div>
            <div class="button"><a href="<?//=$this->baseUrl()?>/cart"><input name="" type="image" src="/img/button_zakaz.gif" /></a></div>
        </div>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<?} ?>

<div class="clear"></div>