<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/all/config/">Шаблоны</a></td>
							<td class="active">Умолчания</td>
						</tr>
					</table>
					</div>
					<div id="config_main_head">
						<div class="config_head">
							<div class="left_y"><!-- --></div>
							<div class="config_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="config_table" cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td class="le_news">
										Префикс для TITLE
									</td>
									<td class="active_news">
										<input type="text" name="file_name" align="left">
									</td>
								</tr>
								<tr>
									<td class="le_news">
										Keywords (по-умолчанию)
									</td>
									<td class="active_news">
										<input type="text" name="file_name" align="left">
									</td>
								</tr>
								<tr>
									<td class="le_news">
										Description (по-умолчанию)
									</td>
									<td class="active_news">
										<input type="text" name="file_name" align="left">
									</td>
								</tr>
							</table>
							<div class="btn_app"><a href="#"><img src="/images/config_app.gif" width="119px" height="25px" /></a></div>
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
<?php
	$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
	$this->child_name = "Настройка модуля";
	$this->name = "Настройка модуля";
?>
				