<html>
	<head>
		<meta http-equiv=content-type content="text/html; charset=UTF-8">
		<title>CMS - Configs - Globals</title>
	</head>
	<body>
	<h1>
		Глобальные настройки
	</h1>
		<table>
			<form action="/admin/all/config/global/" method="POST" id="config">
			<?php
				foreach ($this->globals as $key=>$data){
					?>
					<tr>
						<td>
							<?=$this->escape($data -> title);?>
						</td>
						<td>
							<input type="text" id="value[<?=$data->id?>]" name = "value[<?=$data->id?>]" value="<?=$this->escape($data -> value);?>" />
						</td>
					</tr>
					<?php
				}
			?>
				<tr>
					<td>
						<input type="submit" name="ok" id="ok" title="Сохранить" value="Сохранить">
					</td>	
				</tr>	
			</form>
		</table>		
	</body>
</html>		
<br /><a href="/admin/all/index/logout/">Logout</a>