<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Шаблоны</td>
							<td class="normal"><a href="/admin/all/config/defaults/">Умолчания</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название шаблона</td>
									<td>Имя файла</td>
									<td>Основной</td>
									<td>Удалить</td>
								</tr>
								<tr>
									<td class="le_config">
										<input type="text" name="template_name">
									</td>
									<td class="active_config">
										<input type="text" name="file_name">
									</td>
									<td class="corr_config">
										<input type="radio" name = "flag_main" value="1">
									</td>
									<td class="del_config">
										<input type="checkbox" name = "flag_delete">
									</td>
								</tr>
								<tr>
									<td class="le_config">
										<input type="text" name="template_name">
									</td>
									<td class="active_config">
										<input type="text" name="file_name">
									</td>
									<td class="corr_config">
										<input type="radio" name = "flag_main" value="2">
									</td>
									<td class="del_config">
										<input type="checkbox" name = "flag_delete">
									</td>
								</tr>
							</table>
							<div class="btn_app"><a href="#"><img src="/images/news_app.gif" width="119px" height="25px" /></a></div>
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
<?php
	$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
	$this->child_name = "Настройка модуля";
	$this->name = "Настройка модуля";
?>
				