<form action="<?php echo $this->baseUrl ?>/galleryAdmin/<?php
echo $this->action.'/galid/'.$this->gal_id; ?>" method="post" onSubmit="hideBtn()" target="hiddenframe" enctype="multipart/form-data">
<label for="mail">Image:</label>
<p>
<input type="file" id="userfile" name="userfile" />
</p>
<input type="hidden" name="MAX_FILE_SIZE" value="30000" />
<div id="sendBtn">
<input type="submit" value="Upload" />
	</div>
	</form>
<div id="res"></div>
<iframe id="hiddenframe" name="hiddenframe" style="width:0px; height:0px; border:0px"></iframe>
<p><a href="<?php echo $this->baseUrl;?>/galleryAdmin/index/galid/<?php echo $this->gal_id; ?>">Return to gallery.</a></p>
