<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->currentModul/' class='blue'>Фотогалерея</a>";
$this->child_name = "Фотографии";
$this->name = "Модуль управления содержимым сайта";
?>
<script type="text/javascript">
      function hideBtn() {
          document.getElementById("sendBtn").innerHTML = "Wait for uploading…";
          document.getElementById("res").innerHTML = "";
      }
      function handleResponse(mes) {
           var resElement = document.getElementById("res");
           document.getElementById("sendBtn").innerHTML =
               "<input type=\"submit\" value=\"Upload\" />";
          if (mes.error != null) {
              resElement.innerHTML = "There are errors while uploading file:" + mes.error;
          }
          else if (mes.image != null) {
              resElement.innerHTML = "<img src="+mes.image+">";
          }
      }
</script>


<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/ru/gallery/photos/galid/<?php echo $this->gal_id; ?>" >Назад</a></td>
							
							<td class="active">Добавить</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px;">
							
<form action="/admin/ru/gallery/addpict/<?php
echo $this->action.'/galid/'.$this->gal_id; ?>" method="post" onSubmit="hideBtn()" target="hiddenframe" enctype="multipart/form-data"> <!-- --> 
<label for="mail">Image:</label>
<p>
<input type="file" id="userfile" name="userfile" />
</p>
<input type="hidden" name="MAX_FILE_SIZE" value="30000" />
<input type="hidden" name="galid" value="<?php echo $this->gal_id; ?>" />
<div id="sendBtn">
<input type="submit" value="Upload" />
	</div>
	</form>
<div id="res"></div>
<iframe id="hiddenframe" name="hiddenframe" style="width:0px; height:0px; border:0px"></iframe>


</div>
</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
