<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/muzey/' class='blue'>Фотомузей</a>";
$this->child_name = "Редактировать Элемент ";
$this->name = "Редактировать Элемент";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item input.text {width:100%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center;}
</style>
<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
				<div id="redactor_main_head">
						<div class="redactor_head">
							<div class="left_y"><!-- --></div>
							<div class="redactor_headbg_longer">
								<table cellspacing="0" cellpadding="0" border="0" class="red_title">
									<tr>
										<td class="redactor_img"><!-- --></td>
										<td>Редактор содержимого</td>
									</tr>
								</table>
							</div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px">
							<form method="post" action="/admin/<?=$this->lang?>/gallery/edititem/id/<?=$this->item->id?>/"  >
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main">Название</td>
									<td ><input type="text" class="text" size="90" name="add[name]" value="<?=$this->item->name?>" /></td>
									
								</tr>
								<tr>
									<td class="main" >Анонс</td>
									<td ><textarea name="add[intro]" cols="70" class="text" rows="3"><?=$this->item->intro?></textarea></td>
								</tr>
								<tr>
									<td class="main" >Содержание</td>
									<td ><textarea name="add[content]" class="text" cols="70" rows="5"><?=$this->item->content?></textarea></td>
								</tr>
								
								<tr>
									<td  colspan="2" >Активна&nbsp;&nbsp;&nbsp;<input name="add[pub]" type="checkbox" <?=$this->item->pub==1 ? 'CHECKED' : ''?>  /></td>
									
								</tr>
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
