<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='$this->currentModul/items/' class='blue'>Новости</a>";
$this->child_name = "Страницы";
$this->name = "Модуль управления содержимым сайта";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Страницы</td>
							
							<td class="normal"><a href="<?=$this->currentModul?>/addp/">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>
									<td>Активность</td>
									<td>Редактировать</td>
									<td>Удалить</td>
								</tr>
								<?php
									foreach ($this->all as $key => $data){
										
										?>
											<tr>
												<td class="le_config">
													<a href ="/admin/<?=$this->lang?>/Catalog_Division/index/id_page/<?=$data->id?>" title="перейти к содержимому"><strong><?=$data->name?></strong></a>
													<br />
													<?=$data->pubDate?>
												</td>
												<td class="corr_config">
													<?php
													if($data->published == 1)
													{
														?>
															<a href = '/admin/<?=$this->lang?>/catalog/unactivatep/id/<?=$data->id?>/'><img src="/images/krug.gif"></a>
														<?php
													}
													else
													{
														?>
															<a href = '/admin/<?=$this->lang?>/catalog/activatep/id/<?=$data->id?>/'><img src="/images/black_krug.gif"></a>
														<?php
													}
													?>						
												</td>
												<td class="edit_config">
													<a href = '/admin/<?=$this->lang?>/catalog/edit/id/<?=$data->id?>/'><img src="/images/redact.gif" /></a>
												</td>
												<td class="del_config">
												<?if ($data->deleteble==1){?>
													<a href = '/admin/<?=$this->lang?>/catalog/deletep/id/<?=$data->id?>/'><img src="/images/delete.gif"></a>						<?}?>
												</td>
											</tr>
										<?php
									}
								?>
							</table>
							
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
