<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/extjs/examples/tree/column-tree.css" />
<link rel="stylesheet" type="text/css" href="/extjs/my.css" />

<script type="text/javascript" src="/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/extjs/ext-all.js"></script>
<script type="text/javascript" src="/extjs/ColumnNodeUI.js"></script>
<script>
	if(screen.width == '1024'){
		var widthAll = 745;
		var widthFirst = 590;
		var widthLast = 153;
		
	}
	else if(screen.width == '1280' && navigator.appName != "Microsoft Internet Explorer"){
		var widthAll = 905;
		var widthFirst = 750;
		var widthLast = 153;
	}
	else if(screen.width == '1280'){
		var widthAll = 760;
		var widthFirst = 605;
		var widthLast = 153;
		
	}
</script>
<script type="text/javascript">
var users_json = <?=$this->ch?>;

Ext.onReady(function(){
    var tree = new Ext.tree.ColumnTree({
        el:'tree-ct',
        width:widthAll,
        autoHeight:true,
        rootVisible:false,
        autoScroll:true,
//        animate:true,
        enableDD:false,
        containerScroll: true,
        title: 'Фотомузей',
        
        columns:[{
            header:'Страница',
            width:widthFirst,
            dataIndex:'task'
        },{
            header:'Действие',
            width:widthLast,
            dataIndex:'duration'
        }
//        {
//            header:'Assigned To',
//            width:100,
//            dataIndex:'user'
//        }
        ],

        loader: new Ext.tree.TreeLoader(
        {
//            dataUrl:'/test/column-data.json',
//            dataUrl:'/test/mydata.json',
            uiProviders:{
                'col': Ext.tree.ColumnNodeUI
            }
        }
        ),

        root: new Ext.tree.AsyncTreeNode({
            text:'Tasks',
            draggable:true,
        	id:'source',
        	children:users_json
        })
    });
    tree.render();
    tree.root.expand(true);
   
    
  /*  tree.on('beforenodedrop', function(e){
	var n = e.dropNode.attributes;
    var m = e.target.attributes;
	    Ext.Ajax.request(
	    {
	    	method: 'POST',
	    	url: '/admin/all/pages/',
	    	params: {node: encodeURIComponent(n.id), target: encodeURIComponent(m.id), point: encodeURIComponent(e.point)}
	    });
	}); */
	
});
</script>
<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
$this->child_name = "СТРУКТУРА САЙТА";
$this->name = "Модуль управления содержимым сайта";
?>
<div id="tree-ct">
   
</div>



