<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->currentModul/' class='blue'>Фотогалерея</a>";
$this->child_name = "Фотографии";
$this->name = "Модуль управления содержимым сайта";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">фото</td>
							
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/addpict/galid/<?php
echo $this->gal_id;?>">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:10px;">
							
<script type="text/javascript">
    function openw(res) {
        var z = res.src, newstr, myWindow, type;
        newstr = z.substr(0,z.indexOf('_preview'));
        type = res.src.substr(res.src.indexOf('.'));
        newstr += '_big'+type;
        
        myWindow = window.open(newstr, null, "top=150,left=150, width=500, height=400,directories=no,status=no,scrollbars=no, resize=yes,menubar=no, titlebar=no,toolbar=no");
    }
</script>




<?php if ($this->message): ?>
    <div style="color:#FF0000; padding:10px 10px 10px 10px;"><?php echo $this->message; ?></div>
<?php endif; ?>

<style>
#photolist {width:780px; padding:5px;}
#pict {width:100px; height:100px; float:left; text-align:center; vertical-align:middle;  margin-left:5px;margin-right:5px;}
</style>



<div id="photolist">


<?php foreach($this->image as $aImage) : ?>
	<div id="pict">
		<?php echo  substr($aImage->name, 0, strpos($aImage->name, '.')); ?><br>
        <img src="<?php echo '/pics/galerypics/'.$this->escape($aImage->id).'_preview.jpeg';?>" onClick="openw(this)"><br>
        
        

		
		
		<a href="/admin/ru/gallery/delfoto/id/<?php echo $aImage->id;?>/galid/<?php
		echo $this->gal_id;?>" onclick="return confirm('Are you sure?')"><img src="/images/delete.gif"></a>
	</div>

<?php endforeach; ?>

</div>


</div>
</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
