<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cms tree</title>
<link rel="stylesheet" type="text/css" href="/test/resources/css/ext-all.css" />

    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="/test/adapter/ext/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="/test/ext-all.js"></script>


<!-- Common Styles for the examples -->
<link rel="stylesheet" type="text/css" href="/test/examples.css" />
</head>
<body>
<script type="text/javascript">
//var users_json = [{
//		cls: "file", 
//        text: "Forename Surname", 
//        id: "user_1", 
//        leaf: true
//    }];
var users_json = <?=$this->ch?>;



Ext.onReady(function(){
    // shorthand
    var Tree = Ext.tree;
    
    this.tree = new Tree.TreePanel({
        el:'tree-div',
        autoScroll:true,
        border:false,
        bodyBorder:false,
        animate:true,
        enableDD:true,
        containerScroll: true,
        loader: new Tree.TreeLoader()
    });

    // set the root node
    var root = new Tree.AsyncTreeNode({
        text: 'Наш сайт',
        draggable:false,
        id:'source',
        children:users_json
    });
    this.tree.setRootNode(root);
	this.tree.addListener('click', function(e){alert(111);}, this);
	this.tree.addListener('contextMenu', function(){
		

		contextMenu = new Ext.menu.Menu({
        id:"myMenu",
        items: [{
            text: 'An item',
            handler: function(){alert(333);}
        },
        new Ext.menu.Item({
            text: 'Another item',
            handler: function(){alert(444);}
        })
    ]
    
    }); 
	}, this);
    
    // render the tree
    this.tree.render();
    root.expand();
        
    this.tree.on('beforenodedrop', function(e){
		var n = e.dropNode.attributes;
        var m = e.target.attributes;
        Ext.Ajax.request(
        {
        	method: 'POST',
        	url: 'http://cms/admin/test/',
        	params: {node: encodeURIComponent(n.id), target: encodeURIComponent(m.id), point: encodeURIComponent(e.point)}
//          success: function(o)
//          {
//          	
//          }
        });
               
        

            
	}); 
	
});
</script><!-- EXAMPLES -->
<h1>CMS</h1>

<div id="tree-div" style="overflow:auto; height:300px;width:250px;border:1px solid #c3daf9;"></div>

</body>
</html>
