<div class="actions">
    <div class="block_blue head">
        <div class="left_bg">
            <div class="right_bg">
                <div class="top_l">
                    <div class="bottom_l">
                        <div class="top_r">
                            <div class="bottom_r">
                                <div class="in">
                                    <h1>Акции</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action_page">
        <?foreach ($this->actions as $action) {?>        
            <a href="/actions/id/<?=$action->id?>">
                <p>
                    <?=strip_tags($action->intro)?>
                </p>
            </a>        
        <?}?>
    </div>
</div>