<?if (count($this->actions) > 0) {?>
    <h3>Акции и скидки!</h3>
    <!--block action-->
    <div class="block action">
        <div class="left_bg">
            <div class="right_bg">
                <div class="top_l">
                    <div class="bottom_l">

                        <div class="top_r">
                            <div class="bottom_r">
                                <!--Left and right line-->
                                <div class="left_line"></div>
                                <div class="right_line"></div>
                                <!--End Left and right line-->
                                <div class="in">
                                    <ul>
                                       <?php foreach ($this->actions as $action) {?>
                                        <li>
                                            <?=$action->intro?>
                                        </li>
                                        <?}?>
                                    </ul>
                                    <!--End block content-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End block action-->
<?}?>
