<div class="articles">
    <h3><a href="/articles">Статьи:</a></h3>
    <?php
        foreach ($this->articles as $article) {?>
            <div>
                <a href="<?=$this->baseUrl()?>articles/item/<?=$article->url?>">
                    <p><?=$article->intro?></p>
                </a>
            </div>
    <?}?>
    <a href="/articles" class="all_articles">Все статьи</a>
</div>
