<div class="articles">
    <h3>Статьи:</h3>
    <div>
        <a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a>
    </div>
    <div>
        <a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a>
    </div>
    <div>
        <a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a>
    </div>
    <a href="#" class="all_articles">Все статьи</a>
</div>
