<?if (count($this->tovars) >0) {?>
    <?$sum_price=0; ?>
    <?foreach ($this->tovars as $item) {
        $sum_price=$sum_price+ $item->price*$this->items_session[$item->id]['count'];
    } ?>
    <div class="cart_block">
        <div class="block cart">
            <div class="in">
                <h4>Ваша корзина:</h4>
                <div class="item">Товаров: count($this->tovars)</div>
                <div class="item">Сумма, р.: <?=$sum_price;?></div>
                <div class="button"><a href="<?=$this->baseUrl()?>cart"><input name="" type="image" src="/img/button_zakaz.gif" /></a></div>
            </div>
        </div>
    </div>

<? } else {?>
    <div class="cart_block">
    <div class="block cart">
        <div class="in">
            <h4>Ваша корзина:</h4>
            <div class="item">Товаров: 0</div>
            <div class="item">Сумма, р.: 0</div>
            <div class="button"><a href="<?=$this->baseUrl()?>cart"><input name="" type="image" src="/img/button_zakaz.gif" /></a></div>
        </div>
    </div>
    </div>
<?} ?>

