<?if (count($this->tovars) >0) {?>
	<?$sum_price =0; ?>
 	<?foreach ($this->tovars as $item){ ?>
      <div class="cart_b">
        <div class="left"><?=$item->name?><br>
          <em>количество</em>: <?=$this->items_session[$item->id]['count'] ?></div>
        <div class="right"> <?=$item->price?> <em>руб</em><br>
          <a href="#" onclick="deleteTovarFromBasket(<?=$item->id ?>, 'carts'); return false;">удалить</a></div>
        <div class="clear"></div>
      </div>
      <?$sum_price=$sum_price+ $item->price*$this->items_session[$item->id]['count'];?>
      <?} ?>
      <div class="itogo"><b>Итого:</b> <i><em><?=$sum_price ?></em> руб</i>
        <div class="clear"></div>
      </div>
      <div class="zakaz_blok"><a href="#" onclick="clearBasket('carts');return false;"><img src="/img/clear.gif" width="97" height="25" border="0" class="zakaz_blok1i"></a> <a href="/korzina"><img src="/img/zakaz.gif" width="97" height="25" border="0" class="zakaz_blok2i"></a>
        <div class="clear"></div>
      </div>
<? } else {?>
	<div>Нет товаров в корзине</div>
<?} ?>
    