<h3 class="bestseller">Лучшие предложения:</h3>
<div class="bestseller_block" id="best_tovar">
    <!-- item-->
    <div class="">
        <div class="block">
            <div class="left_bg">
                <div class="right_bg">
                    <div class="top_l">
                        <div class="bottom_l">
                            <div class="top_r">
                                <div class="bottom_r">
                                    <div class="in">

                                        <!--block content-->
                                        <div class="photo"><img src="img/photo_velo.gif" alt="" /></div>
                                        <a href="#" class="cart">Купить</a>
                                        <!--End block content-->

                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div>
        <div class="text_bl"><a href="#" class="head">Велосипед GT Outpost</a>
            <span class="price">Цена: 1 500 000 руб.</span>
            <span class="price"><i>1 300 000</i> руб.</span>
            <p>Высокотехнологичная рама этого горного велосипеда доставит Вам массу удовольствий и выделит Вас из массы других велосипедистов...</p>
            <a href="read_more" class="read_more">Подробнее</a>
        </div>
    </div>
    <!--End item-->

    <!-- item-->
    <div class="item">
        <div class="block">
            <div class="left_bg">
                <div class="right_bg">
                    <div class="top_l">
                        <div class="bottom_l">
                            <div class="top_r">
                                <div class="bottom_r">
                                    <div class="in">

                                        <!--block content-->
                                        <div class="photo"><img src="img/photo_velo.gif" alt="" /></div>
                                        <a href="#" class="cart">Купить</a>
                                        <!--End block content-->

                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div>
        <div class="text_bl"><a href="#" class="head">Велосипед GT Outpost</a>
            <span class="price">Цена: 1 500 000 руб.</span>
            <span class="price"><i>1 300 000</i> руб.</span>
            <p>Высокотехнологичная рама этого горного велосипеда доставит Вам массу удовольствий и выделит Вас из массы других велосипедистов...</p>
            <a href="read_more" class="read_more">Подробнее</a>
        </div>
    </div>
    <!--End item-->

    <!-- item-->
    <div class="item">
        <div class="block">
            <div class="left_bg">
                <div class="right_bg">
                    <div class="top_l">
                        <div class="bottom_l">
                            <div class="top_r">
                                <div class="bottom_r">
                                    <div class="in">

                                        <!--block content-->
                                        <div class="photo"><img src="img/photo_velo.gif" alt="" /></div>
                                        <a href="#" class="cart">Купить</a>
                                        <!--End block content-->

                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div>
        <div class="text_bl"><a href="#" class="head">Велосипед GT Outpost</a>
            <span class="price">Цена: 1 500 000 руб.</span>
            <span class="price"><i>1 300 000</i> руб.</span>
            <p>Высокотехнологичная рама этого горного велосипеда доставит Вам массу удовольствий и выделит Вас из массы других велосипедистов...</p>
            <a href="read_more" class="read_more">Подробнее</a>
        </div>
    </div>
    <!--End item-->

    <!-- item-->
    <div class="item end">
        <div class="block">
            <div class="left_bg">
                <div class="right_bg">
                    <div class="top_l">
                        <div class="bottom_l">
                            <div class="top_r">
                                <div class="bottom_r">
                                    <div class="in">

                                        <!--block content-->
                                        <div class="photo"><img src="img/photo_velo.gif" alt="" /></div>
                                        <a href="#" class="cart">Купить</a>
                                        <!--End block content-->

                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div>
        <div class="text_bl"><a href="#" class="head">Велосипед GT Outpost</a>
            <span class="price">Цена: 1 500 000 руб.</span>
            <span class="price"><i>1 300 000</i> руб.</span>
            <p>Высокотехнологичная рама этого горного велосипеда доставит Вам массу удовольствий и выделит Вас из массы других велосипедистов...</p>
            <a href="read_more" class="read_more">Подробнее</a>
        </div>
    </div>
    <!--End item-->

    <div class="clear"></div>



</div>