<div class="cart_block">
    <!--cart-->
    <div class="block cart">

        <div class="in">

            <!--block content-->
            <h4>Ваша корзина:</h4>
            <div class="item">Товаров: 4</div>
            <div class="item">Сумма, р.: 111114</div>

            <div class="button"><a href="<?=$this->baseUrl()?>cart"><input name="" type="image" src="/img/button_zakaz.gif" /></a></div>


            <!--End block content-->

        </div></div>

    <!--End cart-->
</div>