<?if ($this->items->count()) {?>
<h3 class="bestseller">Лучшие предложения:</h3>
<div class="product_list" id="best_tovar">
        <?foreach ($this->items as $key=> $item) {?>
            <?php $url = '/'.$this->page_path.'/tovar/'.$item->id.'/'; ?>

            <!-- item-->
            <div class="item">
                <div class="block">
                    <?if($item->show_3dmodel){?>
                    <span class="item_3d">
                        <i class="flaticon-shapes"></i>
                    </span>
                    <?}?>
                    <a href="<?=$this->baseUrl()?>katalog/tovar/<?=$item->id?>" class="prod_name">
                        <?=$item->name?>
                    </a>
                    <div class="photo">
                        <a href="<?=$this->baseUrl()?>katalog/tovar/<?=$item->id?>">
                          <img src="/pics/catalog/tovar/<?=$item->img_small?>" alt="<?=$this->tovar->name?>">
                        </a>
                    </div>
                    <div class="price">
                        <div class="price_title">Цена:</div>
                        <div class="price_listing_all">
                            <!--<div class="price_listing_rub">
                              <p class="price_new"><?=number_format($item->price,0,'',' ')?></p>
                            <?if ($item->oldprice != '0'){?>
                              <p class="price_old"><?=number_format($item->oldprice,0,'',' ')?></p>
                            <?}?>
                            </div>-->
                            
							<div class="price_listing_coin">
							<?if ($item->price != '0'){?>
                              <p class="price_new"><?=number_format($item->price/10000,2,',',' ')?></p>
                              <span>руб.</span>
								<?if ($item->oldprice != '0'){?>
								  <p class="price_old"><?=number_format($item->oldprice/10000,2,',',' ')?></p>
								<?}?>
							<?}else{?>
							Распродано!
							<?}?>				
                            </div>

							
                        </div>
                      </div>



                <div class="text_bl">
                    <a href="<?=$this->baseUrl()?>katalog/tovar/<?=$item->id?>" class="head">
                        <?=$item->name?>
                    </a>
                    <p><?=$this->cutTextByWords($item->intro, 450) ?></p>
                    <a href="<?=$this->baseUrl()?>katalog/tovar/<?=$item->id?>" class="read_more">Подробнее
                        <span class="read_more_icon">
                            <i class="flaticon-arrows-1"></i>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        <?}?>

</div>

<?}?>
