    <? if (count($this->items)) {?>
    <ul>
        <? foreach ($this->items as $key=>$item) {?>
        <li>
        <?=$item['task']?>
            <? if (isset($item['children']) && $key!=0) {?>
            <ul>
                <? foreach ($item['children'] as $subitem) {?>
                    <? if (isset($subitem['children'])) {?>
                        <li>
                            <?=$subitem['task']?>
                            <ul>
                                <? foreach ($subitem['children'] as $lastitem) {?>
                                    <li>
                                        <a href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$lastitem['id']?>"><?=$lastitem['task']?></a>
                                        <?$tovars = Catalog_Tovar::getInstance()->getAllTovarsByDivId($lastitem['id']);?>
                                    </li>
                                <?}?>
                            </ul>
                        </li>
                    <?}?>
                <?}?>
            </ul>
        <?}?>
        </li>
        
    <?}?>
    </ul>
<?}?>


<!--end catalog menu-->

