<?if ($this->items->count()){?>
           
	<ul id="scroller">
		<?foreach ($this->items as $key=> $item){?>
			<li><a href="/<?=$item->getPath()?>/div_id/<?=$item->id ?>"><img src="/pics/catalog/division/<?=$item->img?>" alt=""></a></li>
	
		<?}?>
	</ul>     
            
 <?php }?>          