<div class="text_page sitemap">
<? if (count($this->items)) {?>
<ul class="sitemap_inner">
    <? foreach ($this->items as $key=>$item) {?>
    <?if($key == 0){?>
    <li>
        <h4><a href="<?=$this->baseUrl()?>katalog/div_id/<?=$item['id']?>"><?=$item['task']?></a></h4>
        <ul class="models">
        <li class="models_item">
          <a class="models_link" href="/katalog/div_id/73000"><img src="/img/LTD.png" alt="Велосипеды LTD"></a>
        </li>
        <!-- <li class="models_item">
          <a class="models_link" href="/katalog/div_id/43000"><img src="/img/Cannondale.png" alt="Велосипеды CANNONDALE"></a>
        </li> -->
        <!--<li class="models_item">
          <a class="models_link" href="/katalog/div_id/16000"><img src="/img/GT.png" alt="Велоcипеды GT"></a>
        </li>-->
        <li class="models_item">
          <a class="models_link" href="/katalog/div_id/401000"><img src="/img/Rizer.png" alt="Велосипеды Rizer"></a>
        </li>
        <!--<li class="models_item">
          <a class="models_link" href="/katalog/div_id/399000"><img src="/img/Orbea.png" alt="Велосипеды Orbea"></a>
        </li>-->
        <li class="models_item">
          <a class="models_link" href="/katalog/div_id/415000"><img src="/img/merida.png" alt="Велосипеды Merida"></a>
        </li>
        <li class="models_item">
          <a class="models_link" href="/katalog/div_id/420000"><img src="/img/centurion.png" alt="Велосипеды Centurion"></a>
        </li>
        <li class="models_item">
          <a class="models_link" href="/katalog/div_id/424000"><img src="/img/ford.png" alt="Велосипеды Ford"></a>
        </li>
        <li class="models_item">
          <a class="models_link" href="/katalog/div_id/408000"><img src="/img/Aist.png" alt="Велосипеды Aist"></a>
        </li>
      </ul>
    </li>

<?}else{?>


        <li class="accessory">
        <h4><a href="<?=$this->baseUrl()?>katalog/div_id/<?=$item['id']?>"><?=$item['task']?></a></h4>
<!--         <? if (isset($item['children'])) {?>
            <ul class="accessory_inner">
                <? foreach ($item['children'] as $subitem) {?>
                    <li class="accessory_item">
                    <? if (isset($subitem['children'])) {?>

                            <a href="<?=$this->baseUrl()?>katalog/div_id/<?=$subitem['id']?>"><?=$subitem['task']?></a>
                            <ul class="accessory_sub">
                                <? foreach ($subitem['children'] as $lastitem) {?>
                                    <li>
                                        <a href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$lastitem['id']?>"><?=$lastitem['task']?></a>
                                        <?$tovars = Catalog_Tovar::getInstance()->getAllTovarsByDivId($lastitem['id']);?>
                                        <?if (isset($subitem['children']) && count($tovars)) {?>
                                            <ul class="accessory_sub">
                                             <?foreach ($tovars as $tovar) {?>
                                                <li>
                                                    <a href="<?=$this->baseUrl()?>katalog/tovar/<?=$tovar->id?>"><?=$tovar->name; ?></a>
                                                </li>
                                            <?}?>
                                            </ul>
                                      <?}?>
                                    </li>
                                <?}?>
                            </ul>

                    <?}else{?>
                        <a href="<?=$this->baseUrl()?>katalog/div_id/<?=$subitem['id']?>"><?=$subitem['task']?></a>
                            <ul class="accessory_sub">

                                    <?$tovars = Catalog_Tovar::getInstance()->getAllTovarsByDivId($subitem['id']);?>
                                    <?if (count($tovars)) {?>

                                         <?foreach ($tovars as $tovar) {?>
                                            <li>
                                                <a href="<?=$this->baseUrl()?>katalog/tovar/<?=$tovar->id?>"><?=$tovar->name; ?></a>
                                            </li>
                                        <?}?>

                                  <?}?>


                            </ul>
                    <?}?>
                     </li>
                <?}?>
             </ul>
        <?}?> -->
        </li>
        <?}?>
    <?}?>
  </ul>
  <div class="sort_wrap">
      <div class="sort_title"><h4>Сортировать:</h4></div>
      <ul class="sort_list">
          <li class="sort_item">
            <a class="sort_link <?=(isset($this->type) && $this->type == 1)?'active':''?>" href="/katalog/div_id/1/type/1">
              <!-- <i class="flaticon-mountain"></i> -->
              <svg class="sort_link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.34 171.62"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title>Ресурс 5</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="100.93 57.78 116.33 33.88 131.59 62.24 141.73 47.98 175.84 106.07"/><path class="cls-1" d="M58,137.31a23.7,23.7,0,1,1-23.69-23.7A23.7,23.7,0,0,1,58,137.31Z"/><path class="cls-1" d="M67.13,137.31a32.82,32.82,0,1,1-32.81-32.82A32.81,32.81,0,0,1,67.13,137.31Z"/><path class="cls-1" d="M161.3,137.31a23.7,23.7,0,1,1-23.7-23.7A23.7,23.7,0,0,1,161.3,137.31Z"/><path class="cls-1" d="M170.42,137.31a32.82,32.82,0,1,1-32.82-32.82A32.82,32.82,0,0,1,170.42,137.31Z"/><polyline class="cls-1" points="80.3 137.3 67.13 137.3 58.01 137.3 40.92 137.3 34.31 137.3 37.99 131.81 47.51 117.63 52.59 110.05 63.7 93.48"/><polyline class="cls-1" points="94.85 92.95 95.21 92.95 96.51 92.95 119.64 92.95 90.96 129.88"/><polyline class="cls-1" points="137.6 137.3 115.48 82.68 115.23 82.06"/><path class="cls-1" d="M40.92,137.31a6.61,6.61,0,1,1-6.61-6.61A6.6,6.6,0,0,1,40.92,137.31Z"/><path class="cls-1" d="M141.52,137.31a3.92,3.92,0,1,1-3.92-3.92A3.92,3.92,0,0,1,141.52,137.31Z"/><path class="cls-1" d="M108.57,17.68a13,13,0,0,1-11.2,16.38,11.38,11.38,0,0,1-1.31.07A13,13,0,0,1,83.55,17.68"/><polyline class="cls-1" points="96.64 50.72 101.23 60.28 114.27 75.14"/><polyline class="cls-1" points="85.98 53.28 95.78 67.58 111.89 79.57 111.89 79.58"/><path class="cls-1" d="M71,76,86,53.28l4,5.85,7.32-7s-4.22-8.76-7.08-12.65c-3.78-5.12-9.71-5.52-18.38,2.64-9.13,8.58-24.13,27.78-24.13,36.42"/><path class="cls-1" d="M96.75,93.12,71,76,47.72,78.53c0,13.94,37.51,21.77,37.51,21.77Z"/><polyline class="cls-1" points="79.81 142.72 80.01 140.58 80.3 137.3 83.71 99.96 83.72 99.89 94.85 92.95 95.24 92.71 95.21 92.95 95.07 94.16 90.96 129.88 89.81 139.89"/><path class="cls-1" d="M79.37,17.68h36.34S112.34,1.5,92,1.5C75.24,1.5,79.37,17.68,79.37,17.68Z"/><path class="cls-1" d="M80.38,146.4h15.9s.19-4.16-2.36-5.83a13.72,13.72,0,0,0-4.44-.68h-6c-3.45,0-3.93.59-3.75,2.22S80.38,146.4,80.38,146.4Z"/><line class="cls-1" x1="90.16" y1="17.68" x2="97.4" y2="34.13"/><path class="cls-1" d="M119.64,78.78a3.92,3.92,0,1,1-3.91-3.91A3.92,3.92,0,0,1,119.64,78.78Z"/></g></g></svg>
              <span>ГОРНЫЕ</span>
            </a>
          </li>
          <?/*?>
          <li class="sort_item">
              <a class="sort_link <?=(isset($this->type) && $this->type == 3)?'active':''?>" href="/katalog/div_id/1/type/3">
                  <!-- <i class="flaticon-travel"></i> -->
                  <svg class="sort_link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 191.09 152.4"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title>Ресурс 2</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M59.24,117.37A24.21,24.21,0,1,1,35,93.16,24.21,24.21,0,0,1,59.24,117.37Z"/><path class="cls-1" d="M68.56,117.37A33.53,33.53,0,1,1,35,83.85,33.53,33.53,0,0,1,68.56,117.37Z"/><path class="cls-1" d="M164.77,117.37a24.22,24.22,0,1,1-24.21-24.21A24.21,24.21,0,0,1,164.77,117.37Z"/><path class="cls-1" d="M174.08,117.37a33.53,33.53,0,1,1-33.52-33.52A33.53,33.53,0,0,1,174.08,117.37Z"/><line class="cls-1" x1="94.17" y1="72.05" x2="117.08" y2="72.05"/><polyline class="cls-1" points="83.08 117.38 35.03 117.38 65.42 72.05"/><line class="cls-1" x1="120.62" y1="73.62" x2="95.08" y2="106.5"/><path class="cls-1" d="M39,117.37a4,4,0,1,1-4-4A4,4,0,0,1,39,117.37Z"/><polyline class="cls-1" points="92.31 116.11 100.36 77.09 86.22 84 84.27 116.9"/><polyline class="cls-1" points="140.56 117.37 139.07 113.66 131.54 94.9 128.06 86.25 123.64 75.25"/><path class="cls-1" d="M120.31,65h10.11a4.37,4.37,0,0,1,2.16,8.17"/><path class="cls-1" d="M144.56,117.37a4,4,0,1,1-4-4A4,4,0,0,1,144.56,117.37Z"/><path class="cls-1" d="M77.76,60.72l22.6,16.37L86.22,84S49.3,67.2,54.74,54c0,0,.64-3.47,6.28-7.36"/><polyline class="cls-1" points="128.66 71.08 120.31 65.01 109.68 57.28 109.74 49.22 100.16 52.93 101.52 63.27 117.73 72.05 120.62 73.61 123.64 75.25 125.16 76.07"/><path class="cls-1" d="M109.86,34.83s-6.75-10.07-18.12-5.76c-9.37,3.55-24.67,11.85-32.5,19.19L77.76,60.72l21.5-14.59.9,6.81h0l9.58-3.72Z"/><path class="cls-1" d="M189.59,83.31a9.14,9.14,0,0,0-9.14-9.14h-24a7.68,7.68,0,1,1,0-15.35h18.89a5.73,5.73,0,0,0,0-11.45h-31.1a4.26,4.26,0,1,1,0-8.51H152"/><line class="cls-1" x1="38.92" y1="28.98" x2="57.1" y2="28.98"/><line class="cls-1" x1="19.92" y1="42.13" x2="43.28" y2="42.13"/><line class="cls-1" x1="28.89" y1="61.08" x2="48.01" y2="61.08"/><path class="cls-1" d="M136.58,17.37a12.59,12.59,0,0,1,.47,3.44,12.88,12.88,0,0,1-11.58,12.81,11.2,11.2,0,0,1-1.3.07,12.89,12.89,0,0,1-12.89-12.88,12.59,12.59,0,0,1,.47-3.44"/><line class="cls-1" x1="118.31" y1="17.37" x2="125.5" y2="33.69"/><path class="cls-1" d="M83.66,123.85H101.6s.2-4.44-2.52-6.22c-.68-.45-3.5-.73-4.73-.73H87c-3.68,0-2.8-.36-3,1.37C83.66,120.92,83.66,123.85,83.66,123.85Z"/><path class="cls-1" d="M125,75.07a4,4,0,1,1,4,4A4,4,0,0,1,125,75.07Z"/><path class="cls-1" d="M108.13,17.37h35.63S140.46,1.5,120.5,1.5C104.08,1.5,108.13,17.37,108.13,17.37Z"/></g></g></svg>
                  <span>КОМФОРТНЫЕ</span>
              </a>
          </li>
        <?*/?>
          <li class="sort_item">
            <a class="sort_link <?=(isset($this->type) && $this->type == 4)?'active':''?>" href="/katalog/div_id/1/type/4">
              <!-- <i class="flaticon-tool"></i> -->
              <svg class="sort_link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175.59 160.3"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title>Ресурс 1</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M59.24,125.27A24.21,24.21,0,1,1,35,101.06,24.21,24.21,0,0,1,59.24,125.27Z"/><path class="cls-1" d="M68.56,125.27A33.53,33.53,0,1,1,35,91.75,33.53,33.53,0,0,1,68.56,125.27Z"/><path class="cls-1" d="M164.77,125.27a24.22,24.22,0,1,1-24.21-24.21A24.21,24.21,0,0,1,164.77,125.27Z"/><path class="cls-1" d="M174.09,125.27a33.53,33.53,0,1,1-33.53-33.52A33.53,33.53,0,0,1,174.09,125.27Z"/><polyline class="cls-1" points="80.96 125.28 35.03 125.28 57.51 91.75"/><polyline class="cls-1" points="75.81 79.95 121.82 79.95 90.7 120.48"/><path class="cls-1" d="M41.78,125.27A6.75,6.75,0,1,1,35,118.52,6.75,6.75,0,0,1,41.78,125.27Z"/><path class="cls-1" d="M71.57,14.77A13.27,13.27,0,1,1,84.83,28,13.27,13.27,0,0,1,71.57,14.77Z"/><polyline class="cls-1" points="82.11 35.59 96.24 54.75 115.17 62.17"/><polyline class="cls-1" points="77.6 48.61 91.7 63.22 113.73 67.77"/><polyline class="cls-1" points="91.12 126.77 88.6 89.32 62.33 71.79"/><path class="cls-1" d="M38.51,74.41c0,14.24,38.32,22.25,38.32,22.25L81,126.77"/><path class="cls-1" d="M121.15,65.74a4.37,4.37,0,0,1-.82,8.67H120l20.54,50.86"/><polyline class="cls-1" points="107.03 14.77 140.56 14.77 140.56 48.6 164.77 48.6 164.77 81.92"/><polyline class="cls-1" points="107.03 32.08 107.03 23.98 115.13 23.98"/><polyline class="cls-1" points="124.69 32.08 124.69 23.98 132.79 23.98"/><polyline class="cls-1" points="107.03 48.6 107.03 40.51 115.13 40.51"/><polyline class="cls-1" points="124.69 48.6 124.69 40.51 132.79 40.51"/><polyline class="cls-1" points="147.81 64.18 147.81 56.09 155.9 56.09"/><path d="M140.56,121.27a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-3a7,7,0,1,0,7,7,7,7,0,0,0-7-7Z"/><path class="cls-1" d="M81.5,133.71H99.43s.21-4.44-2.51-6.22c-.69-.44-3.5-.72-4.73-.72H84.8c-3.68,0-4.2.63-4,2.37S81.5,133.71,81.5,133.71Z"/><path class="cls-1" d="M113.12,65.66a4,4,0,1,1,4,4A4,4,0,0,1,113.12,65.66Z"/><path class="cls-1" d="M88.49,44.25s-5.12-6.92-6.39-8.66S72,28.87,63.16,37.2C53.83,46,38.51,65.59,38.51,74.41l23.82-2.62L77.6,48.62,81.79,53Z"/></g></g></svg>
              <span>ГОРОДСКИЕ</span>
            </a>
          </li>
          <?/*?>
          <li class="sort_item">
            <a class="sort_link <?=(isset($this->type) && $this->type == 7)?'active':''?>" href="/katalog/div_id/1/type/7">
              <i class="flaticon-folding"></i>
              <span>СКЛАДНЫЕ</span>
            </a>
          </li>
           <?*/?>
          <li class="sort_item">
            <a class="sort_link <?=(isset($this->purpose) && $this->purpose == 1)?'active':''?>" href="/katalog/div_id/1/purpose/1">
              <!-- <i class="flaticon-transport-1"></i> -->
              <svg class="sort_link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.04 164.43"><defs><style>.cls-1,.cls-2{fill:none;}.cls-1{stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title>Ресурс 8</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M71.33,122.39,87,113.68s-1.51-4.24-4.58-4.58c-.76-.09-3.33,1-4.41,1.62l-6.47,3.59c-3.21,1.78-3.42,2.63-2.58,4.15S71.33,122.39,71.33,122.39Z"/><polyline class="cls-1" points="65.23 109.54 69.39 115.74 75.8 111.96 60.22 76.69"/><polyline class="cls-1" points="11.84 95.25 24.41 83.74 24.42 83.74"/><path class="cls-1" d="M31.13,79.93,51.6,77c6-.86,9.46-.78,8.91,0l-.08.13-8.1,12.4"/><path class="cls-1" d="M2.41,143.37A26.38,26.38,0,1,1,34.72,162,26.38,26.38,0,0,1,2.41,143.37Z"/><path class="cls-1" d="M91.66,119.46A26.38,26.38,0,1,1,124,138.11,26.39,26.39,0,0,1,91.66,119.46Z"/><path class="cls-1" d="M98.51,117.62a19.3,19.3,0,1,1,23.63,13.65A19.29,19.29,0,0,1,98.51,117.62Z"/><path class="cls-1" d="M8.77,141.67a19.79,19.79,0,1,1,24.24,14A19.8,19.8,0,0,1,8.77,141.67Z"/><polyline class="cls-1" points="67.99 124.56 70.56 121.15 78.68 110.39 99.92 82.22 98.23 79.23 69.43 97.55 63.15 101.55"/><polyline class="cls-1" points="52.54 108.73 45.39 116.8 41.02 121.73 31.19 132.82 27.89 136.55 32.7 135.26 47.01 131.42 53.37 129.72 57.81 128.53"/><path class="cls-1" d="M23.08,137.83a5,5,0,1,1,6.1,3.53A5,5,0,0,1,23.08,137.83Z"/><path class="cls-2" d="M68.46,126.81l-.41-2a2.2,2.2,0,0,1,.45.84A2,2,0,0,1,68.46,126.81Z"/><path class="cls-1" d="M84.79,65.56l1,2.73A5.86,5.86,0,0,0,93.6,71l.59,1,23,40.65"/><polyline class="cls-1" points="49.8 46.92 60.71 56.12 80.65 58.92"/><polyline class="cls-1" points="40.37 54.43 58.16 65.79 81.18 65.09"/><polyline class="cls-1" points="61.34 92.92 63.15 101.55 67.99 124.56 68.05 124.83 68.46 126.81 68.46 126.82 69.82 133.28"/><line class="cls-1" x1="51.26" y1="103.91" x2="59.94" y2="136.54"/><path class="cls-1" d="M7.08,90C5,81,15.7,57.49,23,46.37c7-10.57,16-8.43,18.77-6.2,2.27,1.82,6.53,5.47,8,6.75l.46.39.07.06L45.66,57.8l-5.29-3.37-9.24,25.5-.59,1.62-6.13,2.19"/><path class="cls-1" d="M24.41,83.74l6.13-2.19,21.79,8,9,3.33L57,97.31l-5.81,5.88h-.56c-4.92.08-40.36.15-43.56-13.25"/><path class="cls-1" d="M112.33,113.92a5,5,0,1,1,6.11,3.52A5,5,0,0,1,112.33,113.92Z"/><path class="cls-1" d="M61.72,143.68l17.16-5.08s-1.06-4.32-4.17-5.26c-.78-.24-3.56.29-4.73.64l-7.08,2.09c-3.51,1-3.83,1.8-3.14,3.41S61.72,143.68,61.72,143.68Z"/><path class="cls-1" d="M58.15,17.69a12.73,12.73,0,0,1,.47,3.46A13,13,0,0,1,47,34.06a11.38,11.38,0,0,1-1.31.07,13,13,0,0,1-13-13,12.73,12.73,0,0,1,.47-3.46"/><path class="cls-1" d="M29,17.68H65.29S61.92,1.5,41.56,1.5C24.82,1.5,29,17.68,29,17.68Z"/><line class="cls-1" x1="39.74" y1="17.68" x2="46.98" y2="34.13"/><path class="cls-1" d="M79.44,61.78a4,4,0,1,1,4,4A4,4,0,0,1,79.44,61.78Z"/></g></g></svg>
              <span>МУЖСКИЕ</span>
            </a>
          </li>
          <li class="sort_item">
            <a class="sort_link <?=(isset($this->purpose) && $this->purpose == 2)?'active':''?>" href="/katalog/div_id/1/purpose/2">
              <!-- <i class="flaticon-woman"></i> -->
              <svg class="sort_link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170.63 159.7"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title>Ресурс 6</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M65,11.29s-4.67-.76-8.1,4.86c-4.14,6.79-14,6.25-21.32,0l.09,0a14.43,14.43,0,0,0,12.6-5.37c4.24-5.26,9-9.33,17.75-2.83l1.33,1"/><path class="cls-1" d="M57.58,125.64a23.52,23.52,0,1,1-23.52-23.52A23.52,23.52,0,0,1,57.58,125.64Z"/><path class="cls-1" d="M66.63,125.64A32.57,32.57,0,1,1,34.06,93.08,32.57,32.57,0,0,1,66.63,125.64Z"/><path class="cls-1" d="M160.08,125.64a23.52,23.52,0,1,1-23.52-23.52A23.52,23.52,0,0,1,160.08,125.64Z"/><path class="cls-1" d="M169.13,125.64a32.57,32.57,0,1,1-32.57-32.57A32.57,32.57,0,0,1,169.13,125.64Z"/><path class="cls-1" d="M78.77,97.93c-.83,0-1.71-.06-2.63-.07"/><polyline class="cls-1" points="58.69 88.92 52.21 98.59 47.17 106.11 36.23 122.42 34.07 125.64 37.95 125.64 57.59 125.64 66.63 125.64 81.42 125.64"/><path class="cls-1" d="M88.45,121.19,120.1,85l-2.62-6.48S107.14,90.88,94.06,96.6a18.68,18.68,0,0,1-6.45,1.56"/><polyline class="cls-1" points="136.56 125.64 135.1 122.04 127.74 103.84 124.34 95.45 120.1 84.98 117.48 78.5 116.29 75.56 114.26 70.54"/><path class="cls-1" d="M140.45,125.64a3.89,3.89,0,1,1-3.89-3.89A3.89,3.89,0,0,1,140.45,125.64Z"/><circle class="cls-1" cx="34.06" cy="125.64" r="3.88"/><path class="cls-1" d="M77,96.26l1.72.59.1,1.08,2.65,27.71.14,1.44"/><path class="cls-1" d="M88.65,126.76c-.05-1.55-.12-3.45-.2-5.57-.24-6.93-.58-16.17-.84-23-.17-4.5-.32-8-.38-9.14a6.59,6.59,0,0,0-3.7-5.78L66.59,73.69"/><path class="cls-1" d="M79.79,38.54c2,3.09,13.73,18.6,13.73,18.6l16.64,6.53"/><path class="cls-1" d="M75.41,51.19a0,0,0,0,0,0,0L89.11,65.38l20.25,4.18h0"/><path class="cls-1" d="M46.44,74.24c0-5.61,9.29-27.87,15-34.14,11-12.26,18.4-1.56,18.4-1.56a26,26,0,0,0-3.22-2.94c-1.76-1.34-5.5-.71-6.72,3.07-1.6,5,5.56,12.52,5.56,12.52s2.83,5.53-1.17,8.15c-5.74,3.77-7.65,14.35-7.65,14.35"/><path class="cls-1" d="M83.52,83.24,66.59,73.69l-20.15.55c-1.32,10.43,11.61,14,11.61,14l14.82,16.11Z"/><path class="cls-1" d="M156.08,68.58v9A8.08,8.08,0,0,1,148,85.68H133.18a8.08,8.08,0,0,1-8.08-8.08v-9Z"/><line class="cls-1" x1="116.28" y1="75.56" x2="157.41" y2="75.56"/><path d="M124.8,60.69a4,4,0,1,1,4,4A4,4,0,0,1,124.8,60.69Z"/><path d="M136.61,60.69a4,4,0,1,1,4,4A4,4,0,0,1,136.61,60.69Z"/><path d="M147.53,60.69a4,4,0,1,1,4,4A4,4,0,0,1,147.53,60.69Z"/><path class="cls-1" d="M66.25,18.41a13.48,13.48,0,0,1-.38-3.2,13.72,13.72,0,0,1,21-11.62l-.31,1"/><path class="cls-1" d="M81.27,133.7H99.2s.21-4.44-2.51-6.22c-.69-.44-3.5-.72-4.73-.72H84.57c-3.68,0-4.2.63-4,2.37S81.27,133.7,81.27,133.7Z"/><path class="cls-1" d="M108.41,67a4,4,0,1,1,4,4A4,4,0,0,1,108.41,67Z"/><path class="cls-1" d="M85.94,4.39a5.42,5.42,0,0,0-5.43,5.42,8.25,8.25,0,0,1-8.25,8.25H66.85A12.88,12.88,0,1,0,86,4.23Z"/></g></g></svg>
              <span>ЖЕНСКИЕ</span>
            </a>
          </li>
          <li class="sort_item">
              <a class="sort_link <?=(isset($this->purpose) && $this->purpose == 3)?'active':''?>" href="/katalog/div_id/1/purpose/3">
                  <!-- <i class="flaticon-woman"></i> -->
                  <svg class="sort_link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 191.09 152.4"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title>Ресурс 2</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M59.24,117.37A24.21,24.21,0,1,1,35,93.16,24.21,24.21,0,0,1,59.24,117.37Z"/><path class="cls-1" d="M68.56,117.37A33.53,33.53,0,1,1,35,83.85,33.53,33.53,0,0,1,68.56,117.37Z"/><path class="cls-1" d="M164.77,117.37a24.22,24.22,0,1,1-24.21-24.21A24.21,24.21,0,0,1,164.77,117.37Z"/><path class="cls-1" d="M174.08,117.37a33.53,33.53,0,1,1-33.52-33.52A33.53,33.53,0,0,1,174.08,117.37Z"/><line class="cls-1" x1="94.17" y1="72.05" x2="117.08" y2="72.05"/><polyline class="cls-1" points="83.08 117.38 35.03 117.38 65.42 72.05"/><line class="cls-1" x1="120.62" y1="73.62" x2="95.08" y2="106.5"/><path class="cls-1" d="M39,117.37a4,4,0,1,1-4-4A4,4,0,0,1,39,117.37Z"/><polyline class="cls-1" points="92.31 116.11 100.36 77.09 86.22 84 84.27 116.9"/><polyline class="cls-1" points="140.56 117.37 139.07 113.66 131.54 94.9 128.06 86.25 123.64 75.25"/><path class="cls-1" d="M120.31,65h10.11a4.37,4.37,0,0,1,2.16,8.17"/><path class="cls-1" d="M144.56,117.37a4,4,0,1,1-4-4A4,4,0,0,1,144.56,117.37Z"/><path class="cls-1" d="M77.76,60.72l22.6,16.37L86.22,84S49.3,67.2,54.74,54c0,0,.64-3.47,6.28-7.36"/><polyline class="cls-1" points="128.66 71.08 120.31 65.01 109.68 57.28 109.74 49.22 100.16 52.93 101.52 63.27 117.73 72.05 120.62 73.61 123.64 75.25 125.16 76.07"/><path class="cls-1" d="M109.86,34.83s-6.75-10.07-18.12-5.76c-9.37,3.55-24.67,11.85-32.5,19.19L77.76,60.72l21.5-14.59.9,6.81h0l9.58-3.72Z"/><path class="cls-1" d="M189.59,83.31a9.14,9.14,0,0,0-9.14-9.14h-24a7.68,7.68,0,1,1,0-15.35h18.89a5.73,5.73,0,0,0,0-11.45h-31.1a4.26,4.26,0,1,1,0-8.51H152"/><line class="cls-1" x1="38.92" y1="28.98" x2="57.1" y2="28.98"/><line class="cls-1" x1="19.92" y1="42.13" x2="43.28" y2="42.13"/><line class="cls-1" x1="28.89" y1="61.08" x2="48.01" y2="61.08"/><path class="cls-1" d="M136.58,17.37a12.59,12.59,0,0,1,.47,3.44,12.88,12.88,0,0,1-11.58,12.81,11.2,11.2,0,0,1-1.3.07,12.89,12.89,0,0,1-12.89-12.88,12.59,12.59,0,0,1,.47-3.44"/><line class="cls-1" x1="118.31" y1="17.37" x2="125.5" y2="33.69"/><path class="cls-1" d="M83.66,123.85H101.6s.2-4.44-2.52-6.22c-.68-.45-3.5-.73-4.73-.73H87c-3.68,0-2.8-.36-3,1.37C83.66,120.92,83.66,123.85,83.66,123.85Z"/><path class="cls-1" d="M125,75.07a4,4,0,1,1,4,4A4,4,0,0,1,125,75.07Z"/><path class="cls-1" d="M108.13,17.37h35.63S140.46,1.5,120.5,1.5C104.08,1.5,108.13,17.37,108.13,17.37Z"/></g></g></svg>
                  <span>ПОДРОСТКОВЫЕ</span>
              </a>
          </li>
          <li class="sort_item">
            <a class="sort_link <?=(isset($this->purpose) && $this->purpose == 4)?'active':''?>" href="/katalog/div_id/1/purpose/4">
              <!-- <i class="flaticon-silhouette"></i> -->
              <svg class="sort_link-icon sort_link-icon-baby" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40mm" height="50mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                            viewBox="0 0 4000 5000"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                              <style type="text/css">
                              <![CDATA[
                                .str2 {stroke-width:95.37;stroke-linecap:round;stroke-linejoin:round}
                                .str3 {stroke-width:95.37;stroke-linecap:round;stroke-linejoin:round}
                                .str0 {stroke-width:105.83;stroke-linecap:round;stroke-linejoin:round}
                                .str1 {stroke-width:86.88;stroke-linecap:round;stroke-linejoin:round}
                                .fil0 {fill:none}
                              ]]>
                              </style>
                            </defs>
                            <g id="Слой_x0020_1">
                              <metadata id="CorelCorpID_0Corel-Layer"/>
                              <path class="fil0 str0" d="M349 4311c0,-218 177,-394 394,-394 218,0 394,176 394,394 0,217 -176,394 -394,394 -217,0 -394,-177 -394,-394z"/>
                              <path class="fil0 str0" d="M2440 4091c0,-355 288,-643 643,-643 355,0 642,288 642,643 0,355 -287,642 -642,642 -355,0 -643,-287 -643,-642z"/>
                              <path class="fil0 str0" d="M163 4311c0,-321 260,-580 580,-580 321,0 581,259 581,580 0,320 -260,580 -581,580 -320,0 -580,-260 -580,-580z"/>
                              <path class="fil0 str0" d="M2339 3722c-2,3 -3,6 -5,9 -52,109 -82,231 -82,360 0,458 372,830 831,830 458,0 830,-372 830,-830 0,-459 -372,-830 -830,-830 -247,3 -439,84 -594,251"/>
                              <path class="fil0 str0" d="M2924 2200c-437,24 -806,218 -1109,479"/>
                              <path class="fil0 str0" d="M743 4311c0,0 153,-444 467,-924 54,-83 113,-166 176,-248"/>
                              <path class="fil0 str0" d="M2412 1770c497,42 506,279 512,309l159 2012"/>
                              <line class="fil0 str0" x1="923" y1="2969" x2="1211" y2= "3388" />
                              <path class="fil0 str0" d="M2866 4091c0,-120 97,-217 217,-217 119,0 216,97 216,217 0,119 -97,216 -216,216 -120,0 -217,-97 -217,-216z"/>
                              <path class="fil0 str0" d="M624 4311c0,-66 53,-120 119,-120 67,0 120,54 120,120 0,66 -53,120 -120,120 -66,0 -119,-54 -119,-120z"/>
                              <path class="fil0 str1" d="M723 483c0,-241 195,-435 435,-435 240,0 435,194 435,435 0,240 -195,435 -435,435 -240,0 -435,-195 -435,-435z"/>
                              <line class="fil0 str0" x1="2334" y1="3731" x2="3083" y2= "4091" />
                              <path class="fil1" d="M1018 1197c0,55 -44,100 -100,100 -55,0 -100,-45 -100,-100 0,-55 45,-100 100,-100 56,0 100,45 100,100z"/>
                              <path class="fil1" d="M1506 1367c0,55 -45,100 -100,100 -55,0 -100,-45 -100,-100 0,-55 45,-100 100,-100 55,0 100,45 100,100z"/>
                              <path class="fil1" d="M1080 1612c0,56 -44,100 -100,100 -55,0 -99,-44 -99,-100 0,-55 44,-99 99,-99 56,0 100,44 100,99z"/>
                              <path class="fil1" d="M604 1795c0,55 -44,100 -99,100 -56,0 -100,-45 -100,-100 0,-55 44,-100 100,-100 55,0 99,45 99,100z"/>
                              <path class="fil1" d="M585 2654c0,55 -45,100 -100,100 -55,0 -100,-45 -100,-100 0,-55 45,-100 100,-100 55,0 100,45 100,100z"/>
                              <path class="fil1" d="M1306 2075c0,55 -45,100 -100,100 -55,0 -100,-45 -100,-100 0,-55 45,-100 100,-100 55,0 100,45 100,100z"/>
                              <path class="fil1" d="M866 2274c0,56 -44,100 -99,100 -56,0 -100,-44 -100,-100 0,-55 44,-99 100,-99 55,0 99,44 99,99z"/>
                              <path class="fil1" d="M1373 2554c0,55 -44,100 -99,100 -56,0 -100,-45 -100,-100 0,-55 44,-100 100,-100 55,0 99,45 99,100z"/>
                              <path class="fil1" d="M1018 2860c0,55 -44,100 -100,100 -55,0 -100,-45 -100,-100 0,-55 45,-100 100,-100 56,0 100,45 100,100z"/>
                              <path class="fil1" d="M1706 2906c0,55 -45,100 -100,100 -55,0 -100,-45 -100,-100 0,-55 45,-100 100,-100 55,0 100,45 100,100z"/>
                              <path class="fil1" d="M2107 3164c0,55 11,100 -45,100 -55,0 -99,-45 -99,-100 0,-55 44,-100 99,-100 56,0 45,45 45,100z"/>
                              <path class="fil1" d="M2001 3592c0,56 -45,100 -100,100 -55,0 -100,-44 -100,-100 0,-55 45,-100 100,-100 55,0 100,45 100,100z"/>
                              <path class="fil0 str2" d="M1904 3654c-8,0 -18,-6 -30,-15 -67,-57 -183,-255 -233,-331 -2,-3 -4,-6 -6,-9 -4,-5 -7,-10 -9,-13 -126,-159 -244,-204 -440,-247 -312,-69 -801,-107 -801,-529 0,-276 -3,-557 53,-829 105,-515 501,-712 970,-499 305,138 596,325 861,530l-319 83 -610 -219 -81 838c330,146 631,209 777,564l2 5c22,58 93,308 170,495"/>
                              <path class="fil0 str3" d="M2416 1795l-1 5c-2,43 -38,78 -82,78l-301 0c-46,0 -82,-37 -82,-83l319 -83 64 0c45,0 83,37 83,83z"/>
                              <path class="fil0 str3" d="M2208 3506c35,-18 118,-52 144,-49 102,10 162,138 162,138l-495 280c0,0 -96,-134 -127,-180l316 -189"/>
                            </g>
                          </svg>
              <span>ДЕТСКИЕ</span>
            </a>
          </li>
        </ul>
  </div>


  <?}?>
</div>
