<div class="catalog_menu">
    <?echo "<pre>";
            //print_r($this->items);
        echo "</pre>";
      ?>
    <? if (count($this->items)){?>
<? foreach ($this->items as $item) {?>
    <div class="catalogMainItem">
        <?if($item['task']=='Детали и аксессуары'){?>
        <h3 class="link_h deatli_and_aksesuar"><a><?=$item['task']?></a></h3>
        <? if (isset($item['children'])) {?>
            <ul class="catalogSubitem detnaccatalog">
                <? foreach ($item['children'] as $subitem) {?>
                        <li>                            
                                <a class="detandacc" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>"><?=$subitem['task']?></a> 
                        </li>

                <?}?>
            </ul>

        <?}?>
        <?}else{?>
        <h3 class="link_h catalogItem"><a><?=$item['task']?></a></h3>
        <? if (isset($item['children'])) {?>
            <ul class="catalogSubitem">
                <? foreach ($item['children'] as $subitem) {?>
                    
                        <li class="subitem <?=($subitem['display']==1?'open':'')?>">
                            <? if (isset($subitem['children'])) {?>
                                <a class="common"><img src="/pics/catalog/division/<?=$subitem['img']?>" alt="<?=$subitem['task']?>" /></a>
                            <?} else {?>
                                <a id="detandacc" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>"><?=$subitem['task']?></a>
                            <?}?>
                            <ul class="catalogLastitem <?=($subitem['display']==1?'shown':'hidden')?>">
                               <li> 
                                <? if (isset($subitem['children'])) {?>
                                <? foreach ($subitem['children'] as $lastitem) {?>
                                    
                                        <a href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$lastitem['id']?>"><?=$lastitem['task']?></a>
                                    
                                <?}?>
                                 <?}?>
                                </li>    
                            </ul>
                        </li>
                    
                <?}?>
            </ul>

        <?}?>
        <?}?>
        </div>
    <?}?>
    <?}?>
</div>



<!--end catalog menu-->

