<!--header menu-->
<? if (count($this->items)){?>         
    <? foreach ($this->items as $item) {?>
        <?if($item['id']==1){?>
        <?$cur_vals=$_SESSION['catalogmenu']['catalogmenu']?>
        <?
        $cur_div = Zend_Controller_Front::getInstance()->getRequest()->getParam('div_id');
        ?>  
          <div class="catalogMainItem header-menu">
            <div class="mobile-button">
              <span>Каталог велосипедов</span>
            </div>
            <ul class="catalogSubitem">
                <? foreach ($item['children'] as $subitem) {?>
                    <? if (isset($subitem['children'])) {?>  
                  <li div_id="<?=$subitem['id']?>" class="subitem open current">
                    <a class="subitem clicklink common" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>">
                      <img src="/pics/catalog/division/<?=$subitem['img']?>" alt="<?=$subitem['task']?>">
                    </a>
                    <ul class="catalogLastitem">
                    <? if (isset($subitem['children'])) {?>
                      <?if (isset($this->makers[$subitem['id']])){?>
                        <?foreach ($this->makers[$subitem['id']] as $maker) {?>
                          <li class="lastitem">
                            <a class="lastitem_link <?=$maker['icon']?>" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>/<?=$maker['type']?>/<?=$maker['typeId']?>">
                              <!-- <i class="<?=$maker['icon']?>"></i> -->
                              <span><?=$maker['name']?></span>
                            </a>
                          </li>  
                        <?}?>
                      <?}?>                        
                    <?}?>
                    </ul>
                  </li>
                  <?}?>
                <?}?> 
                <!--Не выводятся из каталога меню-->
                <li class="subitem open current submenu-accessories">
                    <a href="http://www.veloplaneta.by/katalog/div_id/2" class="subitem clicklink common">Аксессуары</a>
                </li> 
                <li class="subitem open current submenu-stock">
                    <a href="http://www.veloplaneta.by/actions" class="subitem clicklink common">Акции</a>
                </li>                
            </ul>
          </div>
          <!--End header menu-->
        <?}?>
    <?}?>     
 <?}?>