<div class="catalog_menu">
    <? if (count($this->items)){?>
        <?if(isset($_SESSION['catalogmenu']['catalogmenu'])){?>
            <? foreach ($this->items as $item) {?>
                <?if($item['id']==2){?>
                <?$cur_vals=$_SESSION['catalogmenu']['catalogmenu']?>
                <?
                $cur_div = Zend_Controller_Front::getInstance()->getRequest()->getParam('div_id');
                ?>

                <div class="catalogMainItem">
                    <ul>
                        <li class="<?=(isset($cur_vals[$item['id']]) ?'current':'')?>" div_id="<?=$item['id']?>">
                            <h3  class="<?=($item['task']=='Детали и аксессуары'?'link_h deatli_and_aksesuar clicklink':'link_h catalogItem clicklink')?>">
                                <a href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$item['id']?>"><?=$item['task']?></a>
                            </h3>

                            <? if (isset($item['children'])) {?>
                            <ul class="catalogSubitem" >
                                <? foreach ($item['children'] as $subitem) {?>
                                    <? if (isset($subitem['children'])) {?>
                                        <li div_id="<?=$subitem['id']?>" class="subitem open <?=(isset($cur_vals[$subitem['id']]) ?'current':'')?>">
                                        <a class="subitem clicklink common" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>"><img src="/pics/catalog/division/<?=$subitem['img']?>" alt="<?=$subitem['task']?>" /></a>
                                        <ul class="catalogLastitem">
                                            <? if (isset($subitem['children'])) {?>
                                                <?/*
                                                <? foreach ($subitem['children'] as $lastitem) {?>
                                                    <li>
                                                        <a class="link <?=($cur_div==$lastitem['id'])?'currentDivTovar':''?>" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$lastitem['id']?>"><?=str_replace('SCALE','<br>SCALE',$lastitem['task'])?></a>
                                                    </li>
                                                <?}?>
                                                */?>
                                            <?}?>
                                        </ul>
                                    <?} else {?>
                                        <li class="subitem open">
                                        <a  det <?=($cur_div==$subitem['id'])?'currentDivTovar':''?> id="detandacc" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>"><?=str_replace('SCALE','<br>SCALE',$subitem['task'])?></a>
                                    <?}?>
                                    </li>
                                <?}?>
                            </ul>
                        </li>
                        <?}?>
                    </ul>
                </div>
                <?}?>
            <?}?>
        <?}else{?>
            <?
            $cur_div = Zend_Controller_Front::getInstance()->getRequest()->getParam('div_id');
            ?>
            <?foreach ($this->items as $item) {?>
                <?if($item['id']==2){?>
                <div class="catalogMainItem">
                    <ul>
                        <li class="<?=($item['display']==1?'current':'')?>" div_id="<?=$item['id']?>">
                            <h3  class="<?=($item['task']=='Детали и аксессуары'?'link_h deatli_and_aksesuar clicklink':'link_h catalogItem clicklink')?>">
                                <a href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$item['id']?>"><?=$item['task']?></a>
                            </h3>

                            <? if (isset($item['children'])) {?>
                            <ul class="catalogSubitem clearfix" >
                                <? foreach ($item['children'] as $subitem) {?>
                                    <? if (isset($subitem['children'])) {?>
                                        <li div_id="<?=$subitem['id']?>" class="subitem open <?=($subitem['display']==1?'current':'')?>">
                                        <a class="subitem clicklink common" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>"><img src="/pics/catalog/division/<?=$subitem['img']?>" alt="<?=$subitem['task']?>" /></a>
                                        <ul class="catalogLastitem">
                                            <? if (isset($subitem['children'])) {?>
                                                <?/*
                                                <? foreach ($subitem['children'] as $lastitem) {?>
                                                    <li>
                                                        <a class="link <?=($cur_div==$lastitem['id'])?'currentDivTovar':''?>" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$lastitem['id']?>"><?=$lastitem['task']?></a>
                                                    </li>
                                                <?}?>
                                                */?>
                                            <?}?>
                                        </ul>
                                    <?} else {?>
                                        <li class="subitem open">
                                        <a  det id="detandacc" href="<?=$this->baseUrl()?><?=$this->path?>/div_id/<?=$subitem['id']?>"><?=$subitem['task']?></a>
                                    <?}?>
                                    </li>
                                <?}?>
                            </ul>
                        </li>
                        <?}?>
                    </ul>
                </div>
                <?}?>
            <?}?>
        <?}?>

    <?}?>
</div>

