<?if (isset($this->catalog_divs)):?>
		<ul>
                                <?foreach($this->catalog_divs as $iKey => $data):?>
                                    
                                        
                                             <?if ($data->issetChilds() ){?>
                                             <li><a  href="/<?=$data->getPath()?>/cid/<?=$data->id?>/" ><?=$data->name?></a>
												<?=$data->getChildsMap()?>
												</li>
											<?} else {?>
												<li ><a  href="/<?=$data->getPath()?>/cid/<?=$data->id?>/" ><?=$data->name?></a></li>
                                         
											<?}?>
                                <?endforeach;?>
         </ul>                       
                                <?endif;?>