<!--banner-->
<div class="banner">
    <div class="item"><a href="#"><img src="img/banner.gif" alt="" /></a></div>
    <div class="item"><a href="#"><img src="img/banner.gif" alt="" /></a></div>
</div>
<!--End banner-->
