<?if (count($this->tovars) >0) {?>
 	<?foreach ($this->tovars as $item){ ?>
      <div class="cart_b">
        <div class="left"><?=$item->name?>
          </div>
        <div class="right"> <a href="#" onclick="deleteTovarFromCompare(<?=$item->id ?>, 'compare'); return false;">удалить</a></div>
        <div class="clear"></div>
      </div>     
      <?} ?>      
      <div class="zakaz_blok"><a href="#" onclick="clearCompare('compare');return false;"><img src="/img/clear.gif" width="97" height="25" border="0" class="zakaz_blok1i"></a> <a href="/compare"><img src="/img/sravn.gif" width="97" height="25" border="0" class="zakaz_blok2i"></a>
        <div class="clear"></div>
      </div>
      <?if ($this->limit) {?>
      	<div style="padding-left: 10px; color: purple;">Не более 4-х товаров</div>
     <?}?>
<? } else {?>
	<div>Нет товаров для сравнения</div>
<?} ?>
    