<?if (count($this->tovars) >0) {?>
	<?$whidth = ceil(95/(count($this->tovars)+1));?>
 	<table width="99%" border="0" cellspacing="0" cellpadding="0" class="sravn">
  <tr class="foto">
    <td width="<?=$whidth?>%">&nbsp;</td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td width="<?=$whidth?>%"><a href="<?=$tovar->getPath()?><?=$tovar->id?>" class="b-ico"><img src="<?=$tovar->getImgPreview()?>" width="150" height="92"></a>
	      <a href="<?=$tovar->getPath()?><?=$tovar->id?>"><?=$tovar->name ?></a> <img src="/img/pic_ser.gif" width="7" height="10"></td>    
     <?} ?>
  </tr>
  <tr>
    <td><strong>Количество скоростей:</strong></td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td><?=$tovar->ratecount ?> </td>   
     <?} ?>
    
  </tr>
  <tr>
    <td><strong>Размеры:</strong></td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td><?=$tovar->size ?> </td>   
     <?} ?>
    
  </tr>
  <tr>
    <td><strong>Цвет:</strong></td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td><?=$tovar->color ?> </td>   
     <?} ?>
   
  </tr>
  <tr>
    <td><strong>Рама:</strong></td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td><?=$tovar->rama ?> </td>   
     <?} ?>    
  </tr>
  <tr>
    <td><strong>Вилка:</strong></td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td><?=$tovar->vilka ?> </td>   
     <?} ?>
    
  </tr>
  <tr class="sravnenie">
    <td><div align="left"><b>Стоимость:</b></div></td>
    <?foreach ($this->tovars as $tovar){ ?>
	    <td><strong><?=$tovar->price ?></strong> руб<a href="#" onclick="addTovarToBasket(<?=$tovar->id?>,'carts'); return false;"><br><img src="/img/zakaz-korzina.gif" width="97" height="25" border="0"></a></td>
     <?} ?>
  </tr>
  <tr>
    <td colspan="<?=count($this->tovars)+1 ?>" class="sravn_bottom">&nbsp;</td>
    </tr>
</table>
 	
<? } else {?>
	<div>Нет товаров для сравнения</div>
<?} ?>


    