<div class="block_blue head">
    <div class="left_bg">
        <div class="right_bg">
            <div class="top_l">
                <div class="bottom_l">
                    <div class="top_r">
                        <div class="bottom_r">
                            <div class="in">

                                <!--block content-->
                                <h1>Контактная информация</h1>

                                <!--End block content-->
                            </div>
                        </div>
                    </div>
                </div></div></div></div></div>

<!--End head-->
<div class="contact_page">

    <p>Уважаемые покупатели! Наши компетентные продавцы постараются ответить на все Ваши вопросы и оказать консультативную помощь при выборе велосипеда.</p>
    <p>Вы можете нам позвонить: Velcom: +375 29 656 76 76, МТС: +375 29 555 76 76, Минск: +375 17 286 05 16</p>
    <p>Вы можете написать нам <a href="#">электронное письмо</a>.</p>
    <p>Вы можете связаться с нами при помощи формы обратной связи:</p>
    <div class="form">
        <div class="item"><input type="text" class="input" value="Имя*:" />

        </div>
        <div class="item"><input type="text" class="input"  value="Электропочта*:" /></div>

        <div class="item"><input type="text" class="input"  value="Номер телефона:" /></div>

        <div class="item"><textarea name="" cols="" rows=""  class="textarea" >Сообщение*:</textarea></div>
        <div class="item"><input type="text" class="input"  value="Защита от спама (посчитайте, пожалуйста)*: 6 + 32 = 	 " /></div>

        <div class="button_cart"><input name="" type="button" value="Отправить" class="send_button" /><div class="clear"></div></div>

    </div>

</div>

