<div class="breadcrumb">
<? if (isset($this->bread)) {?>
    <?$count = count($this->bread) ?>
    <a href="<?=$this->baseUrl()?>">Главная</a> -
    <a href="<?=$this->baseUrl()?>katalog">Каталог</a> -
    <?foreach($this->bread as $key=>$br_item) {?>
        <?if ($key < $count-1 || $this->tovarName != '1'){ ?>
            <a href="<?=$this->baseUrl()?>katalog/div_id/<?=$br_item->id?>"><?=$br_item->name?></a> -
        <?}else if ($this->seoFilter) {?>
            <span><?=$this->seoFilter->h1?></span>
        <?} else {?>
            <span><?=$br_item->name?></span>
        <?}?>
    <?}?>          
    <?if ($this->tovarName != '1') {?>
    <span><?=$this->tovarName?></span>
    <?}?>
<? }?>
</div>