<div class="catalog_menu">
    <? foreach ($this->items as $item) {?>
    <h3 class="link_h"><a href="#"><?=$item->task?>:</a></h3>
    <ul>
        <li class="open"><a href="#">Велосипеды SCOTT</a>
            <ul>
                <li><a href="#">Серия FITNESS</a></li>
                <li><a href="#">Серия LADY</a></li>
                <li><a href="#">Серия AVALANCHE</a></li>
                <li><a href="#">Серия JUNIOR</a></li>

                <li><a href="#">Серия TRANSEO</a></li>
                <li><a href="#">Серия COMFORT</a></li>
            </ul>
        </li>

    </ul>
    <?}?>
</div>
<!--end catalog menu-->
