<?if($this->main_news){?>

	<?foreach ($this->main_news as $item) {?>
		 <!--News-->
              <div class="news">              
               <b class="date"><?=$item->date()?></b>
               <a href="<?=$item->getUrl()?>/item/<?=$item->url?>"><?=$item->name ?></a>
               
              </div>
               <!--End News-->			
        <?}?>
     
 <?}?>   
    
      