<div class="slider">  
  <?if (count($this->baners)){ ?>
    <?foreach ($this->baners as $baner){ ?>
    <div class="h-slider">
      <div class="h-slider_img">
        <a href="<?=$baner->link?>"><img src="/img/slider/<?=$baner->img ?>" alt=""></a>
      </div>
      <a href="<?=$baner->link?>" class="h-slider-title">
        <?=$baner->description?>
      </a>
    </div>
    <?} ?>  
  <?} ?>
</div>