<?if(isset($this->main_akciya)){?>
	<h3><?echo $this->main_akciya->name?></h3>
<a href="/<?=$this->main_akciya->getUrl()?>/nid/<?=$this->main_akciya->id?>"><?=$this->main_akciya->intro?></a>	
 <?}?>   
    
      