<?php
                    //$menu = $this->Menu('horizontal_menu', $this->lang);
                   
                    $menu1 = $this->menu['level1'];
                    $menu_level2 = $this->menu['level2'];
					//print_r($menu1);
					//print_r($menu_level2);
                    $i=0;	?>

                  <?if ($this->type!='horizontal_menu_footer'){ ?>
                  <ul>     
                    <? foreach ($menu1 as $key => $data){
                        $i++;		                       
                        ?>
                         <li <?=$data->id==$this->current ? 'class="active"' : ''?>>
                             <span>
                                <a href="/<?=$data->path?>" title=""  ><?=$data->name?></a>
                             </span>

                             <?if (!empty($menu_level2[$key])){ ?>
                         	<ul class="inner1">
                                    <?foreach($menu_level2[$key] as $lev2item){?>
					<li>
                                            <span>
                                                <a href="/<?=$lev2item->path?>"  title=""> <?=$lev2item->name?></a>
                                            </span>
                                        </li>
				    <?}?>
                         	</ul>
                            <?}?>

                         </li>		                      
                        <?}?>  
                </ul>
    <?}else { ?>
    	<table width="70%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		  	 <? foreach ($menu1 as $key => $data){
                        $i++;		                       
                        ?>
                         <td>
                         	<a href="/<?=$data->path?>" title="<?=$data->name?> <?=$data->name?>" ><?=$data->name?></a> 
                         </td>		                      
                        <?php
                    }
                ?>  			
		  </tr>
		</table>
    <?} ?>
    