<?if ($this->items) {?>
	 <ul>
	<?foreach ($this->items as $item){ ?>
		
       <li><a href="/<?=$item->path ?>" <?=in_array($item->path, $this->active) ? 'class="active"' : '' ?>><?=$item->name ?></a>
       	<?if ($item->issetChild() && in_array($item->path, $this->active) ){ ?>
       		<?=$this->MenuUslugi($item->id);?>
       	<?} ?>
       </li>
       
	<?} ?>
	</ul>
<?} ?>