<div class="news">
    <h3><a href="http://www.veloplaneta.by/news">Новости:</a></h3>
    <?php
        $c=1;

        foreach ($this->news as $new) {?>
            <div class="newsitem">
                <b class="date"><?=$new->created_at?></b>
                <div class="link">
                	<a href="/<?=$new->getUrl()?>/item/<?=$new->url?>">
                	<?=$new->intro?>
                </div>
            </div>
            <?
            if($c == 4):
                break;
            endif;
            $c++;
            ?>

        <?}?>
    <a href="http://www.veloplaneta.by/news" class="all_news">Все новости</a>
</div>

