

            <h3>Новости:</h3>
            <div class="news">
                <div class="item">
                    <b class="date">09.09.2009</b>
                    <div class="link"><a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a></div>
                </div>

                <div class="item">
                    <b class="date">09.09.2009</b>
                    <div class="link"><a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a></div>
                </div>

                <div class="item">
                    <b class="date">09.09.2009</b>
                    <div class="link"><a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a></div>

                </div>

                <div class="item">
                    <b class="date">09.09.2009</b>
                    <div class="link"><a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a></div>
                </div>

                <div class="item">
                    <b class="date">09.09.2009</b>

                    <div class="link"><a href="#">Райдер команды GT Мик Ханна завоевывает третье место на Чемпионате мира MTB в дисциплине "даунхилл".</a></div>
                </div>
            </div>
        </div>
