<?if (isset($this->childs)){?>
	<?foreach ($this->childs as $child){ ?>
		<h3><?=$child->name?></h3>
		<?=$child->introText?>
		<p><a href="/<?=$child->path?>">Подробнее..</a></p>
	<?} ?>

<?}?>