<div class="breadcrumb">
	<a href="/"><?=$this->translate('main_page'); ?></a> \\\
<?$count = count($this->bread) ?>           
<?foreach ($this->bread as $key=>$item){ ?>
	<?if ($key < $count-1){ ?>
	<a href="/<?=$item->path?>">
            <?=$item->name ?> 
        </a>
	<?} elseif ($this->flag==true) { ?>
		<span>&nbsp;<?=$item->name ?></span>
	<?} elseif ($this->flag==false) { ?>
		<a href="/<?=$item->path?>"><?=$item->name ?></a> 
	<?} ?>
<? }?>
</div>