<div class="cart_page">
    <h3>1. Пожалуйста, проверьте информацию о вашем заказе.</h3>
    <table width="100%" border="0" cellspacing="3" cellpadding="0" id="cart_table">
        <tr>

            <th>№</th>
            <th>Название товара</th>
            <th>Кол-во</th>
            <th>Цена, р.</th>
            <th>Итого</th>
            <th>Удалить</th>

        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">Велосипед Scott Sportster P2</a></td>
            <td><input name="textfield" type="text" class="col" value="1"/></td>
            <td>3500000</td>
            <td>3500000</td>

            <td><a href="#" class="delete"><img src="/img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">Велосипед Scott Sportster P2</a></td>
            <td><input name="textfield" type="text" class="col" value="1"/></td>
            <td>3500000</td>

            <td>3500000</td>
            <td><a href="#" class="delete"><img src="/img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">Велосипед Scott Sportster P2</a></td>
            <td><input name="textfield" type="text" class="col" value="1"/></td>

            <td>3500000</td>
            <td>3500000</td>
            <td><a href="#" class="delete"><img src="/img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">Велосипед Scott Sportster P2</a></td>

            <td><input name="textfield" type="text" class="col" value="1"/></td>
            <td>3500000</td>
            <td>3500000</td>
            <td><a href="#" class="delete"><img src="/img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
        </tr>
        <tr>
            <td>1</td>

            <td><a href="#">Велосипед Scott Sportster P2</a></td>
            <td><input name="textfield" type="text" class="col" value="1"/></td>
            <td>3500000</td>
            <td>3500000</td>
            <td><a href="#" class="delete"><img src="/img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
        </tr>
        <tr>

            <td>1</td>
            <td><a href="#">Велосипед Scott Sportster P2</a></td>
            <td><input name="textfield" type="text" class="col" value="1"/></td>
            <td>3500000</td>
            <td>3500000</td>
            <td><a href="#" class="delete"><img src="/img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
        </tr>

    </table>
    <div class="itogo">Итоговая стоимость, р.:	38855000</div>
    <div class="button_cart"><input name="" type="button" value="Пересчитать" class="pereschet" /><input name="" type="button" value="Продолжить покупки" class="next_zakaz" /> <div class="clear"></div></div>

    <h3>2. Заполните форму заказа и нажмите кнопку "отправить заказ".</h3>
    <div class="form">
        <div class="inputitem"><input type="text" class="input" value="Ваше имя*:" />

        </div>
        <div class="inputitem"><input type="text" class="input"  value="Контактный телефон:*:" /></div>

        <div class="inputitem"><input type="text" class="input"  value="E-mail*:" /></div>
        <div class="inputitem"><input type="text" class="input"  value="Адрес для доставки*:"/></div>

        <div class="inputitem"><textarea name="" cols="" rows=""  class="textarea" >Ваше имя*:</textarea></div>
        <div class="button_cart"><input name="" type="button" value="Отправить заказ" class="send_button" /><div class="clear"></div></div>

    </div>

</div>

