
<div id="clear"> </div>
<?if ($this->count_pages>1){ ?>
<div class="paging">
		<b>Страницы:</b> 
		
		<!--<?//if($this->current>1){?>
			<a class="next" href="<?//=$this->url ?>page/<?//=$this->current-1 ?>"><</a>
		<?//} else{?>
			<span class="disabled"><</span>
		<?//}?> -->
		
		<?for ($i=1; $i<=$this->count_pages; $i++){ ?>
			
			<?if ($i==$this->current){ ?>
				<a class="active" href="#"><span><?=$i ?></span></a>
			<?}else {?>
				<a href="<?=$this->url ?>page/<?=$i ?>">
                    <span>
                        <?=$i ?>
                    </span>
				</a>
			<?} ?>
			<?if ($i<=$this->count_pages-1) {?>
				
			<?} ?>
		<?} ?>

		<!--<?//if($this->current<$this->count_pages){?>
			<a class="next" href="<?//=$this->url ?>page/<?//=$this->current+1 ?>">></a>
		<?//} else{?>
			<span class="disabled">></span>
		<?//}?>  -->
</div>
<?} ?>
