<div class="block_podbor_velo"  id="hiddencats">
    <div class="podbor_velo"><span  onclick="show('cat')">Подобрать велосипед</span></div>
    <!--cart-->
    <div class="block podbor" id="cat">       
                
                        
        <form name="podborForm" action="/selection" method="post">
            <div class="in">
            
            <!--block content-->

<!--             <div class="podboritem">
                <h5>Марка велосипеда:</h5>
                <div class="clear"></div>
                <?foreach($this->bikeBrand as $brand) {?>
                     <label>
                        <input name="bikeBrand[]" type="checkbox" value="<?=$brand['id']?>"/>
                        <?=$brand['name']?>
                     </label>
                <?}?>
                <div class="clear"></div>

            </div> -->

            <div class="podboritem">
                <h5>Велосипед:</h5>

                <div class="clear"></div>
                <?foreach($this->humanType as $key=>$type) {?>
                     <label>
                        <input name="humanType[]" type="checkbox" value="<?=$key?>"/>
                        <?=$type?>
                     </label>
                <?}?>
                <div class="clear"></div>
            </div>

            <div class="podboritem">
                <h5>Тип велосипеда:</h5>
                <?foreach($this->bikeType as $key=>$type) {?>
                     <label>
                        <input name="bikeType[]" type="checkbox" value="<?=$key?>"/>
                        <?=$type?>
                     </label>
                <?}?>
                <div class="clear"></div>
            </div>

             <div class="podboritem">
                <h5>Стоимость:</h5>
                <div class="toleft">
                    от <input name="priceFrom" type="text" class="price_form_bg idleField" />
                </div>
                <div class="toright">
                    до <input name="priceTo" type="text" class="price_form_bg_r idleField" />
                </div>
				<input type="hidden" name="selection" value="1">
                <div class="clear"></div>
            </div>

            <div class="button">
                <input type="submit" value="Подобрать"/>
            </div>
        </div>
        </form>

              
                
    </div>

