<table width="99%" border="0" cellspacing="0" cellpadding="0" class="sravn">
	<tr class="foto">
		<?foreach ($this->rand_tovar as $tovar){ ?>
	  
		    <td><div align="center"><img src="<?=$tovar->getImgPreview() ?>" width="154" height="96">
		    <br>  <a href="/catalogtovar/tovar/tovarid/<?=$tovar->id?>"><?=$tovar->name?></a></div></td>
		    
	     <?} ?> 
  </tr>
 </table>