<div class="text_page">
    <p></p>
    <div class="block series">
        <div class="left_bg">
            <div class="right_bg">
                <div class="top_l">
                    <div class="bottom_l">
                        <div class="top_r">
                            <div class="bottom_r">
                                <div class="in">
                                    <ul>
                                        <?foreach ($this->items as $item) {?>
                                        <li style="height: 16px;">
                                            <a class="<?=($item->id == $this->cur_id ? 'active' : '')?>" href="<?=$this->baseUrl()?>katalog/div_id/<?=$item->id?>"><?=$item->name?></a>
                                        </li>

                                        <?}?>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
