<table width="99%" border="0" cellspacing="0" cellpadding="0" class="tovary">
        <tr class="top">
          <td>Фото</td>
          <td>Модель</td>
          <td>Цена</td>
          <!-- <td>Сравнить</td> -->
        </tr>
        <?foreach ($this->tovars as $tovar) {?>
	         <tr class="tovar">
	          <td><a href="<?=$tovar->getPath()?><?=$tovar->id?>" class="b-ico"><img src="<?=$tovar->getImgPreview() ?>" width="150" height="92"></a></td>
	          <td><a href="<?=$tovar->getPath()?><?=$tovar->id?>"><?=$tovar->name ?></a>
	          <?=$tovar->intro ?></td>
	          <td><p><strong><?=$tovar->price ?></strong> руб</p>
	          <a href="#" onclick="addTovarToBasket(<?=$tovar->id?>,'carts'); return false;"><img src="/img/zakaz-korzina.gif" border="0"></a><br>
	          <a href="#" onclick="addTovarToCompare(<?=$tovar->id?>, 'compare'); return false;"><img src="/img/sravn.gif" border="0"></a></td>
	         <!--  <td>
	            <label>
	              <input type="checkbox" name="chec<?=$tovar->id?>"  onchange="addTovarToCompare(<?=$tovar->id?>, 'compare'); return false;">
	              </label>
	          </td>--> 
	        </tr>
      	<? }?>  
      </table>