    
    <?if (isset($this->new)) {?>
         <?=$this->page->getBreadInfoblock($this->new->name)?>
        <div class="block_blue head">            
            <h1><?=$this->options->h1?></h1>                                  
        </div> 
        <div class="block_info">       
            <div class="action_page" <?=($this->new->type != 'actions'?'style="background: none"':'')?>>
                <div class="news_page">
                    <div class="items">
                        <div class="descr">
                            <?= $this->new->content ?>
                        </div>
                        <!---->
                        <script charset="utf-8" src="/js/1.js" type="text/javascript"></script>
                        <script type="text/javascript">
                        new Ya.share({
                        	'element': 'ya_share1',
                                'l10n':'ru',
                        	'elementStyle': {
                        		'type': 'link',
                        		'linkIcon': false,
                        		'border': false,
                                        'text': 'Быстрая вставка',
                        		'quickServices': ['yaru', 'vkontakte', 'facebook', 'twitter', 'lj', 'moimir', 'odnoklassniki']
                        	},
                        	'popupStyle': {
                        		'copyPasteField': true
                        	}

                         });
                        </script>
                        <span id="ya_share1"></span>
                        <!---->
                    </div>
                </div>
            </div>
        </div>    
    <?} else {?>
        <?if ($this->page->template!='main' && $this->page->template!='catalog'):?>
        <?=$this->page->getBread(true)?>
        <div class="block_blue head">            
            <h1><?=$this->options->h1?></h1>
        </div>        
            <?endif;?>
        <!--End head-->
        <div class="block_info">
            <div class="action_page aaaa" <?=($this->news[0]->type != 'actions'?'style="background: none"':'')?>>
                <div class="news_page">
                        <? foreach ($this->news as $new) { ?>
                    <div class="items">
                        <?if (1){?>
                        <b class="dates"><?=$new->created_at;?></b>

                        <?}?>                            

                            <a href="<?=$new->getUrl()?>/item/<?=$new->url?>">
                                        <?=$new->intro;?>
                            </a>
                    </div>
                    <?}?>
                </div>
            </div>
        </div>
    <?}?>

