<!-- middle -->
<div id="middle">      
    <!-- container-->
    <div id="container">
        <!-- content-->
        <div id="content" class="home">
            <div class="inner">
                <?=$this->page->getBread(true)?>
                <? if (isset($this->options->h1)) {?>
                <div class="block_blue head">  
                    <!--block content-->
                    <h1><?=$this->options->h1?></h1>
                    <!--End block content-->                                            
                </div>
                <?}?>
                <!--End head-->
                <div class="contact_page">
                    <?=$this->content?> 
                </div>
            </div>
            <!-- End content-->
        </div>
    </div>
    <!-- End container-->