<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
				<div id="redactor_main_head">
						<div class="redactor_head">
							<div class="left_y"><!-- --></div>
							<div class="redactor_headbg_longer">
								<table cellspacing="0" cellpadding="0" border="0" class="red_title">
									<tr>
										<td class="redactor_img"><!-- --></td>
										<td>Редактор содержимого</td>
									</tr>
								</table>
							</div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							<form action='<?=$this->currentModul?>/add' method="POST" id="addPage" name="addPage">
								<table class='edit_page' border="0" cellpadding="4" cellspacing="4" style="padding: 15px 0 0 30px">
									<tr>
										<td>
											<p>
                                                Название
                                            </p>
										</td>
                                        <td>
                                            <input id="name" name='name' style="width: 75%;">
                                        </td>
									</tr>
									<tr>
                                        <td>
                                            <p>
                                                Каталог
                                            </p>
                                        </td>
										<td>
                                            <select name="div_id" style="width: 75%;">
                                                <option value="0"></option>
                                                <?foreach ($this->divs as $div) {?>
                                                    <option value="<?=$div->id?>"><?=$div->name?></option>
                                                <?}?>
                                            </select>
										</td>
									</tr>
                                    <tr>
                                        <td>
                                            <p>
                                                Тип
                                            </p>
                                        </td>
                                        <td>
                                            <select name="bike_type" style="width: 75%;">
                                                <option value="0"></option>
                                                <?foreach ($this->bikeType as $tk => $tv) {?>
                                                    <option value="<?=$tk?>"><?=$tv?></option>
                                                <?}?>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                Для кого
                                            </p>
                                        </td>
                                        <td>
                                            <select name="purpose" style="width: 75%;">
                                                <option value="0"></option>
                                                <?foreach ($this->humanType as $hk => $hv) {?>
                                                    <option value="<?=$hk?>"><?=$hv?></option>
                                                <?}?>
                                            </select>
                                        </td>
                                    </tr>
									<tr>
										<td colspan="2">
											<table>
												<tr>
													<td style="padding-top: 5px">
														<input type='checkbox' checked="checked" id="active" name='active' style='width: 10px !important'/>
													</td>
													<td>
														<p>
															Активность
														</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
                                    <tr>
                                        <td>
                                            <p>
                                                Title
                                            </p>
                                        </td>
                                        <td>
                                            <input name='title' style="width: 75%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                H1
                                            </p>
                                        </td>
                                        <td>
                                            <input id="h1" name='h1' style="width: 75%;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                Description
                                            </p>
                                        </td>
                                        <td>
                                            <input id="description" name='description' style="width: 75%;">
                                        </td>
                                    </tr>

									<tr>
										<td colspan="2">
											<div style='margin-left: 14px; width: 88%; height: 1px; background-color: #000;'><!-- --></div>
											<div style='width: 800px;'>
											<p>Верхний текстовый блок</p>
												<?php 
													$this->text_upper->Create();
												?>	
											</div>	
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div style='margin-left: 14px; width: 88%; height: 1px; background-color: #000;'><!-- --></div>
											<div style='width: 800px;'>
											<p>Нижний текстовый блок</p>
												<?php 
													$this->text_bottom->Create();
												?>	
											</div>	
										</td>
										<td>
										</td>
									</tr>

									<tr>
										<td>
											&nbsp;
										</td>
										<td>
											<input type="submit" name="addSubmit" id="addSubmit" value="Отправить" style="margin-left: 56%; width: 80px !important">
										</td>
									</tr>
								</table>
																
							</form>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
<?php
	$this->parent_name = "<a href='/admin/ru/pages/' class='blue'>СТРУКТУРА</a>";
	$this->child_name = "Новый фильтр";
	$this->name = "Добавить фильтр";
?>				