<?php
$this->parent_name = "<a href='$this->currentModul/' class='blue'>SEO фильтр</a>";
$this->child_name = "SEO фильтр";
$this->name = "Модуль управления содержимым сайта";
?>
<div id="top_menu_z">
    <table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
        <tr>
            <td class="active">SEO фильтр</td>
            <td class="normal"><a href="<?=$this->currentModul?>/add">Добавить</a></td>
        </tr>
    </table>
</div>
<div id="news_main_head">
    <div class="news_head">
        <div class="left_y"><!-- --></div>
        <div class="news_headbg_longer"><!-- --></div>
        <div class="right_y"><!-- --></div>
    </div>
    <div class="clear"><!-- --></div>
    <div id="redactor_content">
        <div class="clear"><!-- --></div>
        <table id="news_table" cellspacing="0" cellpadding="0" border="0">
            <tr class="head">
                <td>Название</td>
                <td>Операции</td>
            </tr>
            <? foreach ($this->all as $key => $data){ ?>
                <tr>
                    <td class="le_config">
                        <a href='<?=$this->currentModul?>/edit/id/<?=$data->id?>' title="редактировать"><strong><?=$data->name?></strong></a>
                    </td>
                    <td class="del_config">
                        <?if($data->active == 1){?>
                            <a href='<?=$this->currentModul?>/unpub/id/<?=$data->id?>' title="Скрыть"><img src="/images/krug.gif"></a>
                        <?}else{?>
                            <a href='<?=$this->currentModul?>/pub/id/<?=$data->id?>' title="Опубликовать"><img src="/images/black_krug.gif"></a>
                        <?}?>&nbsp;
                        <a href='<?=$this->currentModul?>/edit/id/<?=$data->id?>' title="Редактировать"><img src="/images/redact.gif" /></a>
                        <a href='<?=$this->currentModul?>/delete/id/<?=$data->id?>' title="Удалить"><img src="/images/delete.gif"></a>
                    </td>
                </tr>
            <?}?>
        </table>
    </div>
    <div class="clear"><!-- --></div>
    <div class="redactor_footer">
        <div class="left_y"><!-- --></div>
        <div class="redactor_footerbg_longer">

        </div>
        <div class="right_y"><!-- --></div>
    </div>
</div>
				
