<style>
	
 label {
	font-weight: bolder;
}
</style>


<table border="1" cellspacing="0" cellpadding="0" class="form_table">
  <tr>
    <td>Ваше имя</td>
    <td>{name}</td>
  </tr>
  <tr>
    <td>Телефон</td>
    <td> {phone}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td> {email}</td>
  </tr>
  <tr>
    <td>Адрес</td>
    <td> {addres}</td>
  </tr>
  <tr>
    <td>Текст сообщения</td>
    <td> {body}</td>
  </tr> 
</table>
