<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cms tree</title>
<link rel="stylesheet" type="text/css" href="http://cms/test/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="http://cms/test/examples.css" />
<link rel="stylesheet" type="text/css" href="http://cms/test/column-tree.css" />
<link rel="stylesheet" type="text/css" href="http://cms/test/my.css" />

<script type="text/javascript" src="http://cms/test/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://cms/test/ext-all.js"></script>
<script type="text/javascript" src="http://cms/test/ColumnNodeUI.js"></script>
<!--<script type="text/javascript" src="/test/examples.js"></script>-->
<!-- Common Styles for the examples -->

<!-- Common Styles for the examples -->
</head>
<body>
<script type="text/javascript">
var users_json = <?=$this->ch?>;

Ext.onReady(function(){
    var tree = new Ext.tree.ColumnTree({
        el:'tree-ct',
        width:952,
        autoHeight:true,
        rootVisible:false,
        autoScroll:true,
//        animate:true,
        enableDD:true,
        containerScroll: true,
//        title: 'Модуль управления содержимым сайта',
        
        columns:[{
//            header:'Страница',
            width:800,
            dataIndex:'task'
        },{
//            header:'Действие',
            width:150,
            dataIndex:'duration'
        },
//        {
//            header:'Assigned To',
//            width:100,
//            dataIndex:'user'
//        }
        ],

        loader: new Ext.tree.TreeLoader(
        {
//            dataUrl:'/test/column-data.json',
//            dataUrl:'/test/mydata.json',
            uiProviders:{
                'col': Ext.tree.ColumnNodeUI
            }
        }
        ),

        root: new Ext.tree.AsyncTreeNode({
            text:'Tasks',
            draggable:true,
        	id:'source',
        	children:users_json
        })
    });
    tree.render();
    
    tree.on('beforenodedrop', function(e){
	var n = e.dropNode.attributes;
    var m = e.target.attributes;
	    Ext.Ajax.request(
	    {
	    	method: 'POST',
	    	url: 'http://cms/admin/test/',
	    	params: {node: encodeURIComponent(n.id), target: encodeURIComponent(m.id), point: encodeURIComponent(e.point)}
	    });
	}); 
});
</script>
<h1>CMS</h1>

<div id="tree-ct">
    
</div>

<br /><br /><br /><br /><br />
</body>

</html>







