<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Hotel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<style type="text/css">
		@import "/js/dojox/grid/_grid/tundraGrid.css";
		@import "/js/dojo/resources/dojo.css";
		@import "/js/dijit/tests/css/dijitTests.css";
		@import "/js/dijit/themes/tundra/tundra.css";
		
		.dojoxGrid-row-editing td {
				background-color: #F4FFF4;
			}
			.dojoxGrid input, .dojoxGrid select, .dojoxGrid textarea {
				margin: 0;
				padding: 0;
				border-style: none;
				width: 100%;
				font-size: 100%;
				font-family: inherit;
			}
			.dojoxGrid input {
			}
			.dojoxGrid select {
			}
			.dojoxGrid textarea {
			}

			#controls {
				padding: 6px 0;
			}
			#controls button {
				margin-left: 10px;
			}
			.myGrid {
				width: 850px;
				height: 350px;
				border: 1px solid silver;
			}
	</style>
	<script type="text/javascript" src="/js/dojo/dojo.js" djConfig="isDebug:false, parseOnLoad: true"></script>
	<script type="text/javascript" src="/js/dijit/tests/_testCommon.js"></script>
	<script type="text/javascript">
		
		dojo.require("dojox.grid.Grid");
		dojo.require("dojox.grid._data.model");
		dojo.require("dojox.grid._data.dijitEditors");
		dojo.require("dijit.Tooltip");
		dojo.require("dijit.Menu");
		dojo.require("dijit.form.TextBox");
		dojo.require("dijit.form.DateTextBox");
		dojo.require("dijit.Dialog");
		dojo.require("dijit.ColorPalette");
		dojo.require("dojo.parser");
		
	</script>
	
	<script>
	Date.prototype.json = function(){ return dojo.date.stamp.toISOString(this, {selector: 'date'});};	

	var list = <?=$this->list?>;
	var count = <?=$this->count+1?>;
	var selected = '';
	// example sample data and code
		(function(){
			// some sample data
			// global var "data"
//			data = [ 
//				[ "<span style='color:red; background-color:blue'>Саня</span>", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Украина", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"],
//				[ "Саня", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Беларусь", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"],
//				[ "Саня", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Россия", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"],
//				[ "Саня", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Беларусь", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"],
//				[ "Саня", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Россия", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"],
//				[ "Саня", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Украина", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"],
//				[ "Саня", "Шефчик", "asd@asd.ru", '123123123', "23423423", "2132131", "Беларусь", "Минск", "ул. Вникуда", "нормально", "12/23/84", "mc 123456"]
//			];
			data = <?=$this->users?>;
//			var rows = 50;
//			for(var i=0, l=data.length; i<rows-l; i++){
//				data.push(data[i%l].slice(0));
//			}
		
			// global var "model"
			model = new dojox.grid.data.Table(null, data);
			model.observer(this);
//			modelDatumChange = function(index){
//				alert(list[index]);
//			}
//			modelRemoval = function(index){
//				alert(list[index]);
//			}
//			modelInsertion = function(){
//				alert(898989);
//			}
		})();
	</script>
	<script type="text/javascript">
	// ==========================================================================
	// Grid structure
	// ==========================================================================
	
	formatDate = function(inDatum){
//		return dojo.date.locale.format(new Date(inDatum), this.constraint);	
		return dojo.date.locale.format(new Date(inDatum), {selector:'date', datePattern:'yyyy/MM/dd', locale:'en'}).toLowerCase();
	}
       	
	gridLayout = [
		{
			type: 'dojox.GridRowView', width: '20px'
		},
		{
			defaultCell: { width: 8, styles: 'text-align: right;'  },
			rows: [
				[
					{ name: 'id', styles: '', width: 10},
					{ name: 'firstName', styles: '', width: 10, editor: dojox.grid.editors.Input },
					{ name: 'lastName', styles: '', width: 10, editor: dojox.grid.editors.Input },
					{ name: 'login', styles: '', width: 15, editor: dojox.grid.editors.Input },
					{ name: 'password', styles: '', width: 15, editor: dojox.grid.editors.Input },
					{ name: 'role', styles: '', width: 8, editor: dojox.grid.editors.select, options: ["admin", "user"] }
				]
			]
		}
	];
		
		dojo.addOnLoad(function() {
			window["grid"] = dijit.byId("grid");
			// grid menu
			window["gridMenu"] = dijit.byId("gridMenu");
			gridMenu.bindDomNode(grid.domNode);
			// prevent grid methods from killing the context menu event by implementing our own handler
			grid.onCellContextMenu = function(e) {
				cellNode = e.cellNode;
			};
			grid.onHeaderContextMenu = function(e) {
				cellNode = e.cellNode;
			};
		});
		
		function reportCell() {
			if(cellNode){
				alert("Cell contents:  " + cellNode.innerHTML);
				cellNode = null;
			}
		}
		
		gridMenuEnabled = true;
		function toggleMenu(button){
			gridMenuEnabled = !gridMenuEnabled;
			button.value = gridMenuEnabled ? "Disable Grid Menu" : "Enable Grid Menu";
			gridMenu[gridMenuEnabled ? "bindDomNode" : "unBindDomNode"](grid.domNode);
		}
		addRow = function(){
			grid.addRow([
				count,"", "", "", '', "user"
			]);
		}
		
		deleteRow = function(){
			var s = grid.selection.getSelected();
			var i;
			
			for(i in s){
				dojo.xhrPost({
		        url: '/users/delete/',
		        load: editCallback,
		        error: editError,
		        content: {id: model.getDatum(s[i], 0)}
		   		});
			}
			
			grid.removeSelectedRows();
		}
</script>
</head>
<body class="tundra">
<div dojoType="dijit.Menu" id="gridMenu"  style="display: none;">
	<div dojoType="dijit.MenuItem" onClick="reportCell">See cell text...</div>
	<div dojoType="dijit.MenuItem" onClick="addRow()">Add User</div>
	<div dojoType="dijit.MenuItem" onClick="grid.removeSelectedRows()">Remove User</div>
</div>
<div dojoType="dijit.Menu" id="submenu1" contextMenuForWindow="true" style="display: none;">
	<div dojoType="dijit.MenuItem" onClick="addRow()">Add User</div>
	<div dojoType="dijit.MenuItem" onClick="grid.removeSelectedRows()">Remove User</div>
</div>

<a href ='/clients/'>Clients</a>
&nbsp;
<a href="/rooms/">Rooms</a>
&nbsp;
<a href="/reservations/">Reservations</a>
<span style="padding-left:56%;"><a href='/index/logout/'>Logout</a></span>
<div name = 'message' id='message' style="color:red;padding-left:35%"></div>
<div class="heading"><strong>Users</strong></div>

<div id="controls">
			
			<table><tr><td>
			<button dojoType="dijit.form.Button" onclick="grid.focus.next()">Next Focus</button></td><td>
			<button dojoType="dijit.form.Button" onclick="addRow()">Add User</button></td><td>
			<button dojoType="dijit.form.Button" onclick="deleteRow()">Remove User</button></td><td>
			
		     
	        <script type="dojo/method" event="onClick">
	        	dojo.xhrPost({
		           url: '/users/',
		           load: addCallback,
		           error: addError,
		           content: {}
		        });
		        function addError(data,ioArgs) {
		        	alert("Error displaying");
				}
				
				function addCallback(myData,ioArgs) {
					var newData= <?=$this->clients?>;
					var model = new dojox.grid.data.Table(null, newData);
					grid.setModel(model);
					dojo.connect(model,'datumChange',myDatumChange);
  					dojo.connect(model,'insertion',myDatumNew);
				}
	        </script>
		     
</td>


</tr></table>
			
</div>
<div id="grid" class="myGrid" dojoType="dojox.Grid" model="model" structure="gridLayout">


<script>
	function editCallback(data,ioArgs) {
	} 
	function addCallback(data,ioArgs) {
		count = count+1;
	}       
	function editError(data, ioArgs) {
	  alert('Error when retrieving data from the server!');
	}
  	function myDatumChange(value,rowIndex,columnIndex) {
  		dojo.xhrPost({
        url: '/users/edit/',
        load: editCallback,
        error: editError,
        content: {id: model.getDatum(rowIndex, 0), cell: list[columnIndex],value: value}
   		});
   	}
   	function myDatumNew(rowIndex) {
		dojo.xhrPost({
        url: '/users/add/',
        load: addCallback,
        error: editError,
        content: {id:  model.getDatum(rowIndex, 0)}
   		});
   	}
   
  dojo.connect(model,'datumChange',myDatumChange);
  dojo.connect(model,'insertion',myDatumNew);

</script>
<script>


</div>


</body>
</html>
