<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='$this->currentModule' class='blue'>$this->caption</a>";
//$this->child_name = "Редактировать Элемент ";
$this->name = "Редактировать Элемент";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle; padding: 5px; }
.item input.text {width:90%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center;}
</style>
<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
				<div id="redactor_main_head">
						<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="<?=$this->currentModule?>/<?=$this->peoples_id ? 'index/peoples_id/'.$this->peoples_id.'/' : ''?>">Назад</a></td>
							
							<td class="active"><?if ($this->item->id){echo 'Редакритовать';} else echo 'Добавить';?></td>
							
							
						</tr>
					</table>
					<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
				</div>
				
						
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px">
							
							<form method="post" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?><?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : ''?>" enctype="multipart/form-data"  >
							<?if ($this->ok==1) {?>
								<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
							<?} ?>							
							<?if ($this->err==1) {?>
								<p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
							<?} ?>	
							<br>						
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main">Название*</td>
									<td ><input type="text" class="text" size="90" name="edit[name]" value="<?=$this->item->name?>" /></td>
									
								</tr>
								<tr >
									<td class="main">Количестпо одновременных показов</td>
									<td ><input type="text"  size="10" name="edit[baners_count]" value="<?=$this->item->baners_count?>" /></td>
									
								</tr>
								
								
								<tr >
									<td class="main">Приоритет</td>
									<td ><input type="text"  size="10" name="edit[priority]" value="<?=$this->item->priority?>" /></td>
									
								</tr>
								
													
								
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>							
								<input type="hidden" name="id" value="<?=$this->item->id ?>">							
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
