<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='$this->currentModule/' class='blue'>$this->caption</a>";
//$this->child_name = $this->caption;
$this->name = $this->child_name;
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active"><?=$this->caption ?></td>
							
							<!-- <td class="normal"><a href="<?=$this->currentModule?>/edit/">Добавить</a></td> -->
							<?if ($this->peoples_id>0){ ?>
								<td class="normal"><a href="<?=$this->currentModule?>/">Все <?=$this->caption ?></a></td>
							<?} ?>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>									
									<td>&nbsp;</td>
									<td>Опрерации</td>
								</tr>
								<?php
									foreach ($this->all as $key => $data){
										
										?>
											<tr>
												<td class="le_config">
													<a href ="<?=$this->currentModule?>/edit/id/<?=$data->id?>/<?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : '' ?>" title="редактировать"><strong><?=$data->name?></strong></a>													
												</td>												
												<td class="edit_config">
													<a href="/admin/ru/baners/index/place_id/<?=$data->id ?>">Банеры</a>
												</td>
												<td class="del_config">
													<a title="Редактировать" href ='<?=$this->currentModule?>/edit/id/<?=$data->id?>/<?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : '' ?>'><img src="/images/redact.gif" /></a>&nbsp;
													<a title="Удалить" href ='<?=$this->currentModule?>/delete/id/<?=$data->id?>/<?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : '' ?>'><img src="/images/delete.gif"></a>
												</td>
											</tr>
										<?php
									}
								?>
							</table>
							<div style="padding-left: 20px;padding-top: 10px;" >
								<?$peoples = $this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : ''?>
								<?=$this->Pagination($this->currentModule.'/index/'.$peoples, (int)$this->total, (int)$this->onpage, $this->current_page); ?>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
