<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/webforms/' class='blue'>ОБРАТНАЯ СВЯЗЬ</a>";
$this->child_name = "Настройки";
$this->name = "Настройки";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/<?=$this->lang?>/webforms/">Формы</a></td>
							<td class="active">Настройки</td>
							<td class="normal"><a href="/admin/<?=$this->lang?>/webforms/add/">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<form method="POST" enctype="multipart/form-data">
							<div style="padding-left:40px"><?=$this->message?></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>
									<td>Email получателя</td>
									<td>Отправитель</td>
								</tr>
								<?php   $i = 0;
									foreach ($this->settings as $key => $data){                                                                        
                                                                ?>
											<tr>
												<td class="le_config">
													<input type="text" name="add[<?=$i?>][name]" value="<?=$data->name?>"style="width:200px; text-align:center" />
												</td>
												<td class="le_config">
													<input type="text" name="add[<?=$i?>][title]" value="<?=$data->title?>" style="width:200px; text-align:center" /><br />
												</td>
												<td class="active_config">
													<input type="text" name="add[<?=$i?>][description]" value="<?=$data->description?>" style="width:210px; text-align:center"/>
                                                                                                        <input type="hidden" name="add[<?=$i?>][mail_id]" value="<?=$data->id?>" />
												</td>
												
											</tr>
											
										<?php $i++;
									}
									
								?>
							
								<tr>
												
												
												<td colspan="3" style="padding-left:80%"><input type="submit" value="Сохранить"></td>
											</tr>
								
							</table>
							
							
							
							</form>
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
