	<h1><?=$this->options->h1?></h1>
		<?if (isset($this->search_tovars)){?>
		<ol>
			<?foreach ($this->search_tovars as $tovar){?>
				
				<li><a href="/catalogtovar/tovar/tovarid/<?=$tovar['id']?>"><?=$tovar['name']?></a></li>
				
					
			<?}?>
			</ol>
		<?} ?>
		
 