<h1><?=$this->tovar->name?></h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="310">
<div class="fotos">
        <div class="foto_top">
        <a href="<?=$this->tovar->getImgBig()?>" class="MagicZoom"><img src="<?=$this->tovar->getImgPreview() ?>"></a>
          
		  <div class="zoom"><a href="<?=$this->tovar->getImgBig()?>" target="_blank">Увеличить</a></div>
		  <div class="cena"><p><strong><?=$this->tovar->price ?></strong> руб</p>
		    <a href="#" onclick="addTovarToBasket(<?=$this->tovar->id?>,'carts');"><img src="/img/zakaz-korzina.gif" border="0"></a> 
		    <div class="clear"></div></div>
        </div>
		
      </div></td>
    <td valign="top" class="spisusl">
      <a href="<?=str_replace(DIR_PUBLIC, '/',$this->tovar->getFile())?>" class="spec">Посмотреть полную спецификацию</a>
    <?if ($this->page->template !='aksesuary' && $this->page->template !='zapchasti' ) {?>
	  
	  <a href="#" onclick="addTovarToCompare(<?=$this->tovar->id?>, 'compare')" class="srav">Сравнить</a>	  
	  <a href="/aksesuary" class="podbor">Подобрать аксессуар</a>
	 <?} ?> 
	 <a href="/gde_kupit" class="kup"> Где купить?</a>
	  </td>
  </tr>
</table>

	  
	   
	  <div class="clear"></div>
	  <div class="opis"><?=$this->tovar->description ?>
	   <?if ($this->page->template !='aksesuary') {?>
     <div class="otst"> <strong>Основные параметры:</strong></div>
 <table width="99%" border="0" cellpadding="0" cellspacing="0" class="sravn">
   <tr>
    <td><strong>Количество скоростей:</strong></td>
    <td><?=isset($this->tovar->ratecount) ? $this->tovar->ratecount :'' ?></td>
    </tr>
  <tr>
    <td><strong>Размеры:</strong></td>
    <td><?=isset($this->tovar->size) ? $this->tovar->size :'' ?></td>
    </tr>
  <tr>
    <td><strong>Цвет:</strong></td>
    <td><?=isset($this->tovar->color) ? $this->tovar->color :'' ?></td>
    </tr>
  <tr>
    <td><strong>Рама:</strong></td>
    <td><?=isset($this->tovar->rama) ? $this->tovar->rama :'' ?></td>
    </tr>
  <tr>
    <td><strong>Вилка:</strong></td>
    <td><?=isset($this->tovar->vilka) ? $this->tovar->vilka :'' ?></td>
    </tr>
    <?} ?>
</table><div class="clear"></div>
 <?if ($this->page->template !='aksesuary' && $this->page->template !='zapchasti') {?>
	<div class="otst"> <strong>Технологии:</strong>  <?=isset($this->tovar->tehnologii) ? $this->tovar->tehnologii :'' ?></div>

	<div class="obl_top"></div><h2>Велосипеды этой серии:</h2>
		<?=$this->tovar->getRand(3); ?>
<?} ?>
	</div>