﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
 	<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
	
	
	<title><?=$this->options->title?></title>
	<meta name="Keywords" content="<?=$this->options->keywords?>" />
	<meta name="Description" content="<?=$this->options->descriptions?>" />
	<META name="robots" content="all" />
	<link rel='shortcut icon' href='/img/favicon.ico'>                                     
</head><body>


<div id="c" class="ind-p"><div id="c-min"> 

<!-- header -->
  <div id="t2"><div id="t3"><div id="t4"><div id="t-min">

	<!-- блок с логотипом -->
	<div id="tt" >

	  <!-- логотип --><a id="logo" href="/"><img src="/img/1x1.gif" alt="" /></a>

	  <!-- блок вверху с иконками -->
	  <div>

		<div id="mir">&nbsp;</div>
		<!-- меню иконки --><div id="mic"><a id="is" href="/<?=$href = ($this->lang == 'ru') ? '' : $this->lang . '/'?>sitemap/"><?=$this->translate('sitemap_title');?></a>
										  <a id="im" href="/kontakty">Написать письмо</a>
										  <a id="ih" href="/<?=$href = ($this->lang == 'ru') ? '' : $this->lang . '/'?>"><?=$this->translate('home_title');?></a><div class="clear"><!-- --></div></div>
		<div id="mil"><img src="/img/1x1.gif" alt="" /></div>
		<div class="clear"><!-- --></div>

	  </div>
	  <!-- / блок вверху с иконками -->

	  <!-- верхнее меню -->
	  <div id="mt">
					
			<?php
			$menu = $this->menu('horizontal_menu', $this->lang);
			$menu1 = $menu['level1'];
			
			
			foreach ($menu1 as $key => $data){
				$class = ($data['pageId'] == $this->page->id || $data['pageId'] == $this->page->parentId) ? "<span>" : "";
				?>
				<a href="/<?=$data['path']?>"> <?=$class?> <?=$data['name']?><?if ($class=="<span>") echo"</span>";?></a><img src="/img/1x1.gif" alt="<?=$data['name']?>" />
					
					
				<?php
			}
			?>	
			
			</div>
			
			
			</div>

	</div>
	<!-- / блок с логотипом -->

	<!-- блок c фото -->
	<div id="mtib"><div><div><div><div><table id="mti" cellpadding="0" cellspacing="0"><tr>
	  <td id="mti1"><img src="/img/1x1.gif" alt="" /></td>
	  <td id="mti2"><a href="derevoderevoobrabotka">Деревообработка</a></td>
	  <td id="mti3"><img src="/img/1x1.gif" alt="" /></td>
	  <td id="mti4"><a href="/zemledelie">Земледелие</a></td>
	  <td id="mti5"><img src="/img/1x1.gif" alt="" /></td>
	  <td id="mti6"><a href="/rybovodstvo">Рыбоводство</a></td>
	  <td id="mti7">Контактные телефоны<p>(017) 284-84-84<br />(029) 684-84-84</p><img src="/img/1x1.gif" alt="" /></td>
	  <td id="mti8"><img src="/img/1x1.gif" alt="" /></td>
	</tr></table></div></div></div></div></div>
	<!-- / блок c фото -->

  </div></div></div></div>
  <!-- / header -->
  
   <!-- центральный блок -->
  <div id="ccl"><div id="ccr"><div id="ccb"><div id="ccbl"><div id="ccbr"> 

<!-- навигация --><div id="nav"><a href="#">Главная</a> <img src="/img/nav.gif" alt="" /> <span>Производство</span></div>

	<!-- правый блок -->
	<div id="cr"><div id="crb">

	  <!-- закругленные края --><table class="crtab" cellpadding="0" cellspacing="0"><tr><td id="crtl">&nbsp;</td><td id="crc">&nbsp;</td><td id="crtr">&nbsp;</td></tr></table>

	  <!-- содержание -->
	  
	  
	  <!--     ========================================================================content===================================-->

