<?foreach ($this->consalting as $data) {?>
		<p> <a href="#"onClick="return addText('<?=$data['id']?>','&nbsp;&nbsp;&nbsp;&nbsp;<?=$data['otvet']?>')"><?=$data['vopros']?></a></p>
		 <div  id="<?=$data['id']?>" ></div>
		 
		 <?} //end foreach?>
		 
		 
		<br />
		
		Страницы:&nbsp;
		<?php if($this->list > 1): ?>
 <!--<a class="pnav-l" href="<?=$this->currentlist ?>/list/<?=($this->list - 1) ?>/id/<?=$this->page->id?>">предыдущая</a>-->
 <a class="pnav-l" href="" onclick="getpage('<?=$this->currentlist ?>/list/<?=($this->list - 1) ?>'); return false;">предыдущая</a>
 <?php endif; ?>
 
		<?php $p=$this->list;  for ( $i=1; $i<$this->listCount+1; $i++)
		{
			if($i!=$p)
			{
			 	?>
				<a href="" onclick="getpage('<?=$this->currentlist ?>/list/<?=$i ?>'); return false;"><?=$i ?></a>
				<?				
			}
			 else echo (  "<span>".$i."</span>");
			
				
		}
?>
<?php if($this->list < $this->listCount): ?>
 <a class="pnav-r" href="" onclick="getpage('<?=$this->currentlist ?>/list/<?=($this->list + 1) ?>'); return false;">следующая</a>
 <?php endif; ?>