<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Error</title>
</head>
<body bgcolor = "white">

<table width = "400" cellpadding = "3" cellspacing = "5">
  <tr>
    <td id = "tableProps" valign = "top" align = "left"> </td>
    <td id = "tableProps2" align = "left" valign = "middle" width = "360"> <h1 id = "textSection1"
    style = " COLOR: black; FONT: 13pt/15pt verdana "> <span id = "errorText"> It is impossible to display page </span> </h1>
    </td>
  </tr>
  <tr>
    <td id = "tablePropsWidth" width = "400" colspan = "2"> <font
    style = " COLOR: black; FONT: 8pt/11pt verdana "> This page is now inaccessible.
    Probably, it is called by technical problems on a website, or it is required 
    Change of parameters of an observer. </font> </td>
  </tr>
  <tr>
    <td id = "tablePropsWidth" width = "400" colspan = "2"> <font id = "LID1"
    style = " COLOR: black; FONT: 8pt/11pt verdana "> <hr color = "#C0C0C0" noshade>
    <p id = "LID2"> Try the following: </p> <ul>
      <li id = "instructionsText1"> Press the button 
      <a xhref = " javascript:location.reload () " target = " _ self ">
      reload</a> <a xhref = " javascript:location.reload () " target = " _ self "> To update </a> or repeat attempt later. <br>
      </li>
          
      <li id = "instructionsText2"> Check up correctness of the address of page
 In a line of the address. <BR>
      </li>
      <li id = "instructionsText3"> to check up option of connection, choose in the menu <b> Service </b> item{point}
        <b> Properties of an observer </b>. On the tab <b> Connection </b> click <b> Option of a network </b>.
        Option should correspond to the data given by the manager of a local area network or the service provider of the Internet. </li>
     <li ID = "list4"> Check up, that parameters of connection to the Internet are found out. It is possible set up Microsoft Windows on check of a network and automatic detection of parameters of network connections (if they have been included{have been switched on} by the network manager).
        <OL> 
        <li id = "instructionText6"> Click the menu <b> Service </b> and choose <B> Properties of an observer </b>. </li>
        <li id = "instructionText7"> On the tab <b> Connections </b> choose <b> Option LAN... </b>. </li> 
        <li id = "instructionText8"> Choose <b> Automatic definition of parameters </b> and click the button <b> OK </b>. </li>
        </OL>
      </li>
    <li id = "instructionsText5">
       For some sites 128-digit enciphering is required. To define the installed degree of enciphering, choose in the menu <b> the Information{Inquiry} </b> item<b> About the program </b>.
    </li>
    <li id = "instructionsText4">
       Before connection with the safe site check up correctness of installation of parameters of safety. In the menu <B> Service </b> choose <b> Properties of an observer </b>. On the tab "In addition" find section "Safety" and establish a tag for SSL 2.0, SSL 3.0, TLS 1.0, PCT 1.0. 
    </li>
     <li id = "list3"> Press the button <a href = " javascript:history.back (1) "> Back </a> to use other link. </li>    
          
          
    </ul>
        
    </font> </td>
  </tr>
</table>
</body>
</html>