﻿<!-- middle -->
<div id="middle">
    <!-- container-->
    <div id="container">
        <!-- content-->
        <div id="content" class="home">
            <div class="inner">
                <?if(count($this->result)>0){?>
                        <h3><?=isset($this->options->h1)? $this->options->h1 : $this->page->name ?></h3>
                                 <div class="product_list">
                                   <?foreach ($this->result as $tovar){?>
                                    <div class="item test-class">
                                        <div class="block">
                                            <!--block content-->
                                            <?if($tovar['show_3dmodel']){?>
                                            <span class="item_3d">
                                                <i class="flaticon-shapes"></i>
                                            </span>
                                            <?}?>
                                            <a href="/katalog/tovar/<?=$tovar['id']?>/" class="prod_name"><?=$tovar['name'] ?></a>
                                            <div class="photo">
                                                <a href="/katalog/tovar/<?=$tovar['id']?>/">
                                                    <img src="/pics/catalog/tovar/<?=$tovar['img_small']?>" alt="">
                                                </a>
                                            </div>
                                            <div class="price">
                                                <div class="price_title">Цена:</div>
                                                <div class="price_listing_all">
                                                    <div class="price_listing_coin">
                                                      <p class="price_new"><?php echo $tovar['price'] > 0 ? number_format($tovar['price']/10000,2,',',' ').'' : 'распродано' ?></p>
                                                      <span>руб.</span>
                                                    <?if ($tovar['oldprice'] > 0){?>
                                                      <p class="price_old"><?=number_format($tovar['oldprice']/10000,2,',',' ')?></p>
                                                    <?}?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text_bl">
                                                <a href="/katalog/tovar/<?=$tovar['id']?>/" class="head"><?=$tovar['name'] ?></a>
                                                <p class="search__cart-info"><?=$tovar['intro']?></p>
                                                <a href="/katalog/tovar/<?=$tovar['id']?>/" class="read_more">
                                                    Подробнее
                                                    <span class="read_more_icon">
                                                        <i class="flaticon-arrows-1"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <?} ?>
                                </div>
                                <?}
                                else {?>

                                <?}?>


            </div>
            <!-- End content-->
        </div>
    </div>
    
    <script>
        
        //Обрезка текста в карточке товара в поиске
    
    $(".text_bl p").text(function(i, text) {

      if (text.length >= 200) {
        text = text.substring(0, 200);
        var lastIndex = text.lastIndexOf(" ");       // позиция последнего пробела
        text = text.substring(0, lastIndex) + '...'; // обрезаем до последнего слова
      }

      $(this).text(text);

    });
    </script>
    <!-- End container-->
