<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/".$this->currentModul."/' class='blue'>ФОТОМУЗЕЙ</a>";
$this->child_name = "Элементы";
$this->name = "ProwebCms. Система управления сайтом";
?>

<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/extjs/my.css" />
<!--<link rel="stylesheet" type="text/css" href="/extjs/examples.css" />-->

<script type="text/javascript" src="/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/extjs/ext-all.js"></script>
<script type="text/javascript" src="/extjs/examples.js"></script>
<style type="text/css">

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
	</style>
<script>

function sleep(sec)
{
 mSec=sec*1000;
 date=new Date();
 startTime=date.getTime();
 while (true)
  if (new Date().getTime()-startTime>=mSec)
   break;
}

var delid;

Ext.MessageBox.buttonText.yes = "Да";
Ext.MessageBox.buttonText.no = "Не знаю";
Ext.MessageBox.buttonText.cancel = "Передумал";
	
	function go(id){
		
		delid=id;
		
		
		Ext.MessageBox.show({
           title:'Удаление пользователя ',
           msg: 'Вы действительно хотите удалить пользователя?',
           buttons: Ext.MessageBox.YESNOCANCEL,
           fn: showResult,
           animEl: 'mb4',
           icon: Ext.MessageBox.QUESTION
       });
	}

	 function showResult(btn){
							var tm;
					       if(btn == 'yes'){
					       		Ext.example.msg('Элемент удален удален', " ", btn);
					       		//window.location = "/admin/ru/muzey/delete/id/"+delid+"/";
					       		tm = setTimeout("getpage('/admin/ru/muzey/delete/id/"+delid+"')",1500);
					       		//getpage("/admin/ru/siteusers/delete/id/"+delid);
					       }
					       
					       if(btn == 'no'){
					       		Ext.example.msg('Подумайте еще.', " ", btn);
					       }
					        
					       if(btn == 'cancel'){
					       		
					       			
					       }
					        
					    };



					    
						</script>




<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Формы</td>
							<td class="normal"><a href="/admin/<?=$this->lang?>/webforms/settings/">Настройки</a></td>
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/add/">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>
									<td>Активность</td>
									<td>Редактировать</td>
									<td>Удалить</td>
								</tr>
								<?php
									foreach ($this->items as $key => $data){
										
										?>
											<tr>
												<td class="le_config">
													<a href ='/admin/<?=$this->lang?>/muzey/edit/id/<?=$data->id?>/'><strong><?=$data->name?></strong></a>
													
												</td>
												<td class="corr_config">
													<?php
													if($data->pub == 1)
													{
														?>
															<a href="#" onclick="getpage('/admin/<?=$this->lang?>/muzey/unactivate/id/<?=$data->id?>/')"><img src="/images/krug.gif"></a>
														<?php
													}
													else
													{
														?>
															<a href="#" onclick="getpage('/admin/<?=$this->lang?>/muzey/activate/id/<?=$data->id?>/')"><img src="/images/black_krug.gif"></a>
														<?php
													}
													?>						
												</td>
												<td class="edit_config">
													<a href = '/admin/<?=$this->lang?>/muzey/edit/id/<?=$data->id?>/'><img src="/images/redact.gif" /></a>
												</td>
												<td class="del_config">
													<a href="#" onclick="go(<?=$data->id?>); return false;" title="Удалить"><img src="/images/delete.gif"></a>
												</td>
											</tr>
										<?php
									}
								?>
							</table>
							
							<br>
							
							
							
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/extjs/examples/tree/column-tree.css" />
<link rel="stylesheet" type="text/css" href="/extjs/my.css" />

<script type="text/javascript" src="/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/extjs/ext-all.js"></script>
<script type="text/javascript" src="/extjs/ColumnNodeUI.js"></script>
<script type="text/javascript">
var users_json = ''<?//=$this->ch?>;

Ext.onReady(function(){
    var tree = new Ext.tree.ColumnTree({
        el:'tree-ct',
        width:widthAll,
        autoHeight:true,
        rootVisible:false,
        autoScroll:true,
//        animate:true,
        enableDD:true,
        containerScroll: true,
        title: 'Фото музей',
        
        columns:[{
            header:'Страница',
            width:widthFirst,
            dataIndex:'task'
        },{
            header:'Действие',
            width:widthLast,
            dataIndex:'duration'
        }
//        {
//            header:'Assigned To',
//            width:100,
//            dataIndex:'user'
//        }
        ],

        loader: new Ext.tree.TreeLoader(
        {
//            dataUrl:'/test/column-data.json',
//            dataUrl:'/test/mydata.json',
            uiProviders:{
                'col': Ext.tree.ColumnNodeUI
            }
        }
        ),

        root: new Ext.tree.AsyncTreeNode({
            text:'Tasks',
            draggable:true,
        	id:'source',
        	children:users_json
        })
    });
    tree.render();
    tree.root.expand(true);
    
  /*  tree.on('beforenodedrop', function(e){
	var n = e.dropNode.attributes;
    var m = e.target.attributes;
	    Ext.Ajax.request(
	    {
	    	method: 'POST',
	    	url: '/admin/all/pages/',
	    	params: {node: encodeURIComponent(n.id), target: encodeURIComponent(m.id), point: encodeURIComponent(e.point)}
	    });
	}); */
	
});
</script>

<div id="tree-ct">
   
</div>
