<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='$this->currentModule' class='blue'>$this->caption</a>";
//$this->child_name = "Редактировать Элемент ";
$this->name = "Редактировать Элемент";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle; padding: 5px; }
.item input.text {width:90%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center;}
</style>
<script type="text/javascript">
<!--
 $(document).ready(function(){
 
 

	 	var type = $("#type").val();
	 	if(type=='code'){
	 		$("#code_name").css("display", "");
	 		$("#code").css("display", "");
	 		$("#image").hide("fast");
	 		$("#url").hide("fast");
	 	} else {
	 		$("#code_name").hide("fast");
	 		$("#code").hide("fast");
	 		$("#image").css("display", "");
	 		$("#url").css("display", "");
	 		
	 	}

 	$("#type").change(function(){
 			var type = $("#type").val();
	 	if(type=='code'){
	 		$("#code_name").css("display", "");
	 		$("#code").css("display", "");
	 		$("#image").hide("fast");
	 		$("#url").hide("fast");
	 	} else {
	 		$("#code_name").hide("fast");
	 		$("#code").hide("fast");
	 		$("#image").css("display", "");
	 		$("#url").css("display", "");
	 		
	 	}
 	
 	}).change();
 	
 	
 	
 });
//-->
</script>
<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
				<div id="redactor_main_head">
						<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="<?=$this->currentModule?>/<?=$this->place_id ? 'index/place_id/'.$this->place_id.'/' : ''?>">Назад</a></td>
							
							<td class="active"><?if ($this->item->id){echo 'Редакритовать';} else echo 'Добавить';?></td>
							
							
						</tr>
					</table>
					<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
				</div>
				
						
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px">
							
							<form method="post" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?><?=$this->places_id ? 'places_id/'.$this->places_id.'/' : ''?>" enctype="multipart/form-data"  >
							<?if ($this->ok==1) {?>
								<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
							<?} ?>							
							<?if ($this->err==1) {?>
								<p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
							<?} ?>	
							<br>						
							<table class="item"  cellspacing="0" cellpadding="0" >								
								<input type="hidden" name="edit[type]" value="image">
								<input type="hidden" name="edit[place_id]" value="1">								
								<tr id="url" >
									<td class="main">Адрес перехода (url)</td>
									<td >
										<input type="text" class="text"  size="10" name="edit[link]" value="<?=$this->item->link ?>"  />	
									</td>
									
								</tr>
								<tr id="order" >
									<td class="main">Порядок</td>
									<td >
										<input type="text" class="text"  size="10" name="edit[ord]" value="<?=$this->item->ord ?>"  />	
									</td>
									
								</tr>
								<tr id="description" >
									<td class="main">Подпись</td>
									<td >
										<textarea type="text" class="text"  size="10" name="edit[description]"  
										><?=$this->item->description ?></textarea> 	
									</td>
									
								</tr>
								<tr id="image" >
									<td class="main">Изображение 1130 x 564</td>
									<td >
										<?if ($this->item->img!=''){ ?>
											<p align="center">
											<img src="/img/slider/<?=$this->item->img ?>" style="max-width:400px;"><br>
											<input type="checkbox" name="delete_img" value="1">удалить изображение
											</p><br>
										<?} ?>
										<input type="file"   name="image" value="" />
									</td>
									
								</tr>
								
								
								<tr >
									<td class="main">Опубликовать на сайте</td>
									<td >
										<input type="radio"  size="10" name="edit[active]" value="1" <?if ($this->item->active==1 || !$this->item->id) echo 'checked' ?> />Да&nbsp;&nbsp;&nbsp;
										<input type="radio"  size="10" name="edit[active]" value="0" <?if ($this->item->active=='0') echo 'checked' ?> />Нет
										 
									</td>
									
								</tr>
								
								<tr style="display: none;" id="code_name" >
									<td class="main" colspan="2">Код</td>
									
								</tr>
								<tr  style="display: none;" id="code">
									<td colspan="2">
									<div style="width: 750px;">
										<?if ($this->item->code!='')$this->code->Value =$this->item->code?>
										<?php $this->code->Create();	?>	
									</div>	
									</td>
								</tr>							
								
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>							
								<input type="hidden" name="id" value="<?=$this->item->id ?>">							
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
