<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/Catalog_Division/index/id_page/$this->id_page' class='blue'>Каталог</a>";
$this->child_name = "Экспорт/импорт данных ";
$this->name = "Экспорт/импорт данных";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item input.text {width:100%; }
.item textarea.text {width:100%; }
.item select.text {width:100%; }
.item td.main {text-align:center;}
</style>
<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
				<div id="redactor_main_head">
					<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="<?php echo "/admin/$this->lang/Catalog_Division/edit/id/" . $this->item->id . "/id_page/" . $this->id_page ?>">Редактор</a></td>
							<td class="active">Экспорт/Импорт</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px; padding-top: 5px;">
							<a href="<?php echo "/admin/$this->lang/Catalog_Csv/export/id/" . $this->item->id ?>">Экспорт</a>
							<?php if ($this->ok === 1){?>
								<p><font color="green"><b>Данные успешно импортированы</b></font></p>
							<?php } elseif ($this->ok === 0){?>
								<p><font color="red"><b>Укажите файл для импорта</b></font></p>
							<?php } elseif ($this->ok === 2){?>
								<p><font color="red"><b>Вы указали неверный файл импорта</b></font></p>
							<?php }?>
							<form method="post" action="<?php echo "/admin/$this->lang/Catalog_Csv/importIndex/id/" . $this->item->id . "/id_page/" . $this->id_page ?>" enctype="multipart/form-data"  >
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr>
									<td class="main" >CSV файл</td>
									<td ><input type="file" name="csvfile" size="54" /></td>
								</tr>
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
								</tr>
							</table>
							</form>
							</div>
						</div>			
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				</div>