<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/Catalog_Division/index/id_page/$this->id_page' class='blue'>Каталог</a>";
$this->child_name = "Редактировать раздел ";
$this->name = "Редактировать раздел";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item input.text {width:100%; }
.item textarea.text {width:100%; }
.item select.text {width:100%; }
.item td.main {text-align:center;}
</style>
<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
			<div id="redactor_main_head">
				<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Редактор</td>
							<td class="normal"><a href="<?php echo "/admin/$this->lang/Catalog_Csv/importIndex/id/" . $this->item->id . "/id_page/" . $this->id_page ?>">Экспорт/Импорт</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px">
							<?php if ($this->ok){?>
								<p><font color="green"><b>Данные сохранены</b></font></p>
							<?php } elseif ($this->ok===0){?>
								<p><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
							<?php }?>
							<form method="post" action="/admin/<?=$this->currentModul?>/edit/id/<?=$this->item->id?>/id_page/<?=$this->id_page?>" enctype="multipart/form-data"  >
							<div class="link"><a href="#" onclick="$('#seo').toggle('fast'); return false">seo</a></div>
							<div id="seo" class="tab" style="display: none;">
								<table width="700" class="item" >
								 <tr>
									 <td class="main" width="150">Title</td>
									<td><input name="meta[title]" value="<?=isset($this->options) ? $this->options->title :'' ?>" class="text" /></td>
									
								  </tr>
								  
								  <tr class="main">
									<td>Keywords</td>
									<td><input name="meta[keywords]" value="<?=isset($this->options) ? $this->options->keywords :'' ?>" class="text" /></td>
									
								  </tr>
								  <tr class="main">
									<td>Descriptions</td>
									<td><input name="meta[descriptions]" value="<?=isset($this->options) ? $this->options->descriptions :'' ?>" class="text" /></td>
									<input type="hidden" name="meta[h1]" value="">
									<input type="hidden" name="meta[tags]" value="">
									<input type="hidden" name="meta[pageId]" value="0">
								  </tr>
								  
								</table>
								
							</div>	
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main">Название</td>
									<td ><input type="text" class="text" size="90" name="add[name]" value="<?=$this->item->name?>" /></td>
									
								</tr>
								<tr >
									<td class="main">Короткое название</td>
									<td ><input type="text" class="text" size="90" name="add[shortname]" value="<?=$this->item->shortname?>" /></td>
									
								</tr>
								<tr >
									<td class="main">Favicon</td>
									<td ><input type="text" class="text" size="90" name="add[favicon]" value="<?=$this->item->favicon?>" /></td>
									
								</tr>
								<tr>
									<td class="main" >Иконка</td>
									<td >									
									<?if ($this->item->img) {?>
										<p align="center">
										<img alt="" src="/pics/catalog/division/<?=$this->item->img?>">
										<br>
										<label for="del_img"><input type="checkbox" id="del_img" name="delete_img" value="1">Удалить изображение</label>
										</p>
									<?}?>
									
									<input type="file" name="img" size="54" /></td>
								</tr>
								<tr >
									<td class="main">Открывать пункт меню по умолчанию? </td>
									<td >
									    <input type="radio" size="67" name="add[display]" value="1" <?=($this->item->display==1?'checked':'')?> />Да
									    <input type="radio" size="67" name="add[display]" value="0" <?=($this->item->display==0?'checked':'')?> />Нет
									</td>

								</tr>
								<tr >
									<td class="main" colspan="2">Краткое описание</td>
									
								</tr>
								<tr >
									<td colspan="2">
									<div style="width: 750px;">
										<?$this->fck_intro->Value =$this->item->intro?>
										<?php $this->fck_intro->Create();	?>	
									</div>	
									</td>
								</tr>
								<tr >
									<td class="main" colspan="2">Полное описание</td>
									
								</tr>
								<tr >
									<td colspan="2">
									<div style="width: 750px;">
										<?$this->fck_content->Value =$this->item->description?>
										<?php $this->fck_content->Create();	?>	
									</div>	
									</td>
								</tr>
								<tr>
									<td class="main" >приоритет</td>
									<td ><input name="add[sortid]" size="10" value="<?=$this->item->sortid?>"></td>
								</tr>
								
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
								</tr>
							</table>
							</form>
							</div>
						</div>						
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				</div>