<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/webforms/' class='blue'>ОБРАТНАЯ СВЯЗЬ</a>";
$this->child_name = "Настройки";
$this->name = "Настройки";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/<?=$this->lang?>/webforms/">Формы</a></td>
							<td class="active">Настройки</td>
							<td class="normal"><a href="/admin/<?=$this->lang?>/webforms/add/">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>
									<td>Параметр</td>
									<td>Описание</td>
								</tr>
								<?php
									foreach ($this->settings as $key => $data){
										?>
											<tr>
												<td class="le_config">
													<?=$data->name?>
												</td>
												<td class="le_config">
													<input type="text" value="<?=$data->title?>" style="width:200px; text-align:center" /><br />
												</td>
												<td class="active_config">
													<input type="text" value="<?=$data->description?>" style="width:210px; text-align:center"/>
												</td>
											</tr>
										<?php
									}
								?>
							</table>
							
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
