<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" .
        "\<a href='/admin/$this->lang/Catalog_Division/index/$this->id_page/' class='blue'>Каталог</a>";
$this->child_name = "Товары ";
$this->name = "Добавить товар в раздел ".$this->division->name;
?>


<style>

table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse; }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item td.main {text-align:left;}
.sel {width:425px;}
.text {width:425px;}
</style>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/items/divid/<?=$this->division->id?>/id_page/<?=$this->id_page?>">Товары раздела</a></td>
							
							<td class="active">Товар</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px; padding-top:5px;">
							<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
							<form method="post" action="/admin/ru/Catalog_Tovar/add/parent_id/<?=$this->division->id?>/id_page/<?=$this->id_page?>"  enctype="multipart/form-data" >
							<div class="link"><a href="#" onclick="$('#seo').toggle('fast'); return false">seo</a></div>
							<div id="seo" class="tab" style="display: none;">
								<table width="700" class="item" >
								 <tr>
									 <td class="main" width="150">Title</td>
									<td><input name="meta[title]" value="<?=isset($this->options) ? $this->options->title :'' ?>" class="text" /></td>
									
								  </tr>
								  
								  <tr class="main">
									<td>Keywords</td>
									<td><input name="meta[keywords]" value="<?=isset($this->options) ? $this->options->keywords :'' ?>" class="text" /></td>
									
								  </tr>
								  <tr class="main">
									<td>Descriptions</td>
									<td><input name="meta[descriptions]" value="<?=isset($this->options) ? $this->options->descriptions :'' ?>" class="text" /></td>
									<input type="hidden" name="meta[h1]" value="">
									<input type="hidden" name="meta[tags]" value="">
									<input type="hidden" name="meta[pageId]" value="0">
								  </tr>
								  
								</table>
								
							</div>	
							<p style="color:red;"><?=$this->message?></p>
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main">Название *</td>
									<td ><input class="text" type="text"  name="add[name]" value="" /></td>
									
								</tr>
								<tr >
									<td class="main">Стоимость *</td>
									<td ><input type="text" class="text"  name="add[price]" value="" /></td>
									
								</tr>
                                                                <tr >
									<td class="main">Старая цена *</td>
									<td ><input type="text" class="text"  name="add[oldprice]" value="" /></td>

								</tr>
								
								<tr>
									<td class="main" >Новинка</td>
									<td >
									<input type="radio" id="is_new_0" checked="checked" name="add[is_new]" value="0"><label for="is_new_0"> Нет</label> 
									<input type="radio" id="is_new_1"  name="add[is_new]" value="1" ><label for="is_new_1"> Да</label>
										
										
									</td>
								</tr>
								
								
								
																
								<tr>
									<td class="main" >Иконка</td>
									<td >																	
									<input type="file" name="img_small" size="54" /></td>
								</tr>
								
								<tr>
									<td class="main" >Картинка</td>
									<td >																	
									<input type="file" name="img_big" size="54" /></td>
								</tr>
                                                                <tr>
									<td class="main" >Большая картинка</td>
									<td >
									<input type="file" name="img_show" size="54" /></td>
								</tr>
								
								  <tr>

                                    <td class="main">Тип велосипеда</td>
                                    <td>
                                    <input type="hidden" value="" name="add[bike_type]"/>
                                    <label style="white-space: nowrap;">
                                    <input type="radio" value="1" name="add[bike_type]"/>
                                    Горный
                                    </label>
                                    <br/>
                                    <label style="white-space: nowrap;">
                                    <input type="radio" value="2" name="add[bike_type]"/>
                                    Шоссейный
                                    </label>
                                    <br/>
                                    <label style="white-space: nowrap;">
                                    <input type="radio" value="3" name="add[bike_type]"/>
                                    Комфортный
                                    </label>
                                    <br/>
                                    <label style="white-space: nowrap;">
                                    <input type="radio" value="4" name="add[bike_type]"/>
                                    Туристический
                                    </label>
                                    <br/>
                                    <label style="white-space: nowrap;">
                                    <input type="radio" value="5" name="add[bike_type]"/>
                                    BMX
                                    </label>
                                    <br/>
                                    <label style="white-space: nowrap;">
                                    <input type="radio" checked="checked" value="0" name="add[bike_type]"/>
                                    Нет
                                    </label>
                                </td>
                                </tr>
								<tr >
									<td class="main">Велосипед</td>
									<td>
                                        <input type="hidden" value="" name="add[human_type]"/>
                                        <label style="white-space: nowrap;">
                                        <input type="radio" value="1" name="add[human_type]"/>
                                        Мужской
                                        </label>
                                        <br/>
                                        <label style="white-space: nowrap;">
                                        <input type="radio" value="2" name="add[human_type]"/>
                                        Женский
                                        </label>
                                        <br/>
                                        <label style="white-space: nowrap;">
                                        <input type="radio" value="3" name="add[human_type]"/>
                                        Подростковый
                                        </label>
                                        <br/>
                                        <label style="white-space: nowrap;">
                                        <input type="radio" value="4" name="add[human_type]"/>
                                        Детский
                                        </label>
                                        <br/>
                                        <label style="white-space: nowrap;">
                                        <input  checked="checked" type="radio" value="0" name="add[human_type]"/>
                                        Нет
                                        </label>
                                       </td>
								</tr>
								
								<tr >
									<td class="main" colspan="2" >Краткое описание</td>
									
								</tr>
								<tr >
									<td colspan="2">
									<div style="width: 750px;">
										<?php $this->fck_intro->Create();    ?>
									</div>	
									</td>
								</tr>
								<tr >
									<td class="main" colspan="2">Полное описание</td>
									
								</tr>
								<tr >
									<td colspan="2">
									<div style="width: 750px;">
										<?php $this->fck_content->Create();    ?>
									</div>	
									</td>
								</tr>
								
								<tr>
									<td  colspan="2" align="right" >									
									<input value="Создать" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
