<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/Catalog_Division/index/id_page/$this->id_page/' class='blue'>Каталог</a>";
$this->child_name = "Товары ";
$this->name = "Редактировать товар в разделе ".$this->division->name;
?>


<style>

table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse; }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item td.main {text-align:left;}
.sel {width:425px;}
.text {width:425px;}
</style>

				<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/items/divid/<?=$this->division->id?>/id_page/<?=$this->id_page?>">Товары раздела</a></td>
							
							<td class="active">Товар</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<div style="padding-left:20px; padding-top:5px;">
							<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
							<form method="post" action="/admin/<?=$this->currentModul?>/edit/parent_id/<?=$this->division->id?>/tovarid/<?=$this->tovar->id?>/id_page/<?=$this->id_page?>" enctype="multipart/form-data" >
							<div class="link"><a href="#" onclick="$('#seo').toggle('fast'); return false">seo</a></div>
							<div id="seo" class="tab" style="display: none;">
								<table width="700" class="item" >
								 <tr>
									 <td class="main" width="150">Title</td>
									<td><input name="meta[title]" value="<?=isset($this->options) ? $this->options->title :'' ?>" class="text" /></td>
									
								  </tr>
								  
								  <tr class="main">
									<td>Keywords</td>
									<td><input name="meta[keywords]" value="<?=isset($this->options) ? $this->options->keywords :'' ?>" class="text" /></td>
									
								  </tr>
								  <tr class="main">
									<td>Descriptions</td>
									<td><input name="meta[descriptions]" value="<?=isset($this->options) ? $this->options->descriptions :'' ?>" class="text" /></td>
									<input type="hidden" name="meta[h1]" value="">
									<input type="hidden" name="meta[tags]" value="">
									<input type="hidden" name="meta[pageId]" value="0">
								  </tr>
								  
								</table>
								
							</div>	
							<p style="color:red;"><?=$this->message?></p>
							<?php if (isset($this->ok)){?>
								<p><font color="green"><b><?=$this->ok?></b></font></p>
							<?php }?>
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main">Название *</td>
									<td ><input class="text" type="text"  name="add[name]" value="<?=$this->tovar->name?>" /></td>
									
								</tr>
								<tr >
									<td class="main">Стоимость *</td>
									<td ><input type="text" class="text"  name="add[price]" value="<?=$this->tovar->getPrice();?>" /></td>
									
								</tr>
                                                                <tr >
									<td class="main">Старая цена</td>
									<td ><input type="text" class="text"  name="add[oldprice]" value="<?=$this->tovar->getOldPrice();?>" /></td>

								</tr>
								<tr>
									<td class="main" >Новинка</td>
									<td >
                                                                            <input type="radio" id="is_new_0" checked="checked" name="add[is_new]" value="0" <?=($this->tovar->is_new==0?'checked':'')?>><label for="is_new_0"> Нет</label>
                                                                            <input type="radio" id="is_new_1"  name="add[is_new]" value="1" <?=($this->tovar->is_new==1?'checked':'')?>><label for="is_new_1"> Да</label>
                                                                        </td>
								</tr>	
								<tr>
									<td class="main" >Приоритет</td>
									<td >
									<input type="text"  name="add[prior]" value="<?=(int)$this->tovar->prior?>">
									</td>
								</tr>
																
								<tr>
									<td class="main" >Иконка</td>
									<td >	
									<?php if ($this->tovar->img_small!=''){?>
										<p align="center">
											<img alt="" src="<?=$this->view_img_path.$this->tovar->img_small?>" ><br>
											<input type="checkbox" id="del_small" name="delete_img_small" value="1"><label for="del_small" >Удалить</label>
										
										</p>
									<?php }?>																
									<input type="file" name="img_small" size="54" /></td>
								</tr>
								
								<tr>
									<td class="main" >Картинка</td>
									<td >	
									<?php if ($this->tovar->img_big!=''){?>
										<p align="center">
											<img alt="" src="<?=$this->view_img_path.$this->tovar->img_big?>" ><br>
											<input type="checkbox" id="del_big" name="delete_img_big" value="1"><label for="del_big" >Удалить</label>
										
										</p>
									<?php }?>																	
									<input type="file" name="img_big" size="54" /></td>
								</tr>
                                                                <tr>
									<td class="main" >Большая картинка</td>
									<td >
									<?php if ($this->tovar->img_show!=''){?>
										<p align="center">
											<a href="<?=$this->view_img_path.$this->tovar->img_show?>" target="about:blank"><?=$this->tovar->img_big?></a><br>
											<input type="checkbox" id="del_show" name="delete_img_show" value="1"><label for="del_show" >Удалить</label>
										</p>
									<?php }?>
									<input type="file" name="img_show" size="54" /></td>
								</tr>

                                <tr >
									<td class="main">Тип велосипеда</td>
									<td>
									    <?=$this->formRadio("add[bike_type]", $this->tovar->bike_type, NULL, $this->bikeType)?>
									</td>
								</tr>

								<tr >
									<td class="main">Велосипед</td>
									<td>
									    <?=$this->formRadio("add[human_type]", $this->tovar->human_type, NULL, $this->humanType)?>
									</td>
								</tr>


								<tr >
									<td class="main" colspan="2" >Краткое описание</td>
									
								</tr>
								<tr >
									<td colspan="2">
									<div style="width: 750px;">
										<?php 
											$this->fck_intro->Value = $this->tovar->intro; 
											$this->fck_intro->Create();
										?>	
									</div>	
									</td>
								</tr>
								<tr >
									<td class="main" colspan="2">Полное описание</td>
									
								</tr>
								<tr >
									<td colspan="2">
									<div style="width: 750px;">
										<?php
											$this->fck_content->Value = $this->tovar->description;	
											$this->fck_content->Create();	
										?>	
									</div>	
									</td>
								</tr>
								
								<tr>
									<td  colspan="2" align="right" >									
									<input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
