<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/CatalogDivision/' class='blue'>Каталог</a>";
$this->child_name = "Технические поля";
$this->name = "Раздел ".$this->division->name;
?>


<style>

table.item {/*border: solid 1px #CCCCCC;*/ width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px;  }
.item input.text {width:100%; }
.item select.text {width:100%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center; text-align:left; width:30%;}
</style>

<script type="text/javascript">
function vis(id,type){
var input;
var tr1;
var sel;

	input = document.getElementById(id);
	tr1=document.getElementById('tr1');
	
	if (input.disabled){
	
	input.disabled=false;
	tr1.style.visibility='hidden';
	}
	 else {
		if (input.disabled!='disabled'){
		
		input.disabled=true;
		tr1.style.visibility='visible';
		}
	}
	
	
	sel = document.getElementById(type);
	if (sel.disabled){
	
	sel.disabled=false;
	document.getElementById('tr1').style.visibility='hidden';
	} else {
		if (sel.disabled!='disabled'){
		
		sel.disabled=true;
		}
	}
}
</script>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">техические поля</td>
							
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/fields/divid/<?=$this->div_id?>">Назад</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							
							
							<div style="padding-left:20px; padding-top:5px;">

							<?if (isset($this->message)){echo('<font color="red">'.$this->message.'</font><br>');}?>
							
							
							<form method="post" action="/admin/<?=$this->currentModul?>/fieldadd/divid/<?=$this->div_id?>/"  >
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr  id="tr1">
									<td class="main" ><b>Выбрать из существующих</b></td>
									<td >
									<?if (isset($this->all_fields)):?>
									<select name="field_id" class="text" >
									<option value="0">Выбрать</option>
											<?foreach($this->all_fields as $data):?>
											<option value="<?=$data->id?>"><?=$data->name?></option>
											<?endforeach;?>
										 </select>
									<?endif;?>	 
									</td>
								</tr>
								<tr >
									<td class="main"><b>добавить новое</b></td>
									<td ><input type="checkbox" id='chek'name="chek" onchange="vis('name','type')" /></td>
									
								</tr>
								<tr id="tr2" >
									<td class="main"><b>Название</b></td>
									<td ><input type="text" class="text" size="90" disabled="disabled" name="add[name]" id="name" value="" /></td>
									
								</tr>
								<tr>
									<td class="main" ><b>Тип поля</b></td>
									<td ><select name="add[type]" id="type" disabled="disabled">
											<option value="input">поле для ввода</option>
										 </select>
									</td>
								</tr>
								
								<tr>
									<td class="main" ><b>Приоритет</b></td>
									<td ><input  type="text" name="add[sortid]" size="10" value="0"></td>
								</tr>
								
								
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
