<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/".$this->currentModul."/' class='blue'>Каталог товаров</a>";
$this->child_name = "Технические поля";
$this->name = "ProwebCms. Система управления сайтом";
?>

<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/extjs/my.css" />
<!--<link rel="stylesheet" type="text/css" href="/extjs/examples.css" />-->

<script type="text/javascript" src="/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/extjs/ext-all.js"></script>
<script type="text/javascript" src="/extjs/examples.js"></script>
<style type="text/css">

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
	</style>
<script>

function sleep(sec)
{
 mSec=sec*1000;
 date=new Date();
 startTime=date.getTime();
 while (true)
  if (new Date().getTime()-startTime>=mSec)
   break;
}

var delid;

Ext.MessageBox.buttonText.yes = "Да";
Ext.MessageBox.buttonText.no = "Не знаю";
Ext.MessageBox.buttonText.cancel = "Передумал";
	
	function go(id){
		
		delid=id;
		
		
		Ext.MessageBox.show({
           title:'Удаление пользователя ',
           msg: 'Вы действительно хотите удалить пользователя?',
           buttons: Ext.MessageBox.YESNOCANCEL,
           fn: showResult,
           animEl: 'mb4',
           icon: Ext.MessageBox.QUESTION
       });
	}

	 function showResult(btn){
							var tm;
					       if(btn == 'yes'){
					       		Ext.example.msg('Элемент удален удален', " ", btn);
					       		//window.location = "/admin/ru/muzey/delete/id/"+delid+"/";
					       		tm = setTimeout("getpage('/admin/ru/muzey/delete/id/"+delid+"')",1500);
					       		//getpage("/admin/ru/siteusers/delete/id/"+delid);
					       }
					       
					       if(btn == 'no'){
					       		Ext.example.msg('Подумайте еще.', " ", btn);
					       }
					        
					       if(btn == 'cancel'){
					       		
					       			
					       }
					        
					    };



					    
						</script>




<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Разделы</td>
							<td class="normal"><a href="/admin/ru/tehnicfields/">Все поля</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>
									
									<td>Редактировать</td>
									
								</tr>
								<?php
									foreach ($this->main_divs as $key => $data){
										
										?>
											<tr>
												<td class="le_config">
													<a href ='/admin/<?=$this->lang?>/Catalog_Tovar/fields/divid/<?=$data->id?>/'><strong><?=$data->name?></strong></a>
													
												</td>
												
												<td class="edit_config">
													<a href = '/admin/<?=$this->lang?>/Catalog_Tovar/fields/divid/<?=$data->id?>/' title="Перейти к редактированию полей" ><img src="/images/redact.gif"  /></a>
												</td>
												
											</tr>
										<?php
									}
								?>
							</table>
							
							<br>
							
							
							
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				