<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/Catalog_Division/index/id_page/$this->id_page' class='blue'>Каталог</a>";
$this->child_name = "Товары ";
$this->name = "Товары в разделе ".$this->division->name;
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item input.text {width:100%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center;}




</style>
<script >
function hover(tr_id){
	 document.getElementById(tr_id).style.background="#DBE0FB";
}
function out(tr_id){
	 document.getElementById(tr_id).style.background="#ffffff";
}
</script>
					<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Товары</td>
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/add/parent_id/<?=$this->div_id?>/id_page/<?=$this->id_page?>">Добавить</a></td>
							
							
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							
							
							<div style="padding-left:20px; padding-top:5px;">
						
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr  >
									<td class="main"><b>Название</b><a href="/admin/<?=$this->currentModul ?>/items/divid/<?=$this->div_id?>/id_page/<?=$this->id_page?>/sort/nasc" title="сортировать по возрастанию" /><img src="/images/Aup.gif"></a>&nbsp;  <a href="/admin/<?=$this->currentModul ?>/items/divid/<?=$this->div_id?>/id_page/<?=$this->id_page?>/sort/ndesc" title="сортировать по убыванию" /><img src="/images/Adn.gif"></a></td>	
									<td class="main"><b>стоимость</b></td>
									<td class="main"><b>приоритет</b></td>
									<td class="main"><b>Действия</b></td>								
									
								</tr>
								<?foreach($this->tovars as $data):?>
								<tr onMouseOver="hover(<?=$data['id']?>)" id="<?=$data['id']?>" onMouseOut="out(<?=$data['id']?>)">
									<td><?=$data['name']?></td>
									<td style="text-align: center;" ><?=$data['price']?></td>
									<td style="text-align: center;"> 
										<?=$data['prior']?>
									
									</td>
									<td><a href="/admin/<?=$this->currentModul?>/edit/tovarid/<?=$data['id']?>/id_page/<?=$this->id_page?>"><img src="/images/redact.gif"></a>
									&nbsp;&nbsp;<a href="/admin/<?=$this->currentModul?>/copy/tovarid/<?=$data['id']?>/id_page/<?=$this->id_page?>"><img src="/images/plus_b.gif">
									&nbsp;&nbsp;<a href="/admin/<?=$this->currentModul?>/delete/tovarid/<?=$data['id']?>/id_page/<?=$this->id_page?>" onclick="return confirm('Вы уверены?');"><img src="/images/delete.gif"></a></td>
								</tr>
								<?endforeach;?>
								
							</table>
							<?if ($this->listCount>1){?>
		<div class="Spacer">&nbsp;</div>
Страницы:&nbsp;
		<?php if($this->list > 1): ?>
 
 <a class="pnav-l" href="/admin/<?=$this->currentModul ?>/items/divid/<?=$this->div_id?>/id_page/<?=$this->id_page?>/list/<?=($this->list - 1) ?>/sort/<?=$this->sort?>" >предыдущая</a>
 <?php endif; ?>
 
		<?php $p=$this->list;  for ( $i=1; $i<$this->listCount+1; $i++)
		{
			if($i!=$p)
			{
			 	?>
				<a href="/admin/<?=$this->currentModul ?>/items/divid/<?=$this->div_id?>/id_page/<?=$this->id_page?>/list/<?=$i ?>/sort/<?=$this->sort?>"><?=$i ?></a>
				<?				
			}
			 else echo (  "<span>".$i."</span>");
			
				
		}
		
?>
<?php if($this->list < $this->listCount): ?>
 <a class="pnav-r" href="/admin/<?=$this->currentModul ?>/items/divid/<?=$this->div_id?>/id_page/<?=$this->id_page?>/list/<?=($this->list + 1) ?>/sort/<?=$this->sort?>" >следующая</a>
 <?php endif; ?>
	<?}?>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
