<?=$this->header;?>
<?=$this->leftcollum;?>
<div id="middle">	
	<!-- container-->
	<div id="container">
	    <!-- content-->
	    <div id="content" class="home">
	        <div class="inner">
	            <?=$this->content?>
	        </div>
	        <!-- End content-->
	    </div>
	</div>
	<!-- End container-->
<?=$this->footer;?>