<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>Студия интернет-проектов PROWEB - CMS</title>
     <meta http-equiv="content-type" content="text/html;charset=utf-8" />
     <meta name="keywords" content="" />
     <meta name="description" content="Студия интернет-проектов PROWEB - CMS" />
     <link rel="stylesheet" type="text/css"  href="/css/admin.css" />
     <link rel="stylesheet" type="text/css"  href="/css/jquery-ui-1.7.2.custom.css" />
     <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
     <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
     <script type="text/javascript" src="/js/ui.datepicker-ru.js"></script>
     <script type="text/javascript" src="/js/jquery.cookie.js"></script>    
     <script type="text/javascript" src="/js/jquery.treeview.js"></script>
     <!--[if IE 6]>
          <link rel="stylesheet" type="text/css" href="/css/admin_ie.css" />
     <![endif]-->
</head>

<!--[if lt IE 7]>     <body id="body" class="isIE isIE6">     <![endif]-->
<!--[if IE 7]>          <body id="body" class="isIE isIE7">     <![endif]-->
<script type="text/javascript">
$(function(){
  $.datepicker.setDefaults(
        $.extend($.datepicker.regional["ru"])
  );
  $("input[id='datepicker']").datepicker(
  		{
  			showOn: 'both', 
  			buttonImage: '/images/ui-lightness/calendar.gif', 
  			buttonImageOnly: true  			

  });

});

function pre_delete(url){
	if(confirm('Вы уверены?')){
		location.href = url;
	}
	
}

</script>
<body>

	<div id="main">
		<div id="main_center">
			<div id="head_menu">
				<div id="head_menu_left">
					<?=$this->modules;?>
					<span style="float: right; padding-top: 4px">
						
					</span>
				</div>
				
				<div id="head_menu_right">
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td><!--Язык сайта: <span><a href="#">RU</a></span><span><a href="#">EN</a></span>--></td>
							<td class="exit"><a href="/admin/all/pages/logout/">Выход</a></td>
						</tr>
					</table>
				</div>
				<div class="clear"><!-- --></div>
				<div id="logo_bg">
					<div id="left_logo"><!-- --></div>
					<div id="rightp_logo"><!-- --></div>
				</div>
				<div class="clear"><!-- --></div>
			</div>
			<div class="clear"><!-- --></div>
			<div id="center_img">
				<div id="mode">
					<table>
						<tr cellspacing="0" cellpadding="0" border="0">
							<td class="img_mode"></td>
<!--							<td class="txt_mode"><a href="/admin/config/">НАСТРОЙКА МОДУЛЯ</a></td>-->
						</tr>
					</table>
				</div>
				<div class="clear"><!-- --></div>
				<div id="title">
				<p><?=$this->parent_name?>\<?=$this->child_name?></p>
				<h1><?=$this->name?></h1></div>
			</div>
			<div class="clear"><!-- --></div>
			<div id="content">
				<div id="content_main">
				<?=$this->content;?>
				</div>
				<div id="content_help">
					<div id="help_head">
						<table cellspacing="0" cellpadding="0" border="0" class="help_title">
							<tr>
								<td class="redactor_img"><!-- --></td>
								<td>Помощь</td>
							</tr>
						</table>
					</div>
					<div class="clear"><!-- --></div>
					<div id="help_text">
						<p><?=$this->help?> </p>
					</div>
				</div>
				<script>
					if(screen.width == '1024'){
						var content = document.getElementById('content_help').style.width = '17%';
					}
					else if(screen.width == '1280' && navigator.appName != "Microsoft Internet Explorer"){
						var content = document.getElementById('content_help').style.width = '25%';
					}
					else if(screen.width == '1280'){
						var content = document.getElementById('content_help').style.width = '170px';
					}
					else if(document.body.clientWidth >1280){
						var content = document.getElementById('content_help').style.width = '170px';
					}
				</script>
			</div>
			<div class="clear"><!-- --></div>
			<div id="footer">
				<div id="footer_left"><p>Copyright (C) 2007 Proweb</p></div>
				<div id="footer_right"><p>Разработано <a href="http://www.proweb.by">Proweb.by</a></p></div>
			</div>
			<div class="clear"><!-- --></div>
		</div>
	</div>
	
</body>
</html>
