<?=$this->header;?>
<!-- container-->
<div id="container">
    <!-- content-->
    <div id="content" class="home">
        <div class="inner">
            <?=$this->content?>
        </div>
        <!-- End content-->
    </div>
</div>
<!-- End container-->
<?=$this->leftcollum;?>
<?=$this->rightcolumn;?>
<?=$this->footer;?>