<?=$this->header;?>
<!-- container-->
<div id="container">
    <!-- content-->
    <div id="content" class="home">
        <div class="inner">
            <?php
            $sitemap = Pages::getInstance()->getSiteMap($this->page->version);
            $iLevel = 0;
          ?>

            <div class="block_blue head">
                     <div class="left_bg">
                         <div class="right_bg">
                             <div class="top_l">
                                 <div class="bottom_l">
                                     <div class="top_r">
                                         <div class="bottom_r">
                                             <div class="in">
                                                 <h1>
                                                    <?=$this->options->h1?>
                                                 </h1>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>
 <?php
    echo '<div class="text_page sitemap">';
    foreach ($sitemap as $key => $data){
        if ($data->published != 0){

            if ($data->module != 'portfolio')
            {
                if ($data->level > $iLevel)
                {
                    $iLevel = $data->level;?>
                    <ul <?if($iLevel==1) {?>class="sitemap"<?} ?>>
                    <li><a href="/<?=$data->path?>"><?=$data->name?></a><?php

                }
                elseif ($data->level < $iLevel)
                {
                    $iLevel = $data->level;
                    ?></ul>
                    </li><li><a href="/<?=$data->path?>"><?=$data->name?></a><?php
                }
                else
                {
                    ?></li><li><a href="/<?=$data->path?>"><?=$data->name?></a>
                    <?if($data->path=='katalog'){?>
                        <?=$this->CatalogMenu(NULL, 'sitemap');?>
                    <?}?>
                    <?php
                }
            }
            else
            {
                ?><li><a href="/<?=$data->path?>"><?=$data->name?></a>
                <ul>
               <?foreach ($data->getPortfolioDivisions() as $div){?>
                        <li><a href="/<?=$div->getPath() ?>/division/<?=$div->division_id ?>" ><?=$div->name ?></a></li>
               <?} ?>
               </ul>
               </li>
               <?
            }
        }
    }
    echo '</div>';
?>

        </div>
        <!-- End content-->
    </div>
</div>
<!-- End container-->

 


<?=$this->leftcollum;?>
<?=$this->rightcolumn;?>
<?=$this->footer;?>
