/*
 * Ext JS Library 2.0 RC 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

#lib-bar {
    position:absolute;
    top:0;
    right:10px;
    z-index:100;
    visibility:hidden;
}
#lib-bar-inner {
    padding:4px;
}
#lib-bar * {
    font-size:11px;
}