        <div class="body-wrap">
        <div class="top-tools">
            <a class="inner-link" href="#Ext.menu.ColorItem-props"><img src="../resources/images/default/s.gif" class="item-icon icon-prop">Properties</a>
            <a class="inner-link" href="#Ext.menu.ColorItem-methods"><img src="../resources/images/default/s.gif" class="item-icon icon-method">Methods</a>
            <a class="inner-link" href="#Ext.menu.ColorItem-events"><img src="../resources/images/default/s.gif" class="item-icon icon-event">Events</a>
                            <a class="inner-link" href="#Ext.menu.ColorItem-configs"><img src="../resources/images/default/s.gif" class="item-icon icon-config">Config Options</a>
                        <a class="bookmark" href="../docs/?class=Ext.menu.ColorItem"><img src="../resources/images/default/s.gif" class="item-icon icon-fav">Direct Link</a>
        </div>
                <div class="inheritance res-block">
<pre class="res-block-inner"><a ext:cls="Ext.util.Observable" ext:member="" href="output/Ext.util.Observable.html">Observable</a>
  <img src="resources/elbow-end.gif"/><a ext:cls="Ext.Component" ext:member="" href="output/Ext.Component.html">Component</a>
    <img src="resources/elbow-end.gif"/><a ext:cls="Ext.menu.BaseItem" ext:member="" href="output/Ext.menu.BaseItem.html">BaseItem</a>
      <img src="resources/elbow-end.gif"/><a ext:cls="Ext.menu.Adapter" ext:member="" href="output/Ext.menu.Adapter.html">Adapter</a>
        <img src="resources/elbow-end.gif"/>ColorItem</pre></div>
                <h1>Class Ext.menu.ColorItem</h1>
        <table cellspacing="0">
            <tr><td class="label">Package:</td><td class="hd-info">Ext.menu</td></tr>
            <tr><td class="label">Defined In:</td><td class="hd-info"><a href="../src/ColorItem.js" target="_blank">ColorItem.js</a></td></tr>
            <tr><td class="label">Class:</td><td class="hd-info">ColorItem</td></tr>
                                    <tr><td class="label">Extends:</td><td class="hd-info"><a ext:cls="Ext.menu.Adapter" ext:member="" href="output/Ext.menu.Adapter.html">Adapter</a></td></tr>
                    </table>
        <div class="description">
            A menu item that wraps the <a ext:cls="Ext.ColorPalette" href="output/Ext.ColorPalette.html">Ext.ColorPalette</a> component.        </div>
        
        <div class="hr"></div>
                <a id="Ext.menu.ColorItem-configs"></a>
        <h2>Config Options</h2>
        <table cellspacing="0" class="member-table">
            <tr>
                <th class="sig-header" colspan="2">Config Options</th>
                <th class="msource-header">Defined By</th>
            </tr>
                <tr class="config-row inherited">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-activeClass"></a>
            <b>activeClass</b> : String            <div class="mdesc">
                            The CSS class to use when the item becomes activated (defaults to "x-menu-item-active")                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#activeClass" href="output/Ext.menu.BaseItem.html#activeClass">BaseItem</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-allowDomMove"></a>
            <b>allowDomMove</b> : Boolean            <div class="mdesc">
                            Whether the component can move the Dom node when rendering (defaults to true).                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#allowDomMove" href="output/Ext.Component.html#allowDomMove">Component</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-applyTo"></a>
            <b>applyTo</b> : Mixed            <div class="mdesc">
                        <div class="short">The id of the node, a DOM node or an existing Element corresponding to a DIV that is already present in the document ...</div>
            <div class="long">
                The id of the node, a DOM node or an existing Element corresponding to a DIV that is already present in the document that specifies some structural markup for this component. When applyTo is used, constituent parts of the component can also be specified by id or CSS class name within the main element, and the component being created may attempt to create its subcomponents from that markup if applicable. Using this config, a call to render() is not required. If applyTo is specified, any value passed for <a ext:cls="Ext.Component" ext:member="renderTo" href="output/Ext.Component.html#renderTo">renderTo</a> will be ignored and the target element's parent node will automatically be used as the component's container.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#applyTo" href="output/Ext.Component.html#applyTo">Component</a></td>
    </tr>
        <tr class="config-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-autoShow"></a>
            <b>autoShow</b> : Boolean            <div class="mdesc">
                        <div class="short">True if the component should check for hidden classes (e.g. 'x-hidden' or 'x-hide-display') and remove them on render...</div>
            <div class="long">
                True if the component should check for hidden classes (e.g. 'x-hidden' or 'x-hide-display') and remove them on render (defaults to false).            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#autoShow" href="output/Ext.Component.html#autoShow">Component</a></td>
    </tr>
        <tr class="config-row inherited">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-canActivate"></a>
            <b>canActivate</b> : Boolean            <div class="mdesc">
                            True if this item can be visually activated (defaults to false)                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#canActivate" href="output/Ext.menu.BaseItem.html#canActivate">BaseItem</a></td>
    </tr>
        <tr class="config-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-cls"></a>
            <b>cls</b> : String            <div class="mdesc">
                        <div class="short">An optional extra CSS class that will be added to this component's Element (defaults to ''). This can be useful for a...</div>
            <div class="long">
                An optional extra CSS class that will be added to this component's Element (defaults to ''). This can be useful for adding customized styles to the component or any of its children using standard CSS rules.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#cls" href="output/Ext.Component.html#cls">Component</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-ctCls"></a>
            <b>ctCls</b> : String            <div class="mdesc">
                        <div class="short">An optional extra CSS class that will be added to this component's container (defaults to ''). This can be useful for...</div>
            <div class="long">
                An optional extra CSS class that will be added to this component's container (defaults to ''). This can be useful for adding customized styles to the container or any of its children using standard CSS rules.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#ctCls" href="output/Ext.Component.html#ctCls">Component</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-disabledClass"></a>
            <b>disabledClass</b> : String            <div class="mdesc">
                            CSS class added to the component when it is disabled (defaults to "x-item-disabled").                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#disabledClass" href="output/Ext.Component.html#disabledClass">Component</a></td>
    </tr>
        <tr class="config-row inherited">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-handler"></a>
            <b>handler</b> : Function            <div class="mdesc">
                            A function that will handle the click event of this menu item (defaults to undefined)                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#handler" href="output/Ext.menu.BaseItem.html#handler">BaseItem</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hideDelay"></a>
            <b>hideDelay</b> : Number            <div class="mdesc">
                            Length of time in milliseconds to wait before hiding after a click (defaults to 100)                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#hideDelay" href="output/Ext.menu.BaseItem.html#hideDelay">BaseItem</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hideMode"></a>
            <b>hideMode</b> : String            <div class="mdesc">
                        <div class="short">How this component should hidden. Supported values are "visibility" (css visibility), "offsets" (negative offset posi...</div>
            <div class="long">
                How this component should hidden. Supported values are "visibility" (css visibility), "offsets" (negative offset position) and "display" (css display) - defaults to "display".            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#hideMode" href="output/Ext.Component.html#hideMode">Component</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hideOnClick"></a>
            <b>hideOnClick</b> : Boolean            <div class="mdesc">
                            True to hide the containing menu after this item is clicked (defaults to true)                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#hideOnClick" href="output/Ext.menu.BaseItem.html#hideOnClick">BaseItem</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hideParent"></a>
            <b>hideParent</b> : Boolean            <div class="mdesc">
                        <div class="short">True to hide and show the component's container when hide/show is called on the component, false to hide and show the...</div>
            <div class="long">
                True to hide and show the component's container when hide/show is called on the component, false to hide and show the component itself (defaults to false). For example, this can be used as a shortcut for a hide button on a window by setting hide:true on the button when adding it to its parent container.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#hideParent" href="output/Ext.Component.html#hideParent">Component</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-id"></a>
            <b>id</b> : String            <div class="mdesc">
                            The unique id of this component (defaults to an auto-assigned id).                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#id" href="output/Ext.Component.html#id">Component</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-listeners"></a>
            <b>listeners</b> : Object            <div class="mdesc">
                        <div class="short">A config object containing one or more event handlers to be added to this object during initialization. This should b...</div>
            <div class="long">
                A config object containing one or more event handlers to be added to this object during initialization. This should be a valid listeners config object as specified in the <a ext:cls="Ext.util.Observable" ext:member="addListener" href="output/Ext.util.Observable.html#addListener">addListener</a> example for attaching multiple handlers at once.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#listeners" href="output/Ext.util.Observable.html#listeners">Observable</a></td>
    </tr>
        <tr class="config-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-plugins"></a>
            <b>plugins</b> : Object/Array            <div class="mdesc">
                        <div class="short">An object or array of objects that will provide custom functionality for this component. The only requirement for a v...</div>
            <div class="long">
                An object or array of objects that will provide custom functionality for this component. The only requirement for a valid plugin is that it contain an init method that accepts a reference of type Ext.Component. When a component is created, if any plugins are available, the component will call the init method on each plugin, passing a reference to itself. Each plugin can then call methods or respond to events on the component as needed to provide its functionality.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#plugins" href="output/Ext.Component.html#plugins">Component</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-renderTo"></a>
            <b>renderTo</b> : Mixed            <div class="mdesc">
                        <div class="short">The id of the node, a DOM node or an existing Element that will be the container to render this component into. Using...</div>
            <div class="long">
                The id of the node, a DOM node or an existing Element that will be the container to render this component into. Using this config, a call to render() is not required.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#renderTo" href="output/Ext.Component.html#renderTo">Component</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-scope"></a>
            <b>scope</b> : Object            <div class="mdesc">
                            The scope in which the handler function will be called.                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#scope" href="output/Ext.menu.BaseItem.html#scope">BaseItem</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-stateEvents"></a>
            <b>stateEvents</b> : Array            <div class="mdesc">
                        <div class="short">An array of events that, when fired, should trigger this component to save its state (defaults to none). These can be...</div>
            <div class="long">
                An array of events that, when fired, should trigger this component to save its state (defaults to none). These can be any types of events supported by this component, including browser or custom events (e.g., ['click', 'customerchange']).            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#stateEvents" href="output/Ext.Component.html#stateEvents">Component</a></td>
    </tr>
        <tr class="config-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-stateId"></a>
            <b>stateId</b> : String            <div class="mdesc">
                            The unique id for this component to use for state management purposes (defaults to the component id).                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#stateId" href="output/Ext.Component.html#stateId">Component</a></td>
    </tr>
        <tr class="config-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-style"></a>
            <b>style</b> : String            <div class="mdesc">
                        <div class="short">A custom style specification to be applied to this component's Element. Should be a valid argument to Ext.Element.app...</div>
            <div class="long">
                A custom style specification to be applied to this component's Element. Should be a valid argument to <a ext:cls="Ext.Element" ext:member="applyStyles" href="output/Ext.Element.html#applyStyles">Ext.Element.applyStyles</a>.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#style" href="output/Ext.Component.html#style">Component</a></td>
    </tr>
        <tr class="config-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-xtype"></a>
            <b>xtype</b> : String            <div class="mdesc">
                        <div class="short">The registered xtype to create. This config option is not used when passing a config object into a constructor. This ...</div>
            <div class="long">
                The registered xtype to create. This config option is not used when passing a config object into a constructor. This config option is used only when lazy instantiation is being used, and a child item of a Container is being specified not as a fully instantiated Component, but as a <i>Component config object</i>. The xtype will be looked up at render time up to determine what type of child Component to create.<br><br> The predefined xtypes are listed at the top of this document. <br><br> If you subclass Components to create your own Components, you may register them using <a ext:cls="Ext.ComponentMgr" ext:member="registerType" href="output/Ext.ComponentMgr.html#registerType">Ext.ComponentMgr.registerType</a> in order to be able to take advantage of lazy instantiation and rendering.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#xtype" href="output/Ext.Component.html#xtype">Component</a></td>
    </tr>
            </table>
                <a id="Ext.menu.ColorItem-props"></a>
        <h2>Public Properties</h2>
                <table cellspacing="0" class="member-table">
            <tr>
                <th class="sig-header" colspan="2">Property</th>
                <th class="msource-header">Defined By</th>
            </tr>
                <tr class="property-row inherited">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-disabled"></a>
            <b>disabled</b> : Boolean            <div class="mdesc">
                            True if this component is disabled. Read-only.                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#disabled" href="output/Ext.Component.html#disabled">Component</a></td>
    </tr>
        <tr class="property-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hidden"></a>
            <b>hidden</b> : Boolean            <div class="mdesc">
                            
True if this component is hidden. Read-only.                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#hidden" href="output/Ext.Component.html#hidden">Component</a></td>
    </tr>
        <tr class="property-row inherited">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-initialConfig"></a>
            <b>initialConfig</b> : Object            <div class="mdesc">
                            This Component's initial configuration specification. Read-only.                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#initialConfig" href="output/Ext.Component.html#initialConfig">Component</a></td>
    </tr>
        <tr class="property-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-ownerCt"></a>
            <b>ownerCt</b> : Ext.Container            <div class="mdesc">
                        <div class="short">The component's owner Ext.Container (defaults to undefined, and is set automatically when
the component is added to a...</div>
            <div class="long">
                The component's owner <a ext:cls="Ext.Container" href="output/Ext.Container.html">Ext.Container</a> (defaults to undefined, and is set automatically when
the component is added to a container).  Read-only.            </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#ownerCt" href="output/Ext.Component.html#ownerCt">Component</a></td>
    </tr>
        <tr class="property-row">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-palette"></a>
            <b>palette</b> : Ext.ColorPalette            <div class="mdesc">
                            The Ext.ColorPalette object                        </div>
        </td>
        <td class="msource">ColorItem</td>
    </tr>
        <tr class="property-row inherited alt">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-rendered"></a>
            <b>rendered</b> : Boolean            <div class="mdesc">
                            True if this component has been rendered. Read-only.                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#rendered" href="output/Ext.Component.html#rendered">Component</a></td>
    </tr>
            </table>
                <a id="Ext.menu.ColorItem-methods"></a>
        <h2>Public Methods</h2>
                <table cellspacing="0" class="member-table">
            <tr>
                <th class="sig-header" colspan="2">Method</th>
                <th class="msource-header">Defined By</th>
            </tr>
                <tr class="method-row expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-ColorItem"></a>
            <b>ColorItem</b>(&nbsp;<code>Object config</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Creates a new ColorItem</div>
            <div class="long">
                Creates a new ColorItem    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>config</code> : Object<div class="sub-desc">Configuration options</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code></code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource">ColorItem</td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-addClass"></a>
            <b>addClass</b>(&nbsp;<code>string cls</code>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Adds a CSS class to the component's underlying element.</div>
            <div class="long">
                Adds a CSS class to the component's underlying element.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>cls</code> : string<div class="sub-desc">The CSS class name to add</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#addClass" href="output/Ext.Component.html#addClass">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-addEvents"></a>
            <b>addEvents</b>(&nbsp;<code>Object object</code>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Used to define events on this Observable</div>
            <div class="long">
                Used to define events on this Observable    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>object</code> : Object<div class="sub-desc">The object with the events defined</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#addEvents" href="output/Ext.util.Observable.html#addEvents">Observable</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-addListener"></a>
            <b>addListener</b>(&nbsp;<code>String eventName</code>, <code>Function handler</code>, <span class="optional" title="Optional">[<code>Object scope</code>]</span>, <span class="optional" title="Optional">[<code>Object options</code>]</span>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Appends an event handler to this component</div>
            <div class="long">
                Appends an event handler to this component    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>eventName</code> : String<div class="sub-desc">The type of event to listen for</div></li><li><code>handler</code> : Function<div class="sub-desc">The method the event invokes</div></li><li><code>scope</code> : Object<div class="sub-desc">(optional) The scope in which to execute the handler
function. The handler function's "this" context.</div></li><li><code>options</code> : Object<div class="sub-desc">(optional) An object containing handler configuration
properties. This may contain any of the following properties:<ul>
<li>scope {Object} The scope in which to execute the handler function. The handler function's "this" context.</li>
<li>delay {Number} The number of milliseconds to delay the invocation of the handler after the event fires.</li>
<li>single {Boolean} True to add a handler to handle just the next firing of the event, and then remove itself.</li>
<li>buffer {Number} Causes the handler to be scheduled to run in an <a ext:cls="Ext.util.DelayedTask" href="output/Ext.util.DelayedTask.html">Ext.util.DelayedTask</a> delayed
by the specified number of milliseconds. If the event fires again within that time, the original
handler is <em>not</em> invoked, but the new handler is scheduled in its place.</li>
</ul><br>
<p>
<b>Combining Options</b><br>
Using the options argument, it is possible to combine different types of listeners:<br>
<br>
A normalized, delayed, one-time listener that auto stops the event and passes a custom argument (forumId)
<pre><code>el.on(<em>'click'</em>, <b>this</b>.onClick, <b>this</b>, {
    single: true,
    delay: 100,
    forumId: 4
});</code></pre>
<p>
<b>Attaching multiple handlers in 1 call</b><br>
The method also allows for a single argument to be passed which is a config object containing properties
which specify multiple handlers.
<p>
<pre><code>foo.on({
    <em>'click'</em> : {
        fn: <b>this</b>.onClick
        scope: <b>this</b>,
        delay: 100
    },
    <em>'mouseover'</em> : {
        fn: <b>this</b>.onMouseOver
        scope: <b>this</b>
    },
    <em>'mouseout'</em> : {
        fn: <b>this</b>.onMouseOut
        scope: <b>this</b>
    }
});</code></pre>
<p>
Or a shorthand syntax:<br>
<pre><code>foo.on({
    <em>'click'</em> : <b>this</b>.onClick,
    <em>'mouseover'</em> : <b>this</b>.onMouseOver,
    <em>'mouseout'</em> : <b>this</b>.onMouseOut
    scope: <b>this</b>
});</code></pre></div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#addListener" href="output/Ext.util.Observable.html#addListener">Observable</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-applyToMarkup"></a>
            <b>applyToMarkup</b>(&nbsp;<code>String/HTMLElement el</code>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Apply this component to existing markup that is valid. With this function, no call to render() is required.</div>
            <div class="long">
                Apply this component to existing markup that is valid. With this function, no call to render() is required.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>el</code> : String/HTMLElement<div class="sub-desc"></div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#applyToMarkup" href="output/Ext.Component.html#applyToMarkup">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-cloneConfig"></a>
            <b>cloneConfig</b>(&nbsp;<code>Object overrides</code>&nbsp;) : Ext.Component            <div class="mdesc">
                        <div class="short">Clone the current component using the original config values passed into this instance by default.</div>
            <div class="long">
                Clone the current component using the original config values passed into this instance by default.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>overrides</code> : Object<div class="sub-desc">A new config containing any properties to override in the cloned version.
An id property can be passed on this object, otherwise one will be generated to avoid duplicates.</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">clone The cloned copy of this component</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#cloneConfig" href="output/Ext.Component.html#cloneConfig">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-destroy"></a>
            <b>destroy</b>() : void            <div class="mdesc">
                        <div class="short">Destroys this component by purging any event listeners, removing the component's element from the DOM,
removing the c...</div>
            <div class="long">
                Destroys this component by purging any event listeners, removing the component's element from the DOM,
removing the component from its <a ext:cls="Ext.Container" href="output/Ext.Container.html">Ext.Container</a> (if applicable) and unregistering it from
<a ext:cls="Ext.ComponentMgr" href="output/Ext.ComponentMgr.html">Ext.ComponentMgr</a>.  Destruction is generally handled automatically by the framework and this method
should usually not need to be called directly.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#destroy" href="output/Ext.Component.html#destroy">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-disable"></a>
            <b>disable</b>() : Ext.Component            <div class="mdesc">
                        <div class="short">Disable this component.</div>
            <div class="long">
                Disable this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">this</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#disable" href="output/Ext.Component.html#disable">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-enable"></a>
            <b>enable</b>() : Ext.Component            <div class="mdesc">
                        <div class="short">Enable this component.</div>
            <div class="long">
                Enable this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">this</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#enable" href="output/Ext.Component.html#enable">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-fireEvent"></a>
            <b>fireEvent</b>(&nbsp;<code>String eventName</code>, <code>Object... args</code>&nbsp;) : Boolean            <div class="mdesc">
                        <div class="short">Fires the specified event with the passed parameters (minus the event name).</div>
            <div class="long">
                Fires the specified event with the passed parameters (minus the event name).    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>eventName</code> : String<div class="sub-desc"></div></li><li><code>args</code> : Object...<div class="sub-desc">Variable number of parameters are passed to handlers</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Boolean</code><div class="sub-desc">returns false if any of the handlers return false otherwise it returns true</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#fireEvent" href="output/Ext.util.Observable.html#fireEvent">Observable</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-focus"></a>
            <b>focus</b>(&nbsp;<span class="optional" title="Optional">[<code>Boolean selectText</code>]</span>, <span class="optional" title="Optional">[<code>Boolean/Number delay</code>]</span>&nbsp;) : Ext.Component            <div class="mdesc">
                        <div class="short">Try to focus this component.</div>
            <div class="long">
                Try to focus this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>selectText</code> : Boolean<div class="sub-desc">(optional) If applicable, true to also select the text in this component</div></li><li><code>delay</code> : Boolean/Number<div class="sub-desc">(optional) Delay the focus this number of milliseconds (true for 10 milliseconds)</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">this</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#focus" href="output/Ext.Component.html#focus">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-getEl"></a>
            <b>getEl</b>() : Ext.Element            <div class="mdesc">
                        <div class="short">Returns the underlying <a ext:cls="Ext.Element" href="output/Ext.Element.html">Ext.Element</a>.</div>
            <div class="long">
                Returns the underlying <a ext:cls="Ext.Element" href="output/Ext.Element.html">Ext.Element</a>.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Element</code><div class="sub-desc">The element</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#getEl" href="output/Ext.Component.html#getEl">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-getId"></a>
            <b>getId</b>() : String            <div class="mdesc">
                        <div class="short">Returns the id of this component.</div>
            <div class="long">
                Returns the id of this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>String</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#getId" href="output/Ext.Component.html#getId">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-getItemId"></a>
            <b>getItemId</b>() : String            <div class="mdesc">
                        <div class="short">Returns the item id of this component.</div>
            <div class="long">
                Returns the item id of this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>String</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#getItemId" href="output/Ext.Component.html#getItemId">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-getXType"></a>
            <b>getXType</b>() : String            <div class="mdesc">
                        <div class="short">Gets the xtype for this component as registered with Ext.ComponentMgr. For a list of all
available xtypes, see the Ex...</div>
            <div class="long">
                Gets the xtype for this component as registered with <a ext:cls="Ext.ComponentMgr" href="output/Ext.ComponentMgr.html">Ext.ComponentMgr</a>. For a list of all
available xtypes, see the <a ext:cls="Ext.Component" href="output/Ext.Component.html">Ext.Component</a> header. Example usage:
<pre><code>var t = <b>new</b> Ext.form.TextField();
alert(t.getXType());  // alerts <em>'textfield'</em></code></pre>    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>String</code><div class="sub-desc">The xtype</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#getXType" href="output/Ext.Component.html#getXType">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-getXTypes"></a>
            <b>getXTypes</b>() : String            <div class="mdesc">
                        <div class="short">Returns this component's xtype hierarchy as a slash-delimited string. For a list of all
available xtypes, see the Ext...</div>
            <div class="long">
                Returns this component's xtype hierarchy as a slash-delimited string. For a list of all
available xtypes, see the <a ext:cls="Ext.Component" href="output/Ext.Component.html">Ext.Component</a> header. Example usage:
<pre><code>
var t = new Ext.form.TextField();
alert(t.getXTypes());  // alerts 'component/box/field/textfield'</pre></code>    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>String</code><div class="sub-desc">The xtype hierarchy string</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#getXTypes" href="output/Ext.Component.html#getXTypes">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hasListener"></a>
            <b>hasListener</b>(&nbsp;<code>String eventName</code>&nbsp;) : Boolean            <div class="mdesc">
                        <div class="short">Checks to see if this object has any listeners for a specified event</div>
            <div class="long">
                Checks to see if this object has any listeners for a specified event    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>eventName</code> : String<div class="sub-desc">The name of the event to check for</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Boolean</code><div class="sub-desc">True if the event is being listened for, else false</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#hasListener" href="output/Ext.util.Observable.html#hasListener">Observable</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hide"></a>
            <b>hide</b>() : Ext.Component            <div class="mdesc">
                        <div class="short">Hide this component.</div>
            <div class="long">
                Hide this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">this</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#hide" href="output/Ext.Component.html#hide">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-isVisible"></a>
            <b>isVisible</b>() : void            <div class="mdesc">
                        <div class="short">Returns true if this component is visible.</div>
            <div class="long">
                Returns true if this component is visible.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#isVisible" href="output/Ext.Component.html#isVisible">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-isXType"></a>
            <b>isXType</b>(&nbsp;<code>String xtype</code>, <span class="optional" title="Optional">[<code>Boolean shallow</code>]</span>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Tests whether or not this component is of a specific xtype. This can test whether this component is descended
from th...</div>
            <div class="long">
                Tests whether or not this component is of a specific xtype. This can test whether this component is descended
from the xtype (default) or whether it is directly of the xtype specified (shallow = true). For a list of all
available xtypes, see the <a ext:cls="Ext.Component" href="output/Ext.Component.html">Ext.Component</a> header. Example usage:
<pre><code>var t = <b>new</b> Ext.form.TextField();
<b>var</b> isText = t.isXType(<em>'textfield'</em>);        <i>// true</i>
<b>var</b> isBoxSubclass = t.isXType(<em>'box'</em>);       <i>// true, descended from BoxComponent</i>
<b>var</b> isBoxInstance = t.isXType(<em>'box'</em>, true); // false, not a direct BoxComponent instance</code></pre>    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>xtype</code> : String<div class="sub-desc">The xtype to check for this component</div></li><li><code>shallow</code> : Boolean<div class="sub-desc">(optional) False to check whether this component is descended from the xtype (this is
the default), or true to check whether this component is directly of the specified xtype.</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#isXType" href="output/Ext.Component.html#isXType">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-on"></a>
            <b>on</b>(&nbsp;<code>String eventName</code>, <code>Function handler</code>, <span class="optional" title="Optional">[<code>Object scope</code>]</span>, <span class="optional" title="Optional">[<code>Object options</code>]</span>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Appends an event handler to this element (shorthand for addListener)</div>
            <div class="long">
                Appends an event handler to this element (shorthand for addListener)    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>eventName</code> : String<div class="sub-desc">The type of event to listen for</div></li><li><code>handler</code> : Function<div class="sub-desc">The method the event invokes</div></li><li><code>scope</code> : Object<div class="sub-desc">(optional) The scope in which to execute the handler
function. The handler function's "this" context.</div></li><li><code>options</code> : Object<div class="sub-desc">(optional)</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#on" href="output/Ext.util.Observable.html#on">Observable</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-purgeListeners"></a>
            <b>purgeListeners</b>() : void            <div class="mdesc">
                        <div class="short">Removes all listeners for this object</div>
            <div class="long">
                Removes all listeners for this object    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#purgeListeners" href="output/Ext.util.Observable.html#purgeListeners">Observable</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-removeClass"></a>
            <b>removeClass</b>(&nbsp;<code>string cls</code>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Removes a CSS class from the component's underlying element.</div>
            <div class="long">
                Removes a CSS class from the component's underlying element.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>cls</code> : string<div class="sub-desc">The CSS class name to remove</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#removeClass" href="output/Ext.Component.html#removeClass">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-removeListener"></a>
            <b>removeListener</b>(&nbsp;<code>String eventName</code>, <code>Function handler</code>, <span class="optional" title="Optional">[<code>Object scope</code>]</span>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Removes a listener</div>
            <div class="long">
                Removes a listener    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>eventName</code> : String<div class="sub-desc">The type of event to listen for</div></li><li><code>handler</code> : Function<div class="sub-desc">The handler to remove</div></li><li><code>scope</code> : Object<div class="sub-desc">(optional) The scope (this object) for the handler</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#removeListener" href="output/Ext.util.Observable.html#removeListener">Observable</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-render"></a>
            <b>render</b>(&nbsp;<span class="optional" title="Optional">[<code>Mixed container</code>]</span>, <span class="optional" title="Optional">[<code>String/Number position</code>]</span>&nbsp;) : void            <div class="mdesc">
                        <div class="short">If this is a lazy rendering component, render it to its container element.</div>
            <div class="long">
                If this is a lazy rendering component, render it to its container element.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>container</code> : Mixed<div class="sub-desc">(optional) The element this component should be rendered into. If it is being
applied to existing markup, this should be left off.</div></li><li><code>position</code> : String/Number<div class="sub-desc">(optional) The element ID or DOM node index within the container <b>before</b>
which this component will be inserted (defaults to appending to the end of the container)</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#render" href="output/Ext.Component.html#render">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-resumeEvents"></a>
            <b>resumeEvents</b>() : void            <div class="mdesc">
                        <div class="short">Resume firing events. (see <a ext:cls="Ext.util.Observable" ext:member="suspendEvents" href="output/Ext.util.Observable.html#suspendEvents">suspendEvents</a>)</div>
            <div class="long">
                Resume firing events. (see <a ext:cls="Ext.util.Observable" ext:member="suspendEvents" href="output/Ext.util.Observable.html#suspendEvents">suspendEvents</a>)    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#resumeEvents" href="output/Ext.util.Observable.html#resumeEvents">Observable</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-setDisabled"></a>
            <b>setDisabled</b>(&nbsp;<code>Boolean disabled</code>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Convenience function for setting disabled/enabled by boolean.</div>
            <div class="long">
                Convenience function for setting disabled/enabled by boolean.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>disabled</code> : Boolean<div class="sub-desc"></div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#setDisabled" href="output/Ext.Component.html#setDisabled">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-setHandler"></a>
            <b>setHandler</b>(&nbsp;<code>Function handler</code>, <code>Object scope</code>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Sets the function that will handle click events for this item (equivalent to passing in the handler
config property)....</div>
            <div class="long">
                Sets the function that will handle click events for this item (equivalent to passing in the <a ext:cls="Ext.menu.BaseItem" ext:member="handler" href="output/Ext.menu.BaseItem.html#handler">handler</a>
config property).  If an existing handler is already registered, it will be unregistered for you.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>handler</code> : Function<div class="sub-desc">The function that should be called on click</div></li><li><code>scope</code> : Object<div class="sub-desc">The scope that should be passed to the handler</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#setHandler" href="output/Ext.menu.BaseItem.html#setHandler">BaseItem</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-setVisible"></a>
            <b>setVisible</b>(&nbsp;<code>Boolean visible</code>&nbsp;) : Ext.Component            <div class="mdesc">
                        <div class="short">Convenience function to hide or show this component by boolean.</div>
            <div class="long">
                Convenience function to hide or show this component by boolean.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>visible</code> : Boolean<div class="sub-desc">True to show, false to hide</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">this</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#setVisible" href="output/Ext.Component.html#setVisible">Component</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-show"></a>
            <b>show</b>() : Ext.Component            <div class="mdesc">
                        <div class="short">Show this component.</div>
            <div class="long">
                Show this component.    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>Ext.Component</code><div class="sub-desc">this</div></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#show" href="output/Ext.Component.html#show">Component</a></td>
    </tr>
        <tr class="method-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-suspendEvents"></a>
            <b>suspendEvents</b>() : void            <div class="mdesc">
                        <div class="short">Suspend the firing of all events. (see <a ext:cls="Ext.util.Observable" ext:member="resumeEvents" href="output/Ext.util.Observable.html#resumeEvents">resumeEvents</a>)</div>
            <div class="long">
                Suspend the firing of all events. (see <a ext:cls="Ext.util.Observable" ext:member="resumeEvents" href="output/Ext.util.Observable.html#resumeEvents">resumeEvents</a>)    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li>None.</li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#suspendEvents" href="output/Ext.util.Observable.html#suspendEvents">Observable</a></td>
    </tr>
        <tr class="method-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-un"></a>
            <b>un</b>(&nbsp;<code>String eventName</code>, <code>Function handler</code>, <span class="optional" title="Optional">[<code>Object scope</code>]</span>&nbsp;) : void            <div class="mdesc">
                        <div class="short">Removes a listener (shorthand for removeListener)</div>
            <div class="long">
                Removes a listener (shorthand for removeListener)    <div class="mdetail-params">
        <strong>Parameters:</strong>
        <ul><li><code>eventName</code> : String<div class="sub-desc">The type of event to listen for</div></li><li><code>handler</code> : Function<div class="sub-desc">The handler to remove</div></li><li><code>scope</code> : Object<div class="sub-desc">(optional) The scope (this object) for the handler</div></li>        </ul>
        <strong>Returns:</strong>
        <ul>
            <li><code>void</code></li>
        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#un" href="output/Ext.util.Observable.html#un">Observable</a></td>
    </tr>
            </table>
                <a id="Ext.menu.ColorItem-events"></a>
        <h2>Public Events</h2>
                <table cellspacing="0" class="member-table">
            <tr>
                <th class="sig-header" colspan="2">Event</th>
                <th class="msource-header">Defined By</th>
            </tr>
                <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-activate"></a>
            <b>activate</b> : (&nbsp;<code>Ext.menu.BaseItem this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires when this item is activated</div>
            <div class="long">
                Fires when this item is activated    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.menu.BaseItem<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#event-activate" href="output/Ext.menu.BaseItem.html#event-activate">BaseItem</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-beforedestroy"></a>
            <b>beforedestroy</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires before the component is destroyed. Return false to stop the destroy.</div>
            <div class="long">
                Fires before the component is destroyed. Return false to stop the destroy.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-beforedestroy" href="output/Ext.Component.html#event-beforedestroy">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-beforehide"></a>
            <b>beforehide</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires before the component is hidden. Return false to stop the hide.</div>
            <div class="long">
                Fires before the component is hidden. Return false to stop the hide.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-beforehide" href="output/Ext.Component.html#event-beforehide">Component</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-beforerender"></a>
            <b>beforerender</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires before the component is rendered. Return false to stop the render.</div>
            <div class="long">
                Fires before the component is rendered. Return false to stop the render.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-beforerender" href="output/Ext.Component.html#event-beforerender">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-beforeshow"></a>
            <b>beforeshow</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires before the component is shown. Return false to stop the show.</div>
            <div class="long">
                Fires before the component is shown. Return false to stop the show.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-beforeshow" href="output/Ext.Component.html#event-beforeshow">Component</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-beforestaterestore"></a>
            <b>beforestaterestore</b> : (&nbsp;<code>Ext.Component this</code>, <code>Object state</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires before the state of the component is restored. Return false to stop the restore.</div>
            <div class="long">
                Fires before the state of the component is restored. Return false to stop the restore.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li><li><code>state</code> : Object<div class="sub-desc">The hash of state values</div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-beforestaterestore" href="output/Ext.Component.html#event-beforestaterestore">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-beforestatesave"></a>
            <b>beforestatesave</b> : (&nbsp;<code>Ext.Component this</code>, <code>Object state</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires before the state of the component is saved to the configured state provider. Return false to stop the save.</div>
            <div class="long">
                Fires before the state of the component is saved to the configured state provider. Return false to stop the save.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li><li><code>state</code> : Object<div class="sub-desc">The hash of state values</div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-beforestatesave" href="output/Ext.Component.html#event-beforestatesave">Component</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-click"></a>
            <b>click</b> : (&nbsp;<code>Ext.menu.BaseItem this</code>, <code>Ext.EventObject e</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires when this item is clicked</div>
            <div class="long">
                Fires when this item is clicked    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.menu.BaseItem<div class="sub-desc"></div></li><li><code>e</code> : Ext.EventObject<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#event-click" href="output/Ext.menu.BaseItem.html#event-click">BaseItem</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-deactivate"></a>
            <b>deactivate</b> : (&nbsp;<code>Ext.menu.BaseItem this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires when this item is deactivated</div>
            <div class="long">
                Fires when this item is deactivated    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.menu.BaseItem<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.menu.BaseItem" ext:member="#event-deactivate" href="output/Ext.menu.BaseItem.html#event-deactivate">BaseItem</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-destroy"></a>
            <b>destroy</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the component is destroyed.</div>
            <div class="long">
                Fires after the component is destroyed.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-destroy" href="output/Ext.Component.html#event-destroy">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-disable"></a>
            <b>disable</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the component is disabled.</div>
            <div class="long">
                Fires after the component is disabled.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-disable" href="output/Ext.Component.html#event-disable">Component</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-enable"></a>
            <b>enable</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the component is enabled.</div>
            <div class="long">
                Fires after the component is enabled.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-enable" href="output/Ext.Component.html#event-enable">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-hide"></a>
            <b>hide</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the component is hidden.</div>
            <div class="long">
                Fires after the component is hidden.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-hide" href="output/Ext.Component.html#event-hide">Component</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-render"></a>
            <b>render</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the component is rendered.</div>
            <div class="long">
                Fires after the component is rendered.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-render" href="output/Ext.Component.html#event-render">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-show"></a>
            <b>show</b> : (&nbsp;<code>Ext.Component this</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the component is shown.</div>
            <div class="long">
                Fires after the component is shown.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-show" href="output/Ext.Component.html#event-show">Component</a></td>
    </tr>
        <tr class="event-row inherited alt expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-staterestore"></a>
            <b>staterestore</b> : (&nbsp;<code>Ext.Component this</code>, <code>Object state</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the state of the component is restored.</div>
            <div class="long">
                Fires after the state of the component is restored.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li><li><code>state</code> : Object<div class="sub-desc">The hash of state values</div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-staterestore" href="output/Ext.Component.html#event-staterestore">Component</a></td>
    </tr>
        <tr class="event-row inherited expandable">
        <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
        <td class="sig">
        <a id="Ext.menu.ColorItem-statesave"></a>
            <b>statesave</b> : (&nbsp;<code>Ext.Component this</code>, <code>Object state</code>&nbsp;)            <div class="mdesc">
                        <div class="short">Fires after the state of the component is saved to the configured state provider.</div>
            <div class="long">
                Fires after the state of the component is saved to the configured state provider.    <div class="mdetail-params">
        <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
        <ul><li><code>this</code> : Ext.Component<div class="sub-desc"></div></li><li><code>state</code> : Object<div class="sub-desc">The hash of state values</div></li>        </ul>
    </div>
                </div>
                        </div>
        </td>
        <td class="msource"><a ext:cls="Ext.Component" ext:member="#event-statesave" href="output/Ext.Component.html#event-statesave">Component</a></td>
    </tr>
            </table>
        
        </div>