<?php
	$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
	$this->child_name = "Помощь";
	$this->name = "ProwebCms. Система управления сайтом";
?>
<div style="padding-left:50px">
В общих чертах, процесс содержания сайта состоит из трёх шагов: начальное планирование, создание сайта и его поддержка (обновление).

Планирование является важным этапом. Вы должны обдумать все детали, касающиеся вашего будущего сайта. Во-первых, нужно определиться с местом, где будет храниться сайт или - говоря компьютерным языком - найти хостинг для него. Во-вторых, вы должны решить, что вы хотите видеть на вашем сайте и подготовить все требуемые данные. 

Следующий этап — это непосредственно создание сайта на основе системы ProwebCMS. Он включает в себя настройку параметров, создание шаблонов и наполнение сайта содержимым.

После этого сайт готов. Вы можете распространять его адрес среди клиентов или рекламировать иными средствами. Однако, любой сайт требует поддержки. Вам может потребоваться добавить страницу, исправить какие-либо сведения о старых продуктах или добавить информацию о новых и т. д. Это третий этап содержания сайта. Также вы можете следить за статистикой посещений вашего сайта людьми.

Для создания сайта на ProwebCMS потребуется готовый дизайн сайта и навыки в вёрстке HTML. 
 
Для админиcтрирования сайта на ProwebCMS достаточно средних навыков пользователя ПК.
<h5>
Создание шаблона
</h5>
Все шаблоны находятся в папке application/layouts/scripts. 
В каждом из них доступна php-переменная $this. При обращении к ней подключается зарегистрированная часть шаблона, которая находится в папке application/modules/default/views/scripts/template.
Например, echo $this->header выведет содержимое файла header.phtml, который можно менять.
Во всех шаблонах доступна функция перевода на несколько языков каких-либо фраз. Для того, чтобы язык фразы определялся автоматически и вставлялась соответствующая - надо написать, например:echo this->translate('traffic'); Она выведет значение переменной traffic на соответстыующем языке. Все переменные, их значения и переводы хранятся в application/languages. <br /><span style ="color:red" >Для правильного понимания русской кодировки все файлы следует сохранять в UTF-8!</span> <br />
Здесь имя переменной и ее значение отделены знаком ';'.
<br />
Также в шаблонах доступны следующие переменные и функции:
<ul>
<li>
$this->page - хранит информацию о текущей странице. Поля - id, content, name, path, parentId... Обращаться к ним нужно так: echo $this->page->id;
</li>
<li>
$this->lang - хранит информацию о текущей языковой версии - 'ru', 'en'...
</li>
<li>
$this->menu(тип, язык) - получает вложенный массив, в котором первый элемент - массив элементов первого уровня, второй - второго. Типы - vertical_menu, horizontal_menu. 
</li>
</ul>
<h5>
Header
</h5>
В этом файле доступна php - переменная $this->options, которая хранит сгенерированные при создании страницы из админки HTML-тэги: h1, description....Соответственно, для того чтобы их вывести - надо написать, например: echo $this->options->title;
<h5>
Файлы комментариев. 
</h5>
<p>Для каждого шаблона создается одноименный файл комментариев. Он находится в application/layouts/comments и имеет четкую структуру.
Это - XML файл в кодировке UTF-8, в котором есть обязательные тэги - <name> и <module>, означающие соответственно имя шаблона на русском языке (испоотзуется в админке в списке доступных шаблонов), и имя модуля, которому этот шаблон предназначается. Остальные тэги - опциональные - автор, номер версии.
</p>
<p>
Для каждого модуля тоже существует свой файл комментариев, который находится в папке модуля (application/modules/имя_модуля) и имеет имя comments.xml. Он также имеет обязательные поля - name - имя модуля на русском языке - и description - описание модуля, появляющееся при наведении мышью на имя модуля в админке.
</p>
<h5>
Модуль обратной связи.
</h5>
Этот модуль предназначен для построения различных форм, их проверки и отправки. В шаблоне, принадлежащем этому модулю, доступны следующие возиожности.
Имена полей начинаются с имени фильтра и знака '_'. Например, text_company - означает, что это поле является текстом (может содержать любые символы и пробелы), email_pochta - поле типа email и тд. Форма отправляется на адресс, соответствующий именис страницы, данному в админке при создании.
</div>