<div style="padding: 12px">
<p>Для того чтобы редактировать структуру сайта, выберите в главном меню пункт Структура. Откроется страница, отображающая древовидную структуру всего сайта. Здесь можно добавлять, удалять и перемещать страницы.</p>
<p>CMS позволяет строить структуры с любым уровнем вложенности. В самом верху показан домен, которым управляет система, под ними показано дерево разделов и подразделов сайта (домена).</p>
<p>Это дерево также служит в качестве удобного и быстрого навигационного средства.</p>
<p>Для дополнительного удобства все основные разделы представлены набором индивидуальных пиктограмм:</p>
<p>
<img src="/extjs/resources/images/default/tree/elbow-end-plus-nl.gif"/>
Развернуть уровень
</p>
<p>
<img src="/extjs/resources/images/default/tree/elbow-end-minus-nl.gif"/>
Свернуть уровень
</p>
<p>
<img src="/images/search.gif"/>
Просмотреть страницу на сайте.
</p>
<p>
<img src="/images/plus_b.gif"/>
Создать копию. При нажатии будет создана реальная копия страницы, редактирование которой никак не отразится на исходном оригинале.
</p>
<p>
<img src="/images/krug.gif"/>
Страница видима посетителям сайта. Нажатие на иконку скроет страницу с сайта. (Она не будет удалена).
</p>
<p>
<img src="/images/black_krug.gif"/>
Страница скрыта. Нажмите, чтобы страница снова появилась на сайте.
</p>
<p>
<img src="/images/plus_krug.gif"/>
Добавить дочернюю страницу.
</p>
<p>
<img src="/images/redact.gif"/>
Редактировать страницу.
</p>
<p>
<img src="/images/delete.gif"/>
Удалить страницу.
</p>
<br/>
<hr/>
<p>Перемещать страницы и разделы можно мышью (drag&drop).</p>
<p>Наведите курсор на страницу, которую хотите переместить, нажмите и удерживайте левую кнопку мыши.</p>
<p>Переместите страницу движением мыши и отпустите кнопку. Если отпустить кнопку над названием другой страницы, перемещаемая страница станет дочерней.</p>
</div>
