<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/CatalogDivision/' class='blue'>Каталог</a>";
$this->child_name = "Технические поля";
$this->name = "Добавить поле";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item input.text {width:100%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center;}
</style>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/<?=$this->currentModul?>">техические поля</a></td>
							
							<td class="active">Добавить поле</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							
							
							<div style="padding-left:20px; padding-top:5px;">

							
							
							<form method="post" action="/admin/<?=$this->currentModul?>/add/"  >
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main"><b>Название</b></td>
									<td ><input type="text" class="text" size="90" name="add[name]" value="" /></td>
									
								</tr>
								<tr>
									<td class="main" ><b>Тип поля</b></td>
									<td ><select name="add[type]"  >
											<option value="input">поле для ввода</option>
										 </select>
									</td>
								</tr>
								<input type="hidden" name="add[division_id]" value="<?=$this->div_id?>">
								<tr>
									<td class="main" ><b>Приоритет</b></td>
									<td ><input  type="text" name="add[sortid]" size="10" value="0"></td>
								</tr>
								
								
								<tr>
									<td  colspan="2" align="right" ><input value="Сохранить" type="submit"  />&nbsp;&nbsp;&nbsp;</td>
									
								</tr>
								
							</table>
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
