<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/CatalogDivision/' class='blue'>Каталог</a>";
$this->child_name = "Технические поля";
$this->name = "Список полей";
?>


<style>

table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse }
.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
.item input.text {width:100%; }
.item textarea.text {width:100%; }
.item td.main {text-align:center;}
</style>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">техические поля</td>
							
							<td class="normal"><a href="/admin/<?=$this->currentModul?>/add/">Добавить поле</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							
							
							<div style="padding-left:20px; padding-top:5px;">
							<form method="post" action="/admin/<?=$this->lang?>/CatalogDivision/edit/id/<?=$this->item->id?>/"  >
							<table class="item"  cellspacing="0" cellpadding="0" >
								<tr >
									<td class="main"><b>Название</b></td>	
									<td class="main"><b>Тип</b></td>
									<td class="main"><b>Действия</b></td>								
									
								</tr>
								<?foreach($this->teh_fields as $data):?>
								<tr>
									<td><?=$data->name?></td>
									<td><?=$data->type?></td>
									<td><a href="/admin/<?=$this->currentModul?>/editfield/fid/<?=$data->id?>" title="редактировать" ><img src="/images/redact.gif"></a>&nbsp;&nbsp;<a href="/admin/<?=$this->currentModul?>/delfield/fid/<?=$data->id?>" title="Удалить"><img src="/images/delete.gif"></a></td>
								</tr>
								<?endforeach;?>
								
							</table>
							</form>
							</div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
