<?php
	$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
	$this->child_name = "Все пользователи";
	$this->name = "Все пользователи";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Пользователи</td>
							<td class="normal"><a href="/admin/all/users/add/">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Пользователь</td>
									<td>E-mail</td>
									<td>Активность</td>
									<td>Редактировать</td>
									<td>Удалить</td>
								</tr>
								<?php
									foreach ($this->users as $key => $data){
										?>
											<tr>
												<td class="le_config">
													<a href='/admin/all/users/edit/id/<?=$data->id?>/'><strong><?=$data->username?></strong><br />
													<?=$data->lastName?> <?=$data->lastName?></a>
												</td>
												<td class="active_config">
													<strong><?=$data->email?></strong>
												</td>
												<td class="corr_config">
													<?php
													if($data->activity == 1)
													{
														?>
															<a href = '/admin/all/users/unactivate/id/<?=$data->id?>/'><img src="/images/krug.gif"></a>
														<?php
													}
													else
													{
														?>
															<a href = '/admin/all/users/activate/id/<?=$data->id?>/'><img src="/images/black_krug.gif"></a>
														<?php
													}
													?>						
												</td>
												<td class="edit_config">
													<a href = '/admin/all/users/edit/id/<?=$data->id?>/'><img src="/images/redact.gif" /></a>
												</td>
												<td class="del_config">
													<?php 
													if($data->deletable == '1')
													{
														?>
															<a href = '/admin/all/users/delete/id/<?=$data->id?>/'><img src="/images/delete.gif"></a>
														<?php
													}
													?>
												</td>
											</tr>
										<?php
									}
								?>
							</table>
							
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
