<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/consalting/' class='blue'>Консалтинг</a>";
$this->child_name = "Страницы";
$this->name = "Вопросы ответы";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							
							<td class="active"><a href="/admin/ru/consalting">Назад</a></td>
							<td class="normal"><a href="/admin/ru/consalting/addvopros/">Добавить</a></td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название</td>
									<td>Редактировать </td>
									<td>Активность</td>
									<td>Удалить</td>
								</tr>
								<?php
									foreach ($this->all as $key => $data){
										
										?>
											<tr>
												<td class="le_config">
													<a href ='/admin/<?=$this->lang?>/consalting/editv/id/<?=$data->id?>/'><strong><?=$data->vopros?></strong></a>
													
												</td>
												
												<td class="edit_config">
													<a href = '/admin/<?=$this->lang?>/consalting/editv/id/<?=$data->id?>/'><img src="/images/redact.gif" /></a>
												</td>
												
												<td class="corr_config">
													<?php
													if($data->approved == 1)
													{
														?>
															<a href = '/admin/<?=$this->lang?>/consalting/unactivatev/id/<?=$data->id?>/'><img src="/images/krug.gif"></a>
														<?php
													}
													else
													{
														?>
															<a href = '/admin/<?=$this->lang?>/consalting/activatev/id/<?=$data->id?>/'><img src="/images/black_krug.gif"></a>
														<?php
													}
													?>						
												</td>
												
												<td class="del_config">
													<a href = '/admin/<?=$this->lang?>/consalting/deletev/id/<?=$data->id?>/' onclick="return confirm('Вы уверены?');" title="Удалить"><img src="/images/delete.gif"></a>
												</td>
											</tr>
										<?php
									}
								?>
							</table>
							
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
