<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
	"\<a href='/admin/$this->lang/consalting/' class='blue'>Консалтинг</a>";
$this->child_name = "Редактировать вопрос";
$this->name = "Редактировать вопрос";
?>
<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="/admin/all/consalting/allv">Вопросы</a></td>							
							<td class="active">Редактировать</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>
						<form method="post">
							<table id="vopros_table" cellspacing="2" cellpadding="2" border="0" style="margin-left:20px;">
								<?if($this->error){?>
									<tr>
									<td colspan="2" >
										<font color="red">Ошибка! Не заполнено поле "Вопрос"</font>
									</tr>
								<?}?>
								<tr>
									<td class="q_name"><b>Дата (дд.мм.гггг)</b></td>
									<td >
									<input name="add[added]"  value="<?=$this->vopros->added ?>">
								</td>
								<tr>
								<td class="q_name"><b>Вопрос</b></td>
									<td >
										<textarea name="add[vopros]" cols="60" WRAP="virtual" ><?=$this->vopros->vopros?></textarea>
									</td>
								</tr>
								
								<input type="hidden" value="<?=$this->vopros->id?>" name="vopros_id" />											
								<tr>	
									<td class="q_name" valign="top"><b>Ответ</b></td>
									<td >
										
										<?php 
										$this->fck->Value = $this->vopros->otvet;		
										$this->fck->Create();	
									?>	
									</td>
								</tr>
								<tr>
									<td class="q_name"><b>Приоритет</b></td>
									<td ><input type="text" name="add[prior]" size="3" value="<?=$this->vopros->prior?>" /></td>
								</tr>
								<tr >
									<td colspan="2" class="right"><input type="submit" value="Сохранить" /></td>
								</tr>
							</table>
						</form>
						</div>
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
