
<ul id="menu">
	<li>
		<a href="#">Модули</a>
		<ul class="menu_bot">			
			<!--<li><a href="/admin/<?=$this->lang?>/places/" title="Реклама">Реклама</a></li>-->
			<?foreach ($this->modulesList as $key => $data){?>
				<li><a href="/admin/<?=$this->lang?>/<?=$key?>/" title="<?=$data['description']?>"><?=$data['name']?></a></li>
            <?}?>
			<li><a href="/admin/all/baners/">Слайдер</a></li>
            <li><a href="/admin/all/seo/">SEO модуль</a></li>
		</ul>
	</li>

	<li>
		<a href="/admin/all/users/users-list-all/">Профиль</a>
	</li>
	
	<li>
		<a href="/">На сайт</a>
	</li>
	<li>
		<a href="/admin/all/basket/">Мусорная корзина</a>
	</li>
	<?/*<li>
		<a href="#">Языковая версия</a>
		<ul class="menu_bot">
			<?php
			foreach ($this->versions as $key => $data){
				?>
				<li><a href="/admin/<?=$data->name?>/pages/"><?=$data->title?></a></li>
				<?php
				
			}
			?>
			<li><a style="color:#5DD5E3" href="/admin/all/pages/newlang/">Добавить</a></li>
		</ul>
	</li>*/?>
	<li>
		<a href="/admin/ru/help/">Помощь</a>
	</li>
</ul>
