<?php
	$this->parent_name = "<a href='/admin/all/' class='blue'>Главная</a>";
	$this->child_name = "Новости";
	$this->name = "Добавить новость";
?>


	




<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="<?=$this->currentModul?>/items">Акции</a></td>
							<td class="active">Добавить</td>
						</tr>
					</table>
				</div>
				
				<div id="company_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						
						<div id="redactor_content">
						
						<form  method="post">
							<!--<table id="news_table" cellspacing="0" cellpadding="0" border="0">-->
							<div style="padding-left:20px">
							<b>Название акции:</b> <input type="text" name="new[name]" size="50" />
								<div style='margin-left: 14px; margin-top:7px; width: 80%; height: 1px; background-color: #000;'><!-- --></div>
								<b>Активна</b> <input type="checkbox"  name="new[pub]" <? (isset($this->new->pub) && $this->new->pub==1) ? 'checked="checked"' : '' ?> />&nbsp;<b>Отображать на главной</b>&nbsp;<input type="checkbox" name="new[main]" <? (isset($this->new->main) && $this->new->main==1) ? 'checked="checked"' : '' ?> /><br/>
								<b>Анонс:</b><br/>
									<div style="width: 750px;">
										<?php $this->fck_intro->Create();	?>	
									</div>	
									
									<div style='margin-left: 14px; margin-top:7px; width: 80%; height: 1px; background-color: #000;'><!-- --></div>
								<b>Тело:</b><br/>
								<div style="width: 750px;">
										<?php $this->fck_content->Create();	?>	
									</div>
									<div style="padding-left:60%"><input type="submit" value="Создать" /></div>
							</div>
							
							<div class="clear"><!-- --></div>		
				
						
  
</div>
		<div class="clear"><!-- --></div>

						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
    


