﻿<?php
	$this->parent_name = "<a href='/admin/all/' class='blue'>Главная</a>";
	$this->child_name = "Акции";
	$this->name = "Добавить акцию";
?>


	




<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="normal"><a href="<?=$this->currentModul?>/items/">Акции</td>
							<td class="active">Добавить</td>
						</tr>
					</table>
				</div>
				
				<div id="company_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
							
							<div class="clear"><!-- --></div>	
				
						<form  method="post">
							<!--<table id="news_table" cellspacing="0" cellpadding="0" border="0">-->
							<div style="padding-left:20px">
								<b>Название новости:</b> <input type="text" name="new[name]" value="<?=$this->new->name?>" size="50" />
								<div style='margin-left: 14px; margin-top:7px; width: 85%; height: 1px; background-color: #000;'><!-- --></div>
								<b>Активна</b> <input type="checkbox"  name="new[pub]" <? echo ((isset($this->new->pub) && $this->new->pub==1) ? 'checked="checked"' : '' )?> />&nbsp;<b>Отображать на главной</b>&nbsp;<input type="checkbox" name="new[main]" <? echo ((isset($this->new->main) && $this->new->main==1) ? 'checked="checked"' : '' )?> /><br/>
								<b>Анонс:</b><br/>
									<div style="width: 750px;">
                    <?$this->fck_intro->Value = $this->new->intro?>
										<?php $this->fck_intro->Create();	?>	
									</div>	
								<div style='margin-left: 14px; margin-top:7px; width: 85%; height: 1px; background-color: #000;'><!-- --></div>
								<b>Тело:</b><br/>
								<div style="width: 750px;">
                     <?$this->fck_content->Value = $this->new->content?>
										<?php $this->fck_content->Create();	?>	
									</div>
									<div style="padding-left:70%"><input type="submit" value="Сохранить" /></div>
									
							</div>
						</form>

</div>
						
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>



