<?if ($this->list && count($this->list)>0){ ?>
	<div class="arhiv">
		<?foreach ($this->list as $item){ ?>
		
			<p><?=$item->name?> <i> <?=$item->fromDbDate()?></i> <br>
	          <a href="/work/work_id/<?=$item->work_id?>"> Подробнее о проекте </a></p>
		<?} ?>
	</div>
	
	<!-- Навигация по страницам -->

	<?if ($this->pagesCount>1){ ?>
		 <div class="spisok_str">
		 		<?if ($this->page_num > 1) {?>
		 			<a href="<?=$this->currentUrl ?>page/<?=$this->page_num-1 ?>" class="spisok_str_left" title="Предыдущая страница">&nbsp;</a>
		 		<?} ?>
					<?for ( $i=1; $i<$this->pagesCount+1; $i++){?>
						<?if ($i==$this->page_num) {?>
							<span><?=$i?></span>
						<?} else {?>
							<a href="<?=$this->currentUrl ?>page/<?=$i ?>"><?=$i ?></a>
						<?} ?>
					<?} ?>
				<?if ($this->page_num < $this->pagesCount) {?>	
					<a href="<?=$this->currentUrl ?>page/<?=$this->page_num+1?>" class="spisok_str_right" title="Следующая страница">&nbsp;</a>
				<?} ?>
		</div>
	<?} ?>
<?} ?>