﻿<!-- container-->
<div id="container">
    <!-- content-->

    <div id="content" class="home">
        <div class="inner">
            <?if(count($this->result)>0){?>

                             <div class="product_list">
                               <?foreach ($this->result as $tovar){?>
                                <div class="item">
                                    <div class="block">
                                        <div class="left_bg">
                                            <div class="right_bg">
                                                <div class="top_l">
                                                    <div class="bottom_l">
                                                        <div class="top_r">
                                                            <div class="bottom_r">
                                                                <div class="in">
                                                                    <div class="photo <?if($tovar->show_3dmodel){echo('list_3d');}?>">
                                                                    <?if($tovar->show_3dmodel){?>
                                                                        <span class="icon-list-3d"></span>
                                                                    <?}?>
                                                                        <img alt="" src="/pics/catalog/tovar/<?=$tovar->img_small?>"/>
                                                                    </div>
                                                                    <a prod_id="<?=$tovar->id?>" add_to_cart='true' href="#" class="cart">Купить</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text_bl">
                                        <a class="head" href="katalog/tovar/<?=$tovar->id?>/"><?=$tovar->name ?></a>
                                         <span class="price"> Цена:
                                            <?if ($tovar->oldprice != '0'){?>
                                                <span class="oldprice"><?=$tovar->oldprice?> руб.</span><br>
                                            <?}?>

                                            <span>
                                            <i> <?=$tovar->price?></i>
                                                руб.
                                            </span>
                                        </span>
                                        <p><?=$tovar->intro ?></p>
                                        <a class="read_more" href="katalog/tovar/<?=$tovar->id?>/">Подробнее</a>
                                    </div>
                                </div>
                                <?} ?>
                            </div>
                            <?} 
                            else {?>
                                <h3>По Вашим параметрам товары не найдены.</h3>
                            <?}?>


        </div>
        <!-- End content-->
    </div>
</div>
<!-- End container-->
