<? if (count($this->aCompareTovars)>0) {?>
                        <div  class="CompareControler">
                            <h2>Сравнение</h2>
                            <div class="Items">
                                <ul>
                                <? foreach ($this->aCompareTovars as $aItem){?>
	                               <li><a href="/catalogtovar/tovar/tovarid/<? echo $aItem['tovar']->id;?>"><? echo $aItem['tovar']->name; ?></a>
	                               <a href="#" onclick="deletetovar(<?=$aItem['tovar']->id;?>); return false;"><img src="/ima/Icon.Kross.gif" alt="" /></a></li>
                                <? } ?>
                                </ul>
                            </div>
                            <div class="Control">
                                <ul>
                                    <li><a href="/compare"><img src="/ima/Button.doCompare.png" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <? } ?>