<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/extjs/my.css" />
<!--<link rel="stylesheet" type="text/css" href="/extjs/examples.css" />-->

<script type="text/javascript" src="/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/extjs/ext-all.js"></script>
<script type="text/javascript" src="/extjs/examples.js"></script>
<style type="text/css">

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
	</style>
<script>

	
Ext.onReady(function(){
	
	


    

    

Ext.MessageBox.buttonText.yes = "Да";
Ext.MessageBox.buttonText.no = "Не знаю";
Ext.MessageBox.buttonText.cancel = "Передумал";

 
    Ext.get('mb3').on('click', function(e){
        Ext.MessageBox.show({
           title:'Очистка корзины',
           msg: 'Вы действительно хотите очистить корзину?',
           buttons: Ext.MessageBox.YESNOCANCEL,
           fn: showResultAll,
           animEl: 'mb3',
           icon: Ext.MessageBox.QUESTION
       });
    });

	function showResultAll(btn){
       if(btn == 'yes'){
       		Ext.example.msg('Корзина очищена','',btn);
       		window.location = '/admin/all/basket/clear/';
       }
       
       if(btn == 'no'){
       		var rand_no = Math.random();
       		
       		if(rand_no > 0.5){
       			window.location = '/admin/all/basket/clear/';
       			//alert('yes');
       		}
       }
        
       if(btn == 'cancel'){
       		
       			
       }
        
    };
    
   
    
});

</script>

<script>
var delid;
var page;

Ext.MessageBox.buttonText.yes = "Да";
Ext.MessageBox.buttonText.no = "Не знаю";
Ext.MessageBox.buttonText.cancel = "Передумал";
	
	function go(id,name){
		
		delid=id;
		page=name;
		
		Ext.MessageBox.show({
           title:'Удаление страницы '+page,
           msg: 'Вы действительно хотите удалить страницу? '+page,
           buttons: Ext.MessageBox.YESNOCANCEL,
           fn: showResult,
           animEl: 'mb4',
           icon: Ext.MessageBox.QUESTION
       });
	}

	 function showResult(btn){
							
					       if(btn == 'yes'){
					       		Ext.example.msg('Страница удалена', page, btn);
					       		window.location = "/admin/all/basket/delete/id/"+delid+"/";
					       }
					       
					       if(btn == 'no'){
					       		var rand_no = Math.random();
					       		
					       		if(rand_no > 0.5){
					       			Ext.example.msg('Страница удалена', page, btn);
					       			window.location = '/admin/all/basket/delete/id/' +  + '/';
					       			
					       		}
					       }
					        
					       if(btn == 'cancel'){
					       		
					       			
					       }
					        
					    };


function test(id)
{   delid=id ;
	alert('test '+delid);
}
					    
						</script>
<table>
<tr>
<td>
<img src='/images/trash.gif' />
</td>
<td>
<p id="mb3">
<a href='#' class='blue'>Очистить</a>	
</p>
</td>
</tr>

</table>
				<div id="basket_main_head">
						<div class="basket_head">
							<div class="left_y"><!-- --></div>
							<div class="basketbg_longer">
								<div class="delel_span">Удаленные элементы</div>
								<div class="date_span">Дата удаления</div>
								<div class="re_span">Восстановить</div>
								<div class="del_span">Удалить</div>
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
					
					<table id="basket_table" cellspacing="0" cellpadding="0" border="0">
						<?php
						foreach ($this->pages as $key=>$data){
						?>
						
						<tr>
							<td class="delel_span"><?=$data->name?><br /><td>
							<td class="date_span"><?=$data->unpubDate?>&nbsp;<td>
							
							<td class="re_span"><a href='/admin/all/basket/restore/id/<?=$data->id?>'><img src='/images/trash_restore.gif'></a>&nbsp;<td>
							<td class="del_span">
								<!--<p id="mb4"><img src='/images/ico_del.gif'onClick="go(<?//=$data->id?>);" /></p>-->
								<img src="/images/ico_del.gif" onclick="go(<?=$data->id?>,'<?=$data->name?>');" />
							<td>
						</tr>
						<?php	
						}
						?>
					</table>
					
<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
$this->child_name = "КОРЗИНА";
$this->name = "Корзина";
?>