<!-- container-->
<div id="container">
    <!-- content-->
    <div id="content" class="home">
        <div class="inner">

            <div class="block_blue head">
                <div class="left_bg">

                    <div class="right_bg">
                        <div class="top_l">
                            <div class="bottom_l">
                                <div class="top_r">
                                    <div class="bottom_r">
                                        <div class="in">

                                            <!--block content-->
                                            <h1>Корзина</h1>

                                            <!--End block content-->
                                        </div>
                                    </div>
                                </div>
                            </div></div></div></div></div>

            <!--End head-->
            <div class="cart_page">
                <? if (count($this->items) != 0) {?>
                <?if(isset($this->message)){?>
                    <span class="red" style="font-size: larger; color: red"><?=$this->message?></span>
                <?}?>
                <h3>1. Пожалуйста, проверьте информацию о вашем заказе.</h3>
                <form name="form" class="form" method="post">
                <table width="100%" border="0" cellspacing="3" cellpadding="0" id="cart_table">
                    <tr>

                        <th>№</th>
                        <th>Название товара</th>
                        <th>Кол-во</th>
                        <th>Цена, руб.</th>
                        <th>Итого</th>
                        <th>Удалить</th>

                    </tr>
                    <? $sum = 0; $i=0;?>
                    <? foreach ($this->items as $item) {?>
                    <tr zakaz_id="<?=$i+1?>">
                        <td><?= ++$i; ?></td>
                        <td><a href="<?=$this->baseUrl()?>katalog/tovar/<?=$item['id']?>/"><?=$item['name']?></a></td>
                        <td><input add_to_cart="true" prod_id="<?=$item['id']?>" id="<?=$i?>" name="textfield[]" type="text" price="<?=$item['price']?>" class="col" value="<?=$item['count']?>"/></td>
                        <td><?=$item['price']?></td>
                        <td total_cost="true" id="zak<?=$i?>"><?=$item['total_price']?></td>
                        <td><a href="#" class="delete" del_zak="<?=$i?>" pr_id="<?=$item['id']?>"><img src="img/ico_delete.gif" alt="" width="11" height="11" /></a></td>
                    </tr>

                    <?
                        $sum+=$item['total_price'];
                    }?>      
                </table>
                <div class="itogo">Итоговая стоимость с учетом доставки, руб.: <?=$sum+20000?></div>
                <div class="button_cart"><div class="clear"></div></div>


                
                <h3>2. Заполните форму заказа и нажмите кнопку "отправить заказ".</h3>
                
                    <div class="inputitem">
                        <label for="name">Ваше имя*:</label>
                        <input name="name" type="text" class="input" value="" />
                    </div>
                    <div class="inputitem">
                        <label for="phone">Контактный телефон*:</label>
                        <input name="phone" type="text" class="input"  value="" />
                    </div>
                    <div class="inputitem">
                        <label for="email">E-mail:</label>
                        <input name="email" type="text" class="input"  value="" />
                    </div>
                    <div class="inputitem">
                        <label for="addres">Адрес для доставки:</label>
                        <input name="addres" type="text" class="input"  value=""/>
                    </div>
                    <div class="inputitem">
                        <label for="body">Дополнительная информация:</label>
                        <textarea name="body" cols="" rows=""  class="textarea" ></textarea>
                    </div>
                    <div class="button_cart"><input name="" type="submit" value="Отправить заказ" class="send_button" /><div class="clear"></div></div>

                </form>
                <?}
                 else {?>
                    <h3>В вашей корзине нет товаров</h3>
                <?}?>
            </div>

        </div>



    </div>
    <!-- End content-->
</div>


<script type="text/javascript">
    function total_price(){
        var total = 0;
        $("td[total_cost]").each(function(){
                total  = total+ $(this).text()*1;
        });
		total = total + 8;
        $(".itogo").text("Итоговая стоимость с учетом доставки, руб.: "+ total);
    }

    function change(id, count){
            $.get(
                "/catalog/cart/change/",
                {prod_id: id, count:count},
                 function(data){
                   // reload cart
                   $("#cart_preview").load("/catalog/cart/preview/");
                   }
            );        
    }

    $(".col").change(function(){
        var count = $(this).val();
        var price = $(this).attr("price");
        var id = $(this).attr('id');
		var prod_id = $(this).attr('prod_id');
        $("#zak"+id).text(count*price);
        change(prod_id,count);
        total_price();
    });

    $(".delete").click(function(){
        var id = $(this).attr('pr_id');
        $.get(
                "/catalog/cart/delete/",
                {prod_id: id},
                 function(data){
                   }
            );
              $(this).parent('td').parent('tr').empty();
            total_price();
            $("#cart_preview").load("/catalog/cart/preview/");

    });

    $("tr[zakaz_id]").each(function() {
        count = $(this).children("td").children(".col").val();
        price =  $(this).children("td").children(".col").attr('price');
        $(this).children("td[total_cost]").text(count*price);

    });

</script>