<!-- container-->
<div id="container">
    <!-- content-->
    <div id="content" class="home">
        <div class="inner">
            <?=$this->page->getBread(true)?>
            <?=$this->Contacts();?>
        </div>
        <!-- End content-->
    </div>
</div>
<!-- End container-->
