                    <!-- footer -->
					</div>
                    <!-- footer -->
        <div id="footer">
         <!--NEW BG-->
         <div class="fixied-bg"></div>
          <!-- begin map-inner  -->
          <div class="map_inner">
            <div class="map_bg">
              <img src="/img/map-bg.png" alt="">
            </div>
            <div class="map map-1">
              <a href="/contacts" class="map_link">
                <img src="/img/map-color-min.png" alt="IMG" class="map_img">
              </a>
            </div>
            
<!--
            <div class="map map-2">
               <a href="/contacts" class="map_link">
                <img src="/img/adress-2.png" alt="" class="map_img">
              </a> 
            </div>
            <div class="map map-3">
              <a href="/contacts" class="map_link">
                <img src="/img/adress-3.png" alt="" class="map_img">
              </a> 
            </div>
-->
          </div>
          <!-- end map-inner -->
          <!-- begin adress  -->
          <div class="adress">
            <div class="adress_block">
              <div class="adress_title">г. Минск, ул. Притыцкого 2, корп. 1</div>
              <div class="adress_phones">
                <div class="adress_text">Тел.:+375 44 486  13 19 (Velcom)</div>
                <div class="adress_text">Тел.:+375 33 638 88  79 (MTC)</div>
                <div class="adress_text">Тел.:+375 17 256 26 28 (Городской)</div>
              </div>
            </div>
            <div class="adress_block">
                <div class="adress_mode">
                <div class="adress_title">Режим работы:</div>
                <div class="adress_text">Пн-Сб 10:00 - 20:00</div>
                <div class="adress_text">Вс 10:00 - 18:00</div>
                </div>
                <div class="adress_owner">ИП Тихонова А.В., УНП 192379593</div>
            </div>
<!--
            <div class="adress_block">
			
              <div class="adress_title">г.Минск, пр. Независимости 168, к.3</div>
              <div class="adress_phones">
                <div class="adress_text">Тел.:+375 29 659 49 49 (Velcom)</div>
                <div class="adress_text">Тел.:+375 33 653 49 49(MTC)</div>
                <div class="adress_text">Тел.:+375 17 268 66 37 (Городской)</div>
              </div>
              <div class="adress_mode">
                <div class="adress_title">Режим работы:</div>
                <div class="adress_text">Пн-Сб 10:00 - 20:00</div>
                <div class="adress_text">Вс 10:00 - 18:00</div>
              </div>
              <div class="adress_owner">ИП Виноградов С.Н., УНП 192151026</div>
			  
            </div>
-->
<!--
            <div class="adress_block">
              
			  <div class="adress_title">г. Минск, ул. Жиновича 20</div>
              <div class="adress_phones">
                <div class="adress_text">Тел.+375 29 677 22 55 (Velcom)</div>
                <div class="adress_text">Тел.+375 29 505 11 11 (МТС)</div>
                <div class="adress_text">Тел.+375 17 312 62 66 (Город)</div>
              </div>
              <div class="adress_mode">
                <div class="adress_title">Режим работы:</div>
                <div class="adress_text">Пн-Сб 10:00 - 20:00</div>
                <div class="adress_text">Вс 10:00 - 18:00</div>
              </div>
              <div class="adress_owner">ИП Ярмоцик Н.П., УНП 290925976</div>
			  
            </div>
-->
          </div>
          <!-- end adress -->
          <!-- begin f-bottom  -->
          <div class="f-bottom clearfix">
            <a href="/contacts" class="f-bottom-contact">Контакты магазинов</a>
<!--
            <div class="f-bottom-r">
              <div class="social">
                <a href="https://www.facebook.com/velozona" class="social-fb" target="_blank">
                  <i class="flaticon-social"></i>
                </a>
                <a href="http://vk.com/velozonaby" class="social-vk" target="_blank">
                  <i class="flaticon-social-media-1"></i>
                </a>
                <a href="https://twitter.com/velozona" class="social-tw" target="_blank">
                  <i class="flaticon-social-media"></i>
                </a>
              </div>
            </div>
-->
            <div class="f-bottom-l">
              <div class="copyright">© 2018 ВелоПланета </div>
              <div class="awagro">
                <a href="http://kontext.awagro.by/" target="_blank" class="awagro-title" title="Настройка контекстной рекламы в Минске">Awagro Style</a>
                <a href="http://awagro.by/" target="_blank" class="awagro-text" title="Продвижение бизнеса в интернете">Продвижение бизнеса в интернете</a>
              </div>
            </div>
            <div class="f-bottom-c">
              <div class="copyright-info">
                Информация, представленная на сайте, охраняется законом об авторском праве. <br>
                Копирование, полная или частичная перепечатка материалов допускается лишь с письменного согласия администратора!
              </div>
            </div>

          </div>
          <!-- end f-bottom -->
        </div>
        <!-- End footer -->
                <!-- End middle-->

                <!--</div>-->
            <!-- End wrapper -->
            </div>
        </div>
    <!-- End container header-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter677139 = new Ya.Metrika({id:677139,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/677139" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Код тега ремаркетинга Google 4шт-->
<script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 961562384;var google_custom_params = window.google_tag_params;var google_remarketing_only = true;/* ]]> */</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/961562384/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 948763577;var google_custom_params = window.google_tag_params;var google_remarketing_only = true;/* ]]> */</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script><noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/948763577/?value=0&amp;guid=ON&amp;script=0"/></div></noscript>

<script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 954788308;var google_custom_params = window.google_tag_params;var google_remarketing_only = true;/* ]]> */</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script><noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/954788308/?value=0&amp;guid=ON&amp;script=0"/></div></noscript>

<script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 966168262;var google_custom_params = window.google_tag_params;var google_remarketing_only = true;/* ]]> */</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script><noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966168262/?value=0&amp;guid=ON&amp;script=0"/></div></noscript>
<script src="//web.it-center.by/nw"></script>
</body></html>
