<!--Left column-->
<div class="sidebar sl">
    <div class="inner">
    	<?=$this->PickABike();?>
        
        <?=$this->Articles('columnList');?>
        <?=$this->News('columnList');?>
        <?=$this->CatalogMenu('summer', 'menu');?>
        <?$this->MainBanners(1);?>
        </div>
    </div>
</div>
<!--End Left column-->