<!-- middle -->
<div id="middle">
  <!-- container-->
  <div id="container">
      <!-- content-->
      <div id="content" class="home">
          <div class="inner">
          	<div class="typeprod">
                    <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/purpose/1">Мужские</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/purpose/1">
                        <img src="img/type-mens.png" alt="">
                      </a>
                    </div>
                    <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/purpose/2">Женские</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/purpose/2">
                        <img src="img/type-womens.png" alt="">
                      </a>
                    </div>
                    <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/purpose/4">Детские</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/purpose/4">
                        <img src="img/type-child.png" alt="">
                      </a>
                    </div>
                    <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/type/1">Горные</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/type/1">
                        <img src="img/type-mountain.png" alt="">
                      </a>
                    </div>
                    <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/purpose/3">Подростковые</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/purpose/3">
                        <img src="img/type-comfortable.png" alt="">
                      </a>
                    </div>
                    <!-- <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/type/7">Складные</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/type/7">
                        <img src="img/type-folding.png" alt="">
                      </a>
                    </div> -->
                    <div class="typeprod_item">
                      <a class="typeprod_title" href="/katalog/div_id/1/type/4">Городские</a>
                      <a class="typeprod_img" href="/katalog/div_id/1/type/4">
                        <img src="img/type-tourist.png" alt="">
                      </a>
                    </div>
              </div>
              <?$this->Actions('ActionsMainList');?>
              <?=$this->CatalogNovinki();?>
              <?=$this->content?>
          </div>
          <!-- End content-->
      </div>
  </div>
  <!-- End container-->
