<html xmlns="http://www.w3.org/1999/xhtml" data-livestyle-extension="available" class="">
<head>
    <? if (isset($this->options->title)) {?>
        <title>Велопланета: <?=$this->options->title?></title>
    <?}
    else {?>
    <title>Велопланета</title>
    <?}?>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="generator" content="HAPedit 3.1">
<meta name='yandex-verification' content='57f81e43a82fa244' />
                                           
        <meta name="description" content="<?=isset($this->options) ? $this->options->descriptions : ''?>" />
        <meta name="keywords" content="<?=isset($this->options) ? $this->options->keywords : ''?>" />
        <meta name="google-site-verification" content="ktG0ywicPoCZN-ZLSK5k-MR2w-PmMoRhRZ9SgJl3w8w" /> 
<meta name="google-site-verification" content="4Z2GkkZ6BgeZ_1CLliZR-F-ScP4KVAWw2NiO9MH0kaA" /> 
<!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" disabled="">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css" title="default">
    <link rel="stylesheet" href="/css/fm.checkator.jquery.css" type="text/css" title="default">
    <link rel="stylesheet" href="/css/slick.css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" title="default">
    <link rel="stylesheet" href="/css/tablet.css" type="text/css" title="default">
    <link rel="stylesheet" href="/css/mobile.css" type="text/css" title="default">
    <link rel="shortcut icon" href="/img/favicon.ico" disabled="">
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/ie6.css"  title="default"/>
    <script  language="JavaScript" src="/js/png.js" type="text/JavaScript"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css"  title="default"/>
    <![endif]-->
    <!--script type="text/javascript" src="/js/jquery.js"></script-->
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/slick.js"></script>
    <script type="text/javascript" src="/js/fm.checkator.jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>    
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/dynamiclayout.js"></script>
    <script type="text/javascript" src="/js/cart.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script language="JavaScript" src="/js/png.js" type="text/JavaScript"></script>

    <style type="text/css">.fancybox-margin{margin-right:21px;}</style>

<!-- Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44949017-3', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>
<!--Container header-->
<div class="container contacts internal">

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- header-->
    <div id="header" class="header">
    <!--Top menu-->
        <div class="top_menu">
            <!--logo-->
           <div class="logo">
               <a href="/"><img src="/img/new-logo.jpg" alt="Велопланета" title="Велопланета"></a>
           </div>
           <!--End logo-->
    		<div class="burger">
    		  <i class="flaticon-interface"></i>
            </div>
            <?=$this->Menu('horizontal_top_menu', 'ru', $this->page->id);?>
            <!--Start Phone-->
                <a href="tel: +375444861319" class="header-phone">+375 44 486 13 19</a>
            <!--End Phone-->
        </div>

       <!--End top menu-->
       <!--Search-->
      <form method="get" action="<?$this->baseUrl();?>/search">
        <div class="search">
          <input id="keywords" class="text idleField" type="text" name="keywords"/>
          <input type="submit" name="" value="">        
        </div>
      </form>
       <!--End search-->
       <div class="clear"></div>
       <!--header menu-->
        <?=$this->CatalogMenuVel('summer', 'menu');?>
     <!--End header menu-->
         </div>
    
    
    
    <!-- End header-->
   