<!-- container-->
<div id="container">
    <!-- content-->
    <div id="content" class="home">
        <div class="inner">
               
        </div>
        <!-- End content-->
    </div>
</div>
<!-- End container-->
