    <div id="middle">
    <div id="container">
    <div id="content" class="home">
        <?if ($this->tovar->show_3dmodel == 1) {?>
        <div id="popup_3d" style="display:none;">
            <span id="prev" class="icon-left"></span>
            <span id="next" class="icon-right"></span>
            <span id="toggle" class="icon-rotate"></span>
            <span class="develop"><a href="http://3d.awagro.by/" target="_blank">Разработка<br>3D.awagro.by</a></span>
            <div id="prod_3d"></div>
        </div>
        <!--script type="text/javascript" src="/img/models/spritespin.js"></script-->
        <script type="text/javascript" src="/js/spritespin.js"></script>
        <!--div class="spritespin"></div-->
        <script type="text/javascript">
            var host = 'http://velozona.awagro.com/';
            var host2 = 'http://velozona.by/';
            $('#prod_3d').spritespin({
                source: SpriteSpin.sourceArray(host2+'upload/3d/'+<?=substr($this->tovar->id, 0, strlen($this->tovar->id) - 3)?>+'/images/img_0_0_{frame}.jpg', { frame: [0,34], digits: 1 }),
                width: 640,
                height: 480,
                frames: 35,
                framesX: 6,
                frameTime: 80,
                sense: -1,
                renderer: 'image'
            });
            var spin = $('#prod_3d');
            var api;

            api = spin.spritespin("api");

            $('#prev').click(function(){
                api.stopAnimation();
                api.prevFrame();
            });

            $('#next').click(function(){
                api.stopAnimation();
                api.nextFrame();
            });

            $('#toggle').click(function(){
                api.toggleAnimation();
            });
        </script>
        <?}?>
        <div class="inner">
            <? if (isset($this->division)) echo $this->division->getBread($this->tovar->name, false);
                elseif (isset($this->page)) echo $this->page->getBread(true);
            ?>
            <div class="block_blue head">
                <h1><?=$this->tovar->name?></h1>
            </div>
            <div class="cart_page">
                <div class="bestseller_block relative <?if($this->tovar->show_3dmodel){echo('tovar_3d');}?>">
                    <div class="item">
                        <div class="block">



						  <div class="photo">
						  	<a target="about:blank" href="/pics/catalog/tovar/<?=$this->tovar->img_big?>">	
								<!--<a target="about:blank" href="<?=$this->tovar->img_big?>">-->
                                  <!--<img src="<?=$this->tovar->img_show?>" alt="<?=$this->tovar->name?>" />-->
                                  <img src="/pics/catalog/tovar/<?=$this->tovar->img_show?>" alt="<?=$this->tovar->name?>" />								  
                            </a>
                          </div>


                         <div class="button_bike">
                              <div class="r">
                                  <a href="/rassrochka" target="_blank">Кредит и рассрочка</a>
                              </div>
                              <div class="l">
                                <div class="price_product_title">Цена для РБ: </div>
                                <div class="price_product_wrap">

                                    <div class="price_listing_coin">
                                        <span class="new">
                                          <?if($this->tovar->id == 3385000 || $this->tovar->id == 3395000){?>

                                              Уточняйте актуальную цену в магазинах
                                          <?}else{?>

                                              <?php if($this->tovar->price > 0){?>
                                                  <?=number_format($this->tovar->price/10000,2,',',' ')?>
                                                  <span>руб.</span>
                                              <?php } else {?>
                                                  Распродано!
                                              <?php }?>
                                          <?}?>

                                        </span>
                                      <?if ($this->tovar->oldprice > 0){?>
                                        <span class="old"><?=number_format($this->tovar->oldprice/10000,2,',',' ')?></span>
                                      <?}?>
                                    </div>
                                </div>
                              </div>
                          </div>

                        </div>
                    </div>
            <?if ($this->tovar->show_3dmodel == 1) {?>
                    <div class="imgprod_3d" data-fancybox-href="#popup_3d"><i class="flaticon-shapes"></i></div>
            <?}?>

                </div>
                <div class="panels">
                        <div class="tabs">
                            <div class="tab active">Описание</div>
                            <div class="tab">Характеристики</div>
                        </div>
                        <div class="tab_content">
                            <div class="tab_item">
                                <div class="tovarDescription description1"><?=$this->tovar->description?></div>
                            </div>
                            <div class="tab_item">
                                <div class="tovarDescription description2"><?=$this->tovar->description?></div>
                            </div>
                        </div>
                </div>





            </div>
        </div>
    </div>
</div>
