/*
 * Ext JS Library 2.0 RC 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.details{
	padding: 10px;
	text-align: center;
}
.details-info{
	border-top: 1px solid #cccccc;
	font: 11px Arial, Helvetica, sans-serif;
	margin-top: 5px;
	padding-top: 5px;
	text-align: left;
}
.details-info b{
	color: #555555;
	display: block;
	margin-bottom: 4px;
}
.details-info span{
	display: block;
	margin-bottom: 5px;
	margin-left: 5px;
}
.ychooser-dlg select{
	font-size: 12px;
}
.ychooser-view{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
	overflow: auto;
}
.ychooser-view .thumb{
	background: #dddddd;
	padding: 3px;
}
.ychooser-view .thumb img{
	height: 60px;
	width: 80px;
}
.ychooser-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.ychooser-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}
.ychooser-view .x-view-selected{
	background: #c3daf9;
	border: 2px solid #6593cf;
	padding: 3px;
}
.ychooser-view .x-view-selected .thumb{
	background:transparent;
}
.ychooser-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
